img{
	border:0;
}
.userinfo .word span:hover,
.userinfo .see a:hover,
.SideR .moreinfo .m-moreInfo a:hover,
.comment_form .cont .list a:hover{color:#f40;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.MainContainer{margin-top:20px;}
.MainContainer .MainL{width:870px;padding-right:30px; vertical-align:top;}
.MainContainer .SideR{width:25%; vertical-align:top;}
/*
*基本内容 
*/
#viewarticle .head{ height:40px; background:#ececec; line-height:40px; border:1px solid #dfdfdf; position:relative;}
#viewarticle .head div{float:left;}
#viewarticle .head .L{position:absolute; height:41px; top:0; left:0; padding-left:10px;padding-right:15px; font-size:15px; font-weight:bold; color:#333; background:#fff;}
#viewarticle .head .L span{display:block;}
#viewarticle .head .R{float:right; padding:0 15px 0 25px; position:relative;}
#viewarticle .head .R:before{content:''; display:block; width:20px; height:20px; position:absolute; top:12px; left:0; background:url('flag.png') -113px -73px no-repeat;}
#viewarticle .head .R a{color:#ff9900;}
#viewarticle .cont{border:#dfdfdf solid 1px; border-top:0;}
#viewarticle .conttd{padding:10px;}
#viewarticle .conttd .baseinfo{width:60%; line-height:30px; color:#999; float:left; margin-bottom:20px;}
#viewarticle .conttd .action{line-height:25px;float:right; margin-bottom:20px;}
#viewarticle .conttd .action a{margin-left:8px;}
#viewarticle .conttd .showinfo{vertical-align:top; line-height:20px;}
#viewarticle .conttd .showinfo a{
	color:#2754BB;
}
#viewarticle .conttd .infopic{
	padding-left:200px;
	padding-top:10px;
	text-align:center;
}
#viewarticle .conttd .infopic a{
	display:block;
}
#viewarticle .conttd .infopic a.pic{
	width:120px;
	height:90px;
	border:#CCC solid 1px;
	padding:1px;
	margin:0 auto;
}
#viewarticle .conttd .infopic a.word{
	padding-top:5px;
}
#viewarticle .conttd .moreaction{padding-top:20px; word-spacing:15px;}

#viewarticle .conttd .moreaction input{width:100px; height:40px; line-height:40px; border:0; color:#fff; border-radius:8px; cursor:pointer; background:#1aa4ed;}
#viewarticle .conttd .moreaction input:first-child{background:#ccc;}
/* moreinfo */
.SideR .moreinfo{margin-top:20px; border:1px solid #dfdfdf;}
.SideR .moreinfo .head{height:40px; padding-left:15px; line-height:40px; font-size:15px; color:#333; background:#ececec; border-bottom:1px solid #dfdfdf;}
.SideR .moreinfo .m-moreInfo{padding:15px 10px;}
.moreinfo .m-moreInfo div{line-height:25px;}
.moreinfo .m-moreInfo span{display:inline-block; padding-right:5px;}
.moreinfo .m-moreInfo .m-linkman a{height:25px; padding-left:30px; padding-right:15px; line-height:25px; margin-left:10px; border:1px solid #dfdfdf; border-radius:3px; color:#dfdfdf; position:relative;}
.moreinfo .m-moreInfo .m-linkman a:before{content:''; display:block; width:16px; height:16px; position:absolute; left:5px; top:2px; background:url('flag.png') -114px -53px no-repeat;}
.moreinfo .m-moreInfo div a{color:#ff9900;}
.SideR .moreinfo .Reminded{margin:10px; padding-top:10px; border-top:#dfdfdf solid 1px; font-size:14px; line-height:20px; color:#666;}
.SideR .moreinfo .Reminded div{font-weight:bold; color:#1aa4ed; line-height:30px; position:relative; padding-left:36px;}
.SideR .moreinfo .Reminded div:before{content:''; display:block; width:22px; height:22px; position:absolute; left:5px; top:4px; background:url('flag.png') -132px -50px no-repeat;}
.rightad img{width:100%;}
.m-adlist .head{padding-left:15px; color:#333; font-size:15px;}

#titles{clear:both; font-size:16px; color:#333; line-height:30px; font-weight:bold;}
.m-showCont{line-height:30px; margin-top:15px; font-size:15px;}
.m-showCont a{font-size:15px;}
/* m-pic */
.m-pic{width:426px; margin-right:20px;}
.m-pic .bigPic{width:420px; height:310px; position:relative; border:1px solid #dfdfdf; padding:2px;}
.m-pic .bigPic ul li{width:420px;display:none; top:2px; left:2px; text-align:center; position:absolute;}
.m-pic .bigPic ul li:first-child{display:block;}
.m-pic .bigPic ul li img{height:310px; max-width:420px;}
.m-pic .smallPic{width:420px; overflow:hidden; position:relative; padding:2px; border:1px solid #dfdfdf;}
.m-pic .smallPic ul{width:9999px; position:absolute;}
.m-pic .smallPic ul li{float:left; width:97px; height:95px; margin-right:10px;}
.m-pic .smallPic ul li.choose{height:93px; border: 1px solid #ff9900;}
.m-pic .smallPic ul li.choose img{height:93px;}
.m-pic .smallPic ul li img{width:97px; height:95px;}
.smallPic .prev,.smallPic .next{float:left; width:20px; font-size:20px; line-height:97px; background:#1aa4ed; text-align:center; color:#fff; cursor:pointer;}
.smallPic .next{float:right;}
.smallPic .piclists{position:absolute; left:25px; top:2px; width:370px; height:95px; overflow:hidden;}

.contInfo{border:1px solid #dfdfdf; margin-top:20px;}
.contHead,.sidecontainer .head{background:#ececec; height:40px;}
.contHead span,.sidecontainer .head span{display:block; background:#fff; width:120px; text-align:center; line-height:40px; font-size:15px; color:#333}
.m-Conts{padding:15px 15px 20px 15px;}
#contents{line-height:25px;}
.sidecontainer{margin-top:20px; border:1px solid #dfdfdf;}
.sidecontainer .foot{padding-right:5px;}
.sidecontainer .cont{padding:5px;}
/*
*信息推广
*/
.mainaction .TopHead{height:5px;}
.mainaction .TopHead table{height:5px;width:50%;}
.mainaction .BottomFoot{height:5px;}
.mainaction .BottomFoot table{height:5px; width:50%;}
.mainaction .MiddleCont{background:#ededed;padding:10px 0 5px 5px;}
.mainaction .MiddleCont a{display:block; width:50%; overflow:hidden; height:48px;float:left; margin-bottom:10px;}
.mainaction .MiddleCont a.post{background:url(list1.png) center top no-repeat;}
.mainaction .MiddleCont a.tg{background:url(list3.png) center top no-repeat;}
.mainaction .MiddleCont a.m-listedit{background:url(list2.png) center top no-repeat;}
.mainaction .MiddleCont a.m-listrz{background:url(list4.png) center top no-repeat;}
/*
*发布人信息
*/
.userinfo .head{height:35px; line-height:35px; border-bottom:1px solid #e5e5e5;}
.userinfo .head span{float:left; padding-left:10px; font-size:15px; font-weight:bold; color:#DE6014; border-bottom:1px solid #ffb27f}
.userinfo .see{padding-right:5px; border-bottom:1px solid #dfdfdf;}
.userinfo .see a{display:block; padding:3px 0 10px 20px; color:#ff9900;}
.userinfo .img{width:20%; padding:10px;}
.userinfo .img img{max-width:120px; height:130px; border-radius:2px;}
.userinfo .word{width:75%; line-height:25px;}
.userinfo .word span{font-weight:bold; color:#009;}
/*
*付费推广
*/
.sidecontainer .foot table{
	background:url(fenlie_rboxbg.gif) left bottom no-repeat;
	height:5px;
}

.sidecontainer .cont #side_adinfo div{
	line-height:22px;
	overflow:hidden;
	padding-left:8px;
}
/*
*评论部分样式
*/
.commentTable{margin-top:20px;}
.m-commentInfo{width:570px; border:1px solid #dfdfdf;}
.m-commentInfo th{width:100%; height:40px; line-height:40px; background:#ececec;  border-bottom:0;}
.m-commentInfo th span.L{float:left; background:#fff; padding:0 20px 0 20px; line-height:40px; font-size:15px;}
.m-commentInfo th span.R{
	float:right;
	padding:6px 10px 0 0;
	line-height:25px;
	font-weight:normal;
	color:green;
}
.commentTable .listcomment{}
.commentTable .addcomment{
	width:50%;
	padding:10px 10px 10px 0;
}
#comment{padding-bottom:15px; padding:10px;}
#comment .no_comment{
	text-align:center;
	line-height:200px;
	background:url(check_company.gif) 60px 70px no-repeat;
	font-size:32px;
	color:#CFBD8C;
	border-bottom:#E5E5E5 solid 1px;
}
#comment .list_table{
	border-bottom:#E5E5E5 solid 1px;
}
#comment .list_table .img{
	width:15%;
	text-align:center;
	padding:10px 10px 5px 10px;
}
#comment .list_table .img a{
	display:block;	
}
#comment .list_table .img a.p{
	width:50px;
	height:50px;
	padding:5px;
	overflow:hidden;
	background:url(comment_hicon.gif) center top no-repeat;
	margin-bottom:8px;
}
#comment .list_table .cont{
	width:85%;
	padding:10px 5px 5px 0;
	line-heihgt:20px;
	font-size:13px;
}
#comment .list_table .info{
	height:25px;
	background:#F8F8F8;
	line-height:25px;
}
#comment .list_table .info .l{
	float:left;
	padding-left:10px;
	color:#999;
}
#comment .list_table .info .l a{
	padding-left:20px;
	color:#666;
}
#comment .list_table .info .l .fl{
	background:url(comment_fl.gif) left top no-repeat;
}
#comment .list_table .info .l .egg{
	background:url(comment_egg.gif) left top no-repeat;
}
#comment .list_table .info .l em{
	font-style:normal;
	color:red;
}
#comment .list_table .info .r{
	float:right;
	padding-right:10px;
	padding-top:2px;
}
/* cclist_table */
.cclist_table .itd{padding:10px 15px;}
.cclist_table{border-bottom:#DDD solid 1px;}
.cclist_table .itd a{display:block; width:80px; text-align:center;}
.cclist_table .itd a img{max-width:80px; height:80px;}
.cclist_table .contents{padding-top:2px; color:#666;}
.cclist_table .contents div{line-height:25px;}
.cclist_table .contents div em{color:#ff9900;}
.cont-Info span a{color:#1aa4ed;}
.cont-Info span a:hover{color:#f40;}
.cont-Info span:last-child{color:#999;}
.cclist_table .contents div span{padding-right:10px;}
.cclist_table .info{padding:3px 10px 5px 10px; color:#888; text-align:right;}
#viewarticle,.userinfo,.sidecontainer,.commentTable{background:#FFF;}
/* page */
#comment .page{padding:10px 0; height:30px; line-height:30px; text-align:center;}
#comment .page a{border:#DDD solid 1px; padding:3px 5px 2px 5px; color:#999;}
#comment .page a:hover{border:blue solid 1px; color:red;}
/* addcomment */
.m-commentGo{vertical-align:top;}
.addComments,.m-newsInfo{float:right; border:#dfdfdf solid 1px; width:590px; }
.comment_form .head{height:40px; line-height:40px; background:#ececec;}
.comment_form .head .L{float:left; padding:0 20px; background:#fff; font-size:15px;}
.comment_form .head .R{float:right; padding-right:20px;}
.comment_form .left{width:15%; text-align:right; padding:10px;}
.comment_form .right{float:left; padding-top:10px;}
.comment_form  .right textarea{
	width:350px;
}
#comment_submit{margin-bottom:10px; width:100px; height:30px; line-height:30px; background:#f9861f; color:#fff; font-size:15px; text-align:center; border-radius:5px; border:0;}
.comment_form  .cont{
	padding:5px;
}
.comment_form  .cont .list{
	padding-top:5px;
	height:20px;
	line-height:20px;
}
.comment_form  .cont .list span{
	display:block;
	width:50px;
	float:left;
	text-align:right;
	border-right:#CCC solid 1px;
	padding-right:10px;
	color:red;
}
.comment_form  .cont .list a{
	float:left;
	padding-left:8px;
	color:#226395;
}


/************/
#comment .content{
	width:100%;
	border-bottom:dotted 1px #ddd;
	margin-bottom:5px;
	margin-top:5px;
}
#comment .content .word{
	padding-left:5px;
	height:50px;
}
#comment .content .img{
	padding:0 1em 3px 0;
	
}
#comment .content .info{
	padding:2px 0 0 5px;
	text-align:right;
}
#comment .img .p img{
	width:50px;
	height:50px;
	padding:3px;
}
#comment .img .p{
	display:block;
	width:58px;
	height:58px;
	background:url(icobg.gif);
}
/**************点评显示样式***********************/
#wydianping{
	padding:8px;
}
#wydianping #comment{
	border:0;
	border-top:#F4EEDA solid 1px;
}
#comment .listdianping{
	border:#F4EEDA solid 1px;
	border-top:0;
	background:#FCFCFB;
}
.listdianping .img,.listdianping .ly{
	border-right:#F4EEDA solid 1px;
	width:10%;
	text-align:center;
	padding:0 10px 5px 10px;
}
.listdianping .img a{
	display:block;
	margin:0 auto;
}
.listdianping .img a.p{
	width:50px;
	height:50px;
	border:#CCC solid 1px;
	padding:1px;
	margin-top:8px;
	margin-bottom:5px;
	
}
.listdianping .cont{
	padding:10px 10px 5px 10px;
	line-height:20px;
}
.listdianping .cont .fen_show{
	color:#888;
}
.listdianping .info{
	vertical-align:middle;
	text-align:right;
	padding-right:10px;
	color:#888;
}
.listdianping .info span{
	color:red;
}
.listdianping .info em{
	color:blue;
	font-style:normal;
}
#posttbale{
	margin-top:10px;
	border-top:1px solid #CFBD8C;
	background:#FAF7EF;
}
#posttbale td{
	padding:10px 0 10px 0;
}
#posttbale dl{
	clear:both;
}
#posttbale dl dt{
	width:10%;
	float:left;
	text-align:right;
	line-height:25px;
	padding-right:15px;
}
#posttbale dl dd{
	width:80%;
	float:left;
}