
#top_searchs,#main_tb{margin-top:20px;}
#top_searchs .top{height:47px; background:#ececec; border:1px solid #dfdfdf; position:relative;}
#top_searchs .top:before{content:''; display:block; position:absolute; width:25px; height:25px;left:20px; top:12px; background:url('flag.png') -85px -185px no-repeat;}
#top_searchs .top .L{float:left; height:47px; width:165px; color:#333; font-size:18px; padding:0 0 0 60px; line-height:48px;}
#top_searchs .top .R{float:right; height:47px; width:440px; background:#ddd; position:relative;}
#top_searchs .top .R:before{content:''; display:block; position:absolute; width:50px; height:47px; left:-47px; top:2px; background:url('flag.png') -109px -1px no-repeat;}
#top_searchs .main{border:1px solid #dfdfdf; border-top:0; padding:0 30px 10px 30px;}


/*
*排列搜索 
*/
.listsearch{line-height:30px; font-size:15px;}
.listsearch div{padding:15px 0; border-top:1px dotted #dfdfdf;}
.listsearch span.t{color:#888;}
.listsearch span.f{color:#333;}
.listsearch span.f a{padding:0 8px;}

/*
*街道选择 
*/
.m-zoneChoose{float:left; letter-spacing:1em; color:#888;}
#zone_street_menu{}
#zone_street_menu .zone{height:30px; line-height:30px; padding:15px 0 10px 0; font-size:15px;}
#zone_street_menu .zone a{color:#333;}
#zone_street_menu .zone span{display:block; float:left; padding-left:10px; line-height:30px; margin-right:8px;}
#zone_street_menu .zone span a{display:block;height:30px; overflow:hidden; padding-right:10px; font-size:15px;}
#zone_street_menu .zone span:hover,#zone_street_menu .zone span.choose{background:#1aa4ed;}
#zone_street_menu .zone span:hover a,#zone_street_menu .zone span.choose a{color:#fff;}
#zone_street_menu .street{background:#F1F1F1; padding:8px; line-height:25px;}
#zone_street_menu .street a{display:inline-block; margin-right:8px; font-size:15px;}
#zone_street_menu .street .choose{color:red;}

.maintb .top div{
	float:left;
}
.maintb .top{
	height:45px;
	background:url(m1.gif);
}
.maintb .top .EL{width:9px; height:45px;}
.maintb .top .ER{width:9px; height:45px; float:right;}
.maintb .top .s2{width:101px; height:27px; padding-top:18px; text-align:center;

}
.maintb .top .s2 a{font-weight:bold; font-size:14px; color:#fff; cursor: default;}
.maintb .top .s1{width:101px; height:27px; padding-top:18px; text-align:center;}
.maintb .top .s1 a{
	font-size:14px;
	cursor: hand;
}
.maintb .main{
	border:1px solid #DADADA;
	border-top:0px;
	padding:12px;
}

.maintb .main .ltb{
	margin-bottom:10px;

}
.maintb .main .ltb td{
	padding-bottom:10px;
	VERTICAL-ALIGN: middle;
	
}
.maintb .main .ltb .tt{
	VERTICAL-ALIGN: top;
	line-height:20px;
	color:#999;
}
.maintb .main .ltb .tt .wd{
	color:#3074C1;
	font-weight:bold;
	font-size:14px;
}

.maintb .main .ltb .ii a{
	display:block;
	width:95px;
	height:70px;
	border:1px solid #ddd;
}
.maintb .main .ltb .ii img{
	width:95px;
	height:70px;
	border:2px solid #fff;
}
.maintb .main .ltb .cc{
	color:#FF6600;
	font-weight:bold;
	font-size:22px;
	font-family : 黑体;
}
.maintb .main .ltb .aa{
}

#s_tops{
	width:870px;
}
#main_tb .tops{height:30px; line-height:30px; color:#333; font-size:15px; border-bottom:2px solid #1aa4ed;}
#main_tb .tops .tp:first-child{color:#1aa4ed;}
#main_tb .tops .tp{margin-left:10px;}
#main_tb .dragtb{width:423px; float:left; border:1px solid #ddd; margin-top:20px; margin-right:20px;}
#main_tb .dragtb .a2,#main_tb .dragtb .a3{height:30px; line-height:30px; color:#666;}
#main_tb .dragtb .lastA2{background:#f0f0f0}
#main_tb .dragtb .ii{
	display:block;
	width:120px;
	height:145px;
	border:1px solid #ddd;
	margin-bottom:5px;
	padding:2px;
}
#main_tb .dragtb .ii img{
	width:120px;
	height:145px;
}

#main_tb .dragtb .iitd{padding:12px 0 15px 10px;}
#main_tb .dragtb .iitd a{color:#333; font-size:16px;}
#main_tb .dragtb .iitd a:hover{color:#f40;}
.mtd{
	padding: 10px 8px 0 12px;
}
.btb .ttp{position:relative; height:30px; line-height:30px; border-bottom:1px dotted #dfdfdf; font-size:15px; color:#333;}
.btb .ttp:before{content:''; display:block; width:20px; height:20px; position:absolute; left:0; top:5px; background:url('flag.png') -60px -190px no-repeat;}
.btb .ttp .dL{padding-left:20px;float:left;}
.btb .ttp .dR{float:right;}
.btb .ttp .dR a{color:#1aa4ed;}
.btb .ttp .dR a:hover{font-weight:600;}
.btb .mmp{padding-top:5px;}
.btb .mmp div{line-height:30px; padding-left:15px; position:relative;}
.btb .mmp div:before{content:''; display:block; width:5px; height:5px; position:absolute; left:2px; top:12px; background:#ccc; border-radius:50%;}
.btb .mmp div a{
	color:#666;
}
.dragtb .ta{
	float:left;
	width:48%;
	padding-top:5px;
	padding-left:10px;
	color:#888888;
}
.dragtb .tb{
	padding-top:5px;
	float:right;
	width:49%;
	color:#888888;
}
.dragtb .fu{
	width:60%;
}
.dragtb .goin{
	text-align:right;
	width:30%;
	padding-right:18px;
}
.dragtb .goin a{color:#ff9700;}
.dragtb .goin a:hover{font-weight:600;}
#Rtop{height:203px; border:1px solid #dfdfdf; background:#efefef; color:#333;}
#Rtop .a1{height:30px; line-height:30px; font-weight:bold; padding-top:15px; font-size:15px; text-align:center;}
#Rtop em{display:inline-block; padding-right:8px; font-weight:600; font-size:15px; color:#ff9700; font-style:normal;}
#Rtop .a2{padding:12px 0 0 35px;}
#Rtop .a3{padding:16px 0 0 35px;}
#Rtop .a4{padding:16px 0 0 35px;}
#Rtop .a5{width:200px; height:50px; line-height:50px; padding-left:20px; margin:20px auto; cursor:default; background:#1aa4ed; color:#fff; font-size:16px; position:relative;}
#Rtop .a5:after{content:''; display:block; width:20px; height:20px; position:absolute; right:10px; top:15px; background:url('flag.png') -89px -103px no-repeat;}
.Rmtb{margin-top:20px; border:1px solid #dfdfdf;}
.Rmtb .top{height:40px; background:#ececec; position:relative; padding:5px 0;}
.Rmtb .top div{height:40px; line-height:40px; margin-left:25px; font-size:15px;  color:#333;}
.Rmtb .top:before{content:''; display:block; width:3px; height:15px; position:absolute; left:10px; top:18px; background:#767676;}
.Rdrag{border-bottom:1px dotted #dfdfdf;}
.Rdrag .tii{padding:20px 5px 0 0px;}
.Rdrag .tii .ii{display:block; width:100px; height:120px; border:1px solid #ddd; padding:2px;}
.Rdrag .tii .ii img{width:100px; height:120px;}
.Rdrag .mii{padding:20px 0 0 5px;}
.Rdrag .mii .name a{color:#1aa4ed; font-size:15px;}
.Rdrag .mii .about{margin-top:15px; line-height:25px; color:#888;}
.Rdrag .goin{width:120px; height:30px; line-height:30px; padding:0 20px 0 20px; background:#1aa4ed; position:relative; margin-bottom:20px;}
.Rdrag .goin:after{content:''; display:block; width:20px; height:20px; position:absolute; right:10px; top:5px; background:url('flag.png') -89px -103px no-repeat;}
.Rdrag .goin a{color:#fff; font-size:15px;}
.Rmtb .main{
	padding:0 8px 8px 8px;
}
.Rdrag .mii,.Rdrag .tii{padding-bottom:8px;}
/****************/
#top_searchs,#s_tops,.dragtb,.Rmtb{
	background:#FFF;
}
.Rdrag .goin a:hover,#Rtop .a5:hover{color:#E2FF07;}