<!--
<?php
print <<<EOT
-->
<div class="ShowMenus"></div>
<SCRIPT LANGUAGE="JavaScript">\$.get("thismenu.php?listnum=$listnum", function(data){\$(".ShowMenus").html(data);});</SCRIPT>
<div class="MainCont">
	<div class="head"><div class="tag">管理信息</div></div>
    <div class="cont">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ListTable">
          <tr>
            <th width="50%">类别</th>
            <th width="50%">管理</th>
          </tr>
<!--
EOT;
foreach($Fid_db[name] AS $key=>$name){
if($key==6)continue;
print <<<EOT
-->
          <tr>
            <td><a href="../wappost.php?fid=$key" target="_blank">$name</a></td>
            <td><a href="?job=list&fid=$key&listnum=$listnum">管理</a></td>
          </tr>
<!--
EOT;
}print <<<EOT
-->
        </table>
    </div>
</div>
<!--
EOT;
?>
-->