body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
	font-family: Arial, Helvetica, sans-serif;
}
.GuideCont{
	height:40px;
	line-height:40px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10px;
	border-bottom:#DDD solid 1px;
}
.GuideCont a{
	color:#666;
}
.titles{
	line-height:25px;
	padding:10px 10px 5px 10px;
	font-size:18px;
}
.baseinfo{
	height:20px;
	line-height:20px;
	overflow:hidden;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	word-spacing:10px;
}
.baseinfo span{
	color:#F60;
}
.baseinfo a{
	color:#369;
}
.ShowContent{
	width:98%;
	margin:10px auto;
	border:#DDD solid 1px;
	border-radius: 5px;
	background:#FFF;
	padding:10px 0 10px 0;
}
.ShowContent .ShowPic{
	width:98%;
	margin:auto;
	text-align:center;
	overflow:hidden;
}
.ShowContent .ShowPic img{
	max-width:100%;
	margin:5px 0 5px 0;
}
.ShowContent .cont{
	width:98%;
	margin:auto;
	overflow:hidden;
	line-height:25px;
	color:#666;
}
.ShowContent .cont img{max-width:100%; margin:5px auto;}
.ShowContent .keywords{
	padding:5px 10px 5px 35px;
	line-height:25px;
	background:url(icon1.gif) 15px 12px no-repeat;
	word-spacing:10px;
}
.ShowContent .keywords a{
	color:#369;
}
.FootSpac{
	clear:both;
	width:100%;
	height:80px;
}