body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
	font-family: Arial, Helvetica, sans-serif;
}
.ListWei,.ShowPages{
	min-width:320px;
	max-width:640px;
	overflow:hidden;
	margin:10px auto;	
}
.ListWei dl{
	padding:10px;
	background:#FFF;
	border:#bbb solid 1px;
	border-radius: 10px;
	margin-bottom:10px;
}
.ListWei dl dt{
	overflow:hidden;
	padding-bottom:10px;
}
.ListWei dl dt img{
	width:100%;
}
.ListWei dl dd h4{
	line-height:25px;
}
.ListWei dl dd h4 a{
	color:#369;
}
.ListWei dl dd p{
	line-height:25px;
	color:#666;
}
.ListWei dl dd div{
	padding-top:5px;
	text-align:right;
	color:#888;
	line-height:20px;
}
.ListWei dl dd div a{
	color:#369;
}
.ListWei dl dd div span{
	color:#F30;
}
.ShowPages{
	text-align:center;
	padding-bottom:50px;
}
.ShowPages a{
	display:inline-block; 
	border:#DDD solid 1px;
	border-radius:3px;
	padding:5px 10px;
	background:#FFF;
	color:#666;
	font-size:14px;
}
.ShowPages a.ck{
	background:green;
}
.ShowPages a.ck font{
	color:#FFF;
}


.ChangeSele{
	height:40px;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	background-color:#FFF;
}
.ChangeSele li{
	float:left; 
	width:50%;
}
.ChangeSele li a { 
	overflow:hidden; 
	display:block; 
	text-align:center; 
	height:40px; 
	line-height:40px; 
	position:relative; 
	border-right:1px solid #d6d6d6;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
.ChangeSele li:nth-child(even) a { 
	border-right:0 none;
}
.ChangeSele li a em { 
	border-color:#B3AEA8 transparent transparent transparent; 
	border-width:5px; 
	display:inline-block; 
	margin-left:5px; 
	position:absolute; 
	top:19px; 
	border-style:solid;
}
.fullbg { 
	background-color:#000; 
	opacity:0; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:1001; 
	position:absolute;
	display:none;
}
.navbox { 
	position:absolute; 
	top:0;  
	right:0; 
	z-index:1002; 
	width:1px;
	overflow:hidden;
	background-color:#eee; 
	font-family:Arial, Helvetica, sans-serif;
}
.navbox:after{
	content: ''; 
	display: block;
    width: 100%;	
    height: 80px;
	clear:both;
}
.navbox a{
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
.navbox dl{
	border-bottom:1px solid #d6d6d6;
}
.navbox dl dt{
	height:35px;
	line-height:35px;
	padding-left:10px;
	border-bottom:1px solid #FFF;
	border-top:1px solid #FFF;
	overflow:hidden;
	position:relative;
}
.navbox dl dt:after{
	content: '';
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
	width:0;
	height:0;
	border:8px solid transparent;
	border-left: 8px solid rgba(0,0,0,0.8);
	border-right:0;
	cursor:pointer;
}
.navbox dl.ck dt:after{
	border:8px solid transparent;
	border-top: 8px solid rgba(0,0,0,0.8);
	border-bottom:0;
}
.navbox dl.ck dt a{
	color:red;
}
.navbox dl dd{
	padding:10px;
	background:#FFF;
	border-top:1px solid #d6d6d6;
	display:none;
}
.navbox dl.ck dd{
	display:block;
}
.navbox dl dd div a{
	display:block;
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.navbox dl dd div a.ck{
	color:red;
}