.content_box {
	width:auto;padding-top:30px; height:auto; overflow:hidden;
}
.content {
	width:1200px;margin:0 auto;
}
.banner_box {width:1200px; height:415px; float:left; margin-top:25px;}
.banner_hot {
	width:278px; height:413px;float:left;
	border:1px #CCCCCC solid;
}
.banner_hot dd {
	float:left;
}
.banner_hot dl {
	width:258px; height:393px; float:left;padding:10px; background:#f8f8f8; list-style-type:none;
}
.banner_hot dl dt {
	width:100%; line-height:40px; float:left; border-bottom:2px solid #379be9;
}
.banner_text_hot {
	 line-height:40px; font-size:24px; font-weight:bold; float:left; color:#333333; font-family:"Microsoft YaHei"
}
.banner_hot dl dd  {
	float:left; width:100%;
}
.banner_hot dl dd .l1,.banner_hot dl dd .l2,.banner_hot dl dd .l3,.banner_hot dl dd .l4{
	width:100%; height:60px;
	border-top:1px solid #FFFFFF; border-bottom:1px solid #dcdcdc; float:left;
}
.get_jf {
	float:left; padding:20px 10px 0 10px;
} 
.get_jf span {
	float:left; width:230px; height:45px; background:#ffffff; text-align:center;margin:8px;
}
.banner_hot dl dd div.get_jf span a {
	float:left; font-size:24px; background:url(how.png) no-repeat left center; padding-left:25px; line-height:45px; color:#b8b8b8; margin:0; font-weight:400;
} 
.get_jf span a:hover {
	color:#ff6600;
}
.l1 { background:url(index_1.jpg) no-repeat left center;}
.l2 {background:url(index_2.jpg) no-repeat left center;}
.l3 {background:url(index_3.jpg) no-repeat left center;}
.l4 {background:url(index_4.jpg) no-repeat left center;}
.banner_hot dl dd div a {
	font-size:16px; line-height:30px;  font-weight:bold; float:left; margin:12px 0 0 50px;
}
.banner_pictrue{width:900px; height:415px; margin-left:18px; float:left; position:relative;}
.banner_pictrue ul{width:900px; height:415px; position:relative; overflow:hidden;}
.banner_pictrue ul li{float:left; height:415px; display:none; position:absolute; top:0; left:0;}
.banner_pictrue ul li:first-child{display:block;}
.banner_pictrue ul li .TitleFlash{position:absolute; width:860px; height:30px; line-height:30px; padding:0 20px; bottom:0; left:0; background:rgba(103,103,103,.5); color:#fff; overflow:hidden; font-size:15px;}
.banner_pictrue ul li img{width:100%;height:100%;}
.banner_pictrue ol{position:absolute; bottom:35px; right:10px; overflow:hidden;}
.banner_pictrue ol li{float:left; height:27px; width:30px; line-height:27px; margin-right:10px; background:#333; color:#fff; text-align:center; cursor:pointer;}
.banner_pictrue ol li.actionNum{background:#9D0116; color:#FEF200;}

.content_text {width:1200px; padding-top:30px; float:left; margin-bottom:20px;}
.content_text_left {
	width:278px;float:left;
	border-top:2px solid #379be9;border-bottom:2px solid #999999; border-left:1px #CCCCCC solid; border-right:1px #CCCCCC solid;
}
.content_text_left_top {width:278px;  float:left;}
.showlist_theme {
	width:278px; height:56px; text-align:center; line-height:58px; font-size:24px; font-weight:bold;
	background:#f0f0f0; border-top:1px solid #FFFFFF; border-bottom:1px solid #999999;
}
.Menu {width:278px; height:auto; float:left; font-size:16px;}
.Menu dl dt {width:278px; line-height:48px; float:left; border-top:1px solid #FFFFFF; border-bottom:1px solid #CCCCCC; background:#f3f3f3;}
.level_1 {background:url(reduce.jpg) no-repeat right center;width:250px; float:left; margin-left:10px; }
.show .level_1 {background:url(plus.jpg) no-repeat right center;width:250px; float:left; margin-left:10px; }
.Menu dl{overflow:hidden;}
.Menu dl ~ dl dd{display:none;}
.Menu dl dd {border-bottom:1px solid #CCCCCC; float:left;}
.Menu dl dd a{width:268px; line-height:30px; float:left; padding-left:10px;}
.Menu dl dd a:hover {background:#CCCCCC;}
.content_text_left_footer {width:278px; overflow:hidden;}
.newslist {text-align:left; font-size:16px; overflow:hidden;}
.newslist li {margin:8px 5px 0 15px; line-height:30px; border-bottom:1px dotted #CCCCCC;}
.newslist li span{color:#0099ff;}
.newslist li a{color:#0099ff;}
.newslist li em {font-weight:normal;}
.look_box {width:100%; float:left; padding-bottom:20px;}
.look_box .lista{
	width:86%; float:left; padding:0 20px; margin-top:20px;
}
.lista .img{ padding:2px; border:1px solid #CCCCCC;float:left; margin-right:10px;}
.lista .zf,.lista .price,.rose_red {
	color:#de4900;
}
.lista .title,.lista .price,.lista .zf,.lista .goto {
	width:60%; float:left; overflow:hidden; height:22px; line-height:22px; font-size:14px;
}
.lista .goto {background:url(look.png) no-repeat center; float:left; transition: 2s all;}
.lista .goto:hover {background:url(hlook.png) no-repeat right center;}

.content_text_right {width:895px;margin-left:20px; float:left;}
.text_title {
	width:895px; height:45px; font-size:16px; 
	border-top:2px solid #379be9; border-bottom:1px solid #CCCCCC; float:left; line-height:45px; font-weight:bold;
}
.text_title span {
	width:631px; height:45px; float:left;
}
.title_nav {
	width:264px; height:45px; float:left;
}
.title_nav a {
	width:88px; height:30px; color:#999999;text-align:center; line-height:30px; float:left; margin:7px 0;
}
.title_nav a:hover {
	background:#379be9; color:#FFFFFF;
}

.Showlist_box {width:895px; float:left; padding-top:30px;}
.listpic {width:280px; float:left; margin:0 0 30px 13px; position:relative;}
.listpic .img{width:270px; height:246px; padding:4px; float:left; background:#f8f8f8; border:1px solid #dcdcdc; background:#f8f8f8;}
.listpic .img img{width:100%; height:100%;}
.listpic .title {float:left; width:272px; height:60px; line-height:30px; margin:0 4px; overflow:hidden; font-size:18px;}
.listpic div{float:left; width:280px; height:40px; line-height:40px; overflow:hidden; background:#dcdcdc;}
.listpic .butter img{display:none;}
.listpic div span{display:inline-block; padding:0 8px; text-decoration:line-through; color:#666;}
.listpic div em{color:#ff3300;}
.listpic .butter:before{content:'Á¢¼´¶Ò»»'; display:block; width:80px; height:40px; line-height:40px; text-align:center; position:absolute; right:0; bottom:0; background:#ff3300; color:#CCC;}
.listpic .butter:hover:before{background:#d72b00; color:#FFF;}