
.content_text {width:1200px; padding-top:30px; float:left; clear:both; margin-bottom:20px;}
.content_text_left {
	width:278px;float:left;
	border-top:2px solid #379be9;border-bottom:2px solid #999999; border-left:1px #CCCCCC solid; border-right:1px #CCCCCC solid;
}
.content_text_left_top {width:278px; float:left;}
.showlist_theme {
	width:278px; height:56px; float:left; text-align:center; line-height:58px; font-size:24px; font-weight:bold;
	background:#f0f0f0; border-top:1px solid #FFFFFF; border-bottom:1px solid #999999;
}
.Menu {width:278px; height:auto; float:left; font-size:16px;}
.Menu dl dt {width:278px; line-height:48px; float:left; border-top:1px solid #FFFFFF; border-bottom:1px solid #CCCCCC; background:#f3f3f3;}
.level_1 {background:url(reduce.jpg) no-repeat right center;width:250px; float:left; margin-left:10px; }
.show .level_1 {background:url(plus.jpg) no-repeat right center;width:250px; float:left; margin-left:10px; }
.Menu dl{overflow:hidden;}
.Menu dl ~ dl dd{display:none;}
.Menu dl dd {border-bottom:1px solid #CCCCCC; float:left;}
.Menu dl dd a{width:268px; line-height:30px; float:left; padding-left:10px;}
.Menu dl dd a:hover {background:#CCCCCC;}
.content_text_left_footer {
	width:278px; float:left; margin-bottom:20px;
}
.newslist {
	text-align:left;font-size:16px; 
}
.newslist li {
	width:250px; margin:8px 0 0 15px; float:left; line-height:30px; border-bottom:1px dotted #CCCCCC;
}
.newslist li h2 {
	font-weight:normal;
}
.look_box {
	width:100%; float:left;
}
.look_box dl {
	width:86%; float:left; padding:0 20px; margin-top:20px;
}
.look_gift {width:40%; float:left;}
.look_gift span{float:left; padding:2px; border:1px solid #CCCCCC; width:75px; text-align:center;}
.look_gift img{max-width:75px; height:75px;}
.look_word {width:60%; float:left;}
.look_word p{width:100%; height:20px; line-height:20px; float:left; font-size:12px; overflow:hidden;}
.look_word .goto a {width:100%; background:url(look.png) no-repeat center; float:left; transition: 2s all;}
.look_word .goto a:hover {background:url(hlook.png) no-repeat right center;}
.rose_red {
	color:#de4900;
}

.content_text_right {width:895px;margin-left:20px; float:left;}
.text_title {
	width:895px; height:45px; font-size:16px; 
	border-top:2px solid #379be9; border-bottom:1px solid #CCCCCC; float:left; line-height:45px; font-weight:bold;
}
.text_title span {
	width:631px; height:45px; float:left;
}
.title_nav {
	width:264px; height:45px; float:left;
}
.title_nav a {
	width:88px; height:30px; color:#999999;text-align:center; line-height:30px; float:left; margin:7px 0;
}
.title_nav a:hover {
	background:#379be9; color:#FFFFFF;
}

.Showlist_box {
	width:895px; float:left; padding-top:30px; height:auto;
}
.Showlist {
	width:280px; float:left; margin:0 0 28px 13px;
}

.Showlist dt{padding:4px; float:left; background:#f8f8f8; border:1px solid #dcdcdc;}
.Showlist dd{float:left;overflow:hidden;}
.Showlist dt img{width:270px; height:246px;}
.store_name {font-size:18px; width:272px; height:60px; line-height:30px; float:left; margin:0 4px; overflow:hidden;}
.Showlist_Price {width:280px; height:40px; line-height:40px; float:left; text-align:center;}
.Showlist_Price p {width:198px; float:left; background:#dcdcdc;}
.Showlist_Price p span {padding-left:20px;}
.Showlist_Price a {width:80px; float:left; background:#ff3300;	color:#CCCCCC;}
.Showlist_Price a:hover {background:#d72b00; color:#FFFFFF;}
.Showlist dd .sort{float:left; width:272px; height:30px; line-height:30px; margin:0 4px; font-size:14px;}
.Showlist dd .sort a{color:#f30;}
.Showlist dd .sort span{float:right; color:#0099ff; font-size:14px;}

.Jump_box {float:left; width:100%; text-align:center;}
.Jump_box a{ padding:13px; background:#efefef; margin:0 2px; font-size:16px;}
.Jump_box a:hover {background:#0067b4; color:#FFFFFF;}