<!--
<?php
print <<<EOT
--> 
<form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
<div class="MainContainers">
  <div class="Header"><span class="tag">修改名称</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
    <table class="FormTable">
    <tr> 
      <td class='tdL'>名称: </td>
      <td class='tdR'> 
        <input type="text" name="name" size="50" value="$rsdb[name]">
      </td>
    </tr>
  </table>
  <div class='submits'>
        <input type="submit" name="Submit" value="提交">
        <input type="hidden" name="lid" value="$lid">    
  </div>
</div>
</div>
</form>
<!--
EOT;
?>
-->
