<!--
<?php
print <<<EOT
--> 
<form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
<div class="MainContainers">
  <div class="Conter">
    <table class="ListTable">

    <tr> 
      <th width="7%">序号 </th>
      <th width="32%">名称</th>
      <th width="26%">类型 </th>
      <th width="7%">修改设置 </th>
      <th width="7%">修改名称 </th>
      <th width="7%">预览 </th>
      <th width="7%">获取代码 </th>
      <th width="7%">删除 </th>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr> 
      <td>$rs[lid]</td>
      <td>$rs[name]</td>
      <td> $rs[type]</td>
       <td><a href="index.php?lfj=label&&job=mod&ch=$rs[ch]&chtype=$rs[chtype]&tag=$rs[tag]&inc=$rs[type]&ch_ifjs=1"><img alt='设置管理' src='../member/images/icon_manage2.gif' border=0></a> </td>

        <td><a href="index.php?lfj=$lfj&job=edit&lid=$rs[lid]" title='点击修改名称' class='edit'></a> </td>

        <td><a href="index.php?lfj=$lfj&job=show&id=$rs[lid]"><img alt='预览效果' src='../member/images/icon_view.gif' border=0></a></td>
        <td><a href="javascript:" onClick="$('#js_$rs[lid]').show();JM_cc('js_$rs[lid]');alert('复制成功，你可以粘贴在网页代码里！')"><img alt='' src='../member/images/art_icon.gif' border=0></a>
        <div><input type="text" style="width:200px;display:none;" value='<script src="$webdb[www_url]/do/js.php?id=$rs[lid]"></script>' id="js_$rs[lid]"></div></td>

        <td><a href="index.php?lfj=$lfj&action=delete&id=$rs[lid]"  onclick="return confirm('删除后不可恢复,你确实要删除吗?')" title='点击删除' class='del'></a></td> 
    </tr>
    <!--
EOT;
}print <<<EOT
-->
  </table>
  <div class="m-showpage">$showpage</div>
  </div>
</div>
</form>


<form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
<div class="MainContainers">
  <div class="Header"><span class="tag">帮助说明:</span></div>
  <div class="Conter">
    <ul class="notes">
      <li>你可以在网页的任意地方调用上面的JS代码,即可显示你需要的标题内容.非常的灵活方便.站内站外都可以调用</li>
    </ul>
  </div>
</div>
</form>
<SCRIPT LANGUAGE="JavaScript">
<!--
function JM_cc(ob){
var obj=document.getElementById(ob); if (obj) { 
obj.select();js=obj.createTextRange();js.execCommand("Copy");}
}
//-->
</SCRIPT>
<!--
EOT;
?>
-->
