<!--
<?php
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/member/images/wap/post.css">
<form action="?" method="post" enctype="multipart/form-data" name="form1" id="form1">
<div class="FormContainer">
	<dl>
		<dt><span>*</span>新闻标题：</dt>
		<dd><input name="title" type="text" id="title" value="$news[title]"  class='text' /> (5-30个字之间)</dd>
	</dl>
    <dl>
		<dt><span>*</span>新闻内容：</dt>
		<dd>
		<script type='text/javascript'>loadBaiduEditorJs();</script>
			<textarea name='content' id='atc_content'>$news[content]</textarea> 
			<script type='text/javascript'>				
				var editor_content = new baidu.editor.ui.Editor({toolbars:[['fullscreen','source','undo','redo','bold', 'italic', 'underline']] ,minFrameHeight:200});
				editor_content.render( 'atc_content' );
			</script>

		 </dd>
	</dl>
	<div class="butter">
		<span class="submits"><input type="submit" name="button14" value="提 交"/></span>
    	<input name="atn" type="hidden" id="atn" value="$atn" />
        <input name="step" type="hidden" id="step" value="1" />
        <input name="uid" type="hidden" id="uid" value="$uid" />
        <input name="id" type="hidden" id="id" value="$id" />		
	</div>
</div>
</form>
<!--
EOT;
?>
-->