 <!--
<?php
print <<<EOT
-->
<form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
<div class="MainContainers">
  <div class="Header"><span class="tag">删除备份数据</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
    <table class="FormTable">
      <tr>  
        <td colspan='2'>
          <span class="b red">注意：</span>
          请小心操作
        </td>
      </tr>

  <tr> 
      <td class='tdL'>请选择要删除的备份数据,数字代表年月日：</td>
    <td class='tdR'>$selectname</td>
  </tr>

<!--   <tr> 
    <td width='51%'> 
      <div align='right'></div>
    </td>
    <td width='49%'> 
      <input class=mmcinb type='submit' name='Submit' value='删除数据'>
    </td>
  </tr>
  <tr> 
    <td colspan='2'> 
        <div align='center'></div>
    </td>
  </tr> -->
  </table>
    <div class='submits'> <input class=mmcinb type='submit' name='Submit' value='删除数据'></div>
</form>
<!--
EOT;
?>
-->