<!--
<?php
print <<<EOT
-->
<div class="CopyRight">
  <p>@$webdb[webname] 版权所有</p>
  <p>$webdb[miibeian_gov_cn]</p>
</div>
<footer>
	<ul>
		<li class="back"><a href="javascript:;history.back()">返回</a></li>
		<li class="shop"><a href="$webdb[www_url]/shop/wapindex.php">商城</a></li>
		<li class="home"><a href="$webdb[www_url]/do/wapindex.php"><span>首页</span></a></li>
		<li class="member"><a href="$webdb[www_url]/member/wapindex.php">会员中心</a></li>
		<li class="car"><a href="$webdb[www_url]/shop/join.php">购物车</a></li>
	</ul>
</footer>
</body>
</html>
<!--
EOT;
?>
-->