<!DOCTYPE html>
<html>
<!--
<?php
print <<<EOT
-->
<head>
<meta charset="gb2312" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black"  />
<meta name="apple-mobile-web-app-capable" content="yes">
<title>会员中心 </title>
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/member/images/wap/global.css">
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/member/images/wap/wap.css">
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/jquery-1.2.6.min.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/default.js"></SCRIPT>
</head>
<body>
<header>
	<div class="back"><a href="$webdb[www_url]/do/wapindex.php">首页</a></div>
    <div class="web">会员中心</div>
    <div class="home"><a href="$webdb[www_url]/member/wapindex.php">管理首页</a></div>
</header>
<!--
EOT;
?>
-->