<!--
<?php 
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/member/images/wap/manage_public.css">
</style>
<div class="ShowMenus"></div>
<SCRIPT LANGUAGE="JavaScript">\$.get("thismenu.php?listnum=$listnum", function(data){\$(".ShowMenus").html(data);});</SCRIPT>
<div class="MainCont">
	<div class="head"><div class="tag">我发布的二手信息</div></div>
    <div class="cont">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ListTable ListShop">
<!--
EOT;
foreach($listdb AS $key=>$rs){
$rs[picurl] = tempdir($rs[picurl]);
$rs[Lurl]=get_info_url('',$rs[fid],$rs[city_id]);
print <<<EOT
-->
          <tr>
            <td class="img">
            	<div><a href="$Murl/wapbencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank"><img src="$rs[picurl]" height="90" onerror="this.src='$webdb[_www_url]/images/default/nopic.jpg';"/></a></div>
            </td>
            <td class="word">
            	<div class="t"><a href="$Murl/wapbencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank">$rs[title]</a></div>
                <div>
                	<a href="$rs[Lurl]" target="_blank">$rs[fname]</a>
                	 <span>$rs[posttime]</span>  
                     
                </div>
            </td>
          </tr>  
          <tr>
            <td class='submits' colspan='2'>
		<div class="submit">
			{$rs[update]}
			<a href='wapeditsort.php?job=edit&fid=$rs[fid]&id=$rs[id]'>修改分类</a>
			<a href='../wappost.php?job=edit&fid=$rs[fid]&id=$rs[id]' target='_blank'>修改</a>
			<a href="../wappost.php?action=del&fid=$rs[fid]&id=$rs[id]" onClick="return confirm('你确认要删除吗?不可恢复');" target="_blank">删除</a>
		</div>            	
            </td>          	
          </tr>        
<!--
EOT;
}
print <<<EOT
-->
		</table>
        <div class="Showpage">$showpage</div>
    </div>
</div>
<div class="MainCont mtop10">
	<div class="head"><div class="tag">帮助说明 (你目前的积分有:<span class="b red">{$lfjdb[money]}</span>点)</div></div>
    <div class="cont">
    	<ul class="aboutnote">
        	<li>1.刷新,即代表更新信息的发布日期为当前日期,刷新后会排在当前栏目的前面.每条信息的刷新时间间隔为<span class="b red">{$webdb[UpdatePostTime]}</span>小时.</li>
            <li>2.置顶,即把某条信息在所在栏目固定在前面显示.置顶有效日期为<span class="b red">{$webdb[Info_TopDay]}</span>天,收费为<span class="b red">{$webdb[Info_TopMoney]}</span>积分</li>
            <li>3.焦点,分为栏目焦点(收费<span class="b blue">{$webdb[AdInfoSortShow]}</span>积分),分类焦点(收费<span class="b blue">{$webdb[AdInfoBigsortShow]}</span>积分),首页焦点(收费<span class="b blue">{$webdb[AdInfoIndexShow]}</span>积分).显示有效日期为<span class="b red">{$webdb[AdInfoShowTime]}</span>天.</li>
        </ul>
    </div>
</div>
<!--
EOT;
?>
-->
