/*MainCont*/
.MainCont{margin-top:25px; overflow:hidden;}
.MainCont .main{width:882px; float:left; margin-bottom: 30px;}
.MainCont .side{width:300px; float:right;}
.MainCont .cleardiv{clear:both;} 
/*
* ShowSorts
*/
.ShowSorts div{height: 40px; line-height:40px; float: left; margin-right: 15px; margin-bottom:10px;}
.ShowSorts div a{display:block; font-size:16px; font-weight:bold; padding:0 10px;}
.ShowSorts div .ck,.ShowSorts div a:hover{background: #2289F2; color:#fff;}
/*
*SearchType
*/
.SearchType{border:1px solid #DFDEDE; width:880px;}
.SearchType .head{height:50px; overflow:hidden; line-height:50px; background:#ECECEC;}
.SearchType .head .tag{padding-left:20px; font-size:16px; color:#333;}
.SearchType .head .tag span{color:#EA9111; font-weight:bold; padding-right: 10px;}
.SearchType .cont{padding:10px;}
.zone_street{}
.zone_street dt{height: 96px; overflow:hidden; line-height:30px;}
.zone_street dt div{height:25px; padding:14px 5px 0 5px; float:left;}
.zone_street dt div.{padding:0 0 0 8px;}
.zone_street dt div.ck span{display:block; float:left; padding:0 8px 0 0 ;}
.zone_street dd{background:#FFF2E1; padding:10px; }
.zone_street dd a{display:inline-block; padding-right:10px; line-height:25px; font-size:15px;}
.zone_street dd .ck{color:#FF0000;}
.listsearch{margin-top:10px; overflow:hidden;}
.cont .t{font-weight:bold; padding-left:10px; float:left; font-size:16px;}
.cont  dl .f {display: block; width: 790px; float: right;}
.cont dl .f  .ck{background:#1AA4ED;color:#fff;}
.cont .f a{padding: 10px; font-size: 16px;}
.listsearch div{height:20px;line-height:20px; overflow:hidden; padding: 16px 5px 0 5px;}
/*
*ShowListCont
*/
.ShowListCont{margin-top:10px; border:1px solid #DFDEDE;}
.ShowListCont .head{height:50px; overflow:hidden; background:#ECECEC;}
.ShowListCont .head .tag{float:left; line-height:50px; width:140px; text-align:center;}
.ShowListCont .head .tag span{display:block; padding-right:20px; font-size:16px; font-weight:bold; background:#FFF;}
.ShowListCont .head .post{float:right; padding: 15px 18px 0px 20px; height:30px;}
.ShowListCont .cont{border-top:0;}
.ShowListCont .cont .box{width: 98%; margin: 0 auto; padding-bottom:20px;}
.ShowListCont .cont ul{height: 178px; overflow: hidden; padding-bottom:20px; margin-top:20px; border-bottom:1px dotted #dfdfdf;}
.ShowListCont .cont ul.ck li{background:#EAEFF3;}
.ShowListCont .cont ul li{float:left;}
.ShowListCont .cont  ul li.img .pic{width:250px ; height:175px; border:1px solid #DFDEDE; text-align:center; background:#fff; overflow:hidden; background:#FAFAFA;}
.ShowListCont .cont ul li.img a{display:block; width:244px ; height:169px; margin:3px; text-align:center;}
.ShowListCont .cont ul li.img a img{height:100%; max-width:244px;}
.ShowListCont .cont ul li.word{width:578px; padding-left: 20px;}
.ShowListCont .cont ul li.word h3{height:20px; line-height:20px; overflow:hidden; font-weight:normal;}
.ShowListCont .cont ul li.word h3 a{color:#0D80F6; font-size:16px;}
.ShowListCont .cont ul li.word div{height:20px; line-height:20px; color:#888;}
.ShowListCont .cont ul li.word p{padding-top: 30px; height: 80px; overflow: hidden; line-height: 18px; color: #666; display: block; line-height: 25px;}
.ShowListCont .cont ul li.info{width:578px; padding-left:20px; padding-top:25px; display:block; overflow:hidden;}
.ShowListCont .cont ul li.info div{float:left; height:23px; line-height:23px; overflow:hidden; color:#333; padding-right:50px;}
.ShowListCont .cont ul li.info .price{float:right; padding-right:30px;}
.ShowListCont .cont ul li.info div span{font-size:14px; color:#FF3333;}
.ShowListCont .cont .page{height:40px; overflow:hidden; text-align:center; padding-top:20px;}
.ShowListCont .cont .page a{font-size:14px; padding:3px 5px 2px 5px; color:#369;}
/*
*sidecont
*/
.sidecont{border:#E0E0E0 solid 1px; margin-bottom:10px;}
.sidecont .head{height:50px; overflow:hidden; line-height:50px; background:#ECECEC;}
.sidecont .head .tag{float:left; padding:0 10px 0 10px; font-size:16px; font-weight:bold; color:#333333;}
.sidecont .head .more{float:right; padding-right:10px;	}
.sidecont .head .more a{color:#888;}
.sidecont .cont{padding:10px;}
.sidecont .cont1 div{height:25px; padding: 4px 0px 3px 6px; line-height:25px; overflow:hidden;}
.sidecont .cont1 div span{display:block; width:16px; height:16px; line-height:16px; text-align:center; float:left; color:#FFF; margin-right: 9px; margin-top:5px;}
.sidecont .cont1 div.list3 span,.sidecont .cont1 div.list1 span,.sidecont .cont1 div.list2 span{background:#39F;}
.sidecont .cont1 div.list4 span,.sidecont .cont1 div.list5 span,.sidecont .cont1 div.list6 span,.sidecont .cont1 div.list7 span,.sidecont .cont1 div.list8 span,.sidecont .cont1 div.list9 span,.sidecont .cont1 div.list10 span{background:#A5A5A5;}
/*
*siderAd
*/
.siderAd{width:300px;overflow:hidden; margin: 20px 0 20px 0;}
.siderAd img{width:100%;}

.sidecont .cont2{padding:5px 10px 10px 10px;}
.sidecont .cont2 dl{height: 80px; overflow: hidden; padding: 21px 0 30px 0; border-bottom: 1px dashed #DCDCDC;}
.sidecont .cont2 dl dt{width:130px; border:#DDD solid 1px; padding:1px;float:left;}
.sidecont .cont2 dl dt a{display:block; width:124px; height:84px; padding:3px; text-align:center; overflow:hidden; background:#fafafa;}
.sidecont .cont2 dl dt a img{height:100%; max-width:124px;}
.sidecont .cont2 dl dd{width:130px; padding-left:10px; float:left;}
.sidecont .cont2 dl dd h3{font-weight:normal; height:40px; line-height:20px; overflow:hidden; font-size:14px;}
.sidecont .cont2 dl dd div{height:20px; overflow:hidden; line-height:20px; color:#888; padding-top: 32px;}