.copyright{
	width:100%;
	clear:both;
	margin-top:15px;
	background:#F9F9F9;
	padding:15px 0 15px 0;
	line-height:20px;
	color:#666;
	text-align:center;
}
/*
*
*/
.topUpCont{
	width:60px;
	height:180px;
	position:fixed;
	z-index:10000;
	bottom:2px;
	right:0;
	background:#FFF;
	display:none;
}
.topUpCont:before,.topUpCont:after{
	content:'';
	display:block;
	position:absolute;
	background:#DFDFDF;
	left:0;
	top:0;
}
.topUpCont:before{
	width:1px;
	height:180px;	
}
.topUpCont:after{
	width:60px;
	height:1px;
}
.topUpCont ul li{
	height:60px;
	position:relative;
}
.topUpCont ul li:after{
	content:'';
	display:block;
	position:absolute;
	background:#DFDFDF;
	left:0;
	bottom:0;
	width:60px;
	height:1px;
}
.topUpCont ul li.kefu{
	background:url(kf0.png) no-repeat;
}
.topUpCont ul li.kefu div{
	width:120px;
	height:60px;
	position:absolute;
	border-left:#DFDFDF solid 1px;
	background:#F7F7F7 url(border.png) right bottom no-repeat;
	right:50px;
	top:0;
	line-height:60px;
	overflow:hidden;
	text-indent:15px;
	font-size:18px;
	color:#2FBDAA;
	display:none;
}
.topUpCont ul li.kefu div:before,.topUpCont ul li.kefu div:after{
	content:'';
	display:block;
	position:absolute;
	background:#DFDFDF;
	width:100%;
	height:1px;
	left:0;
}
.topUpCont ul li.kefu div:before{
	top:0;
}
.topUpCont ul li.kefu div:after{
	bottom:0;
}
.topUpCont ul li.kefu:hover{
	background:url(kf1.png) no-repeat;
}
.topUpCont ul li.kefu:hover div{
	display:block;
}
.topUpCont .topBack{
	background:url(top0.png) center 1px no-repeat;
	height:60px;
	overflow:hidden;	
}
.topUpCont .topBack div{
	text-align:center;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	background:#2FBDAA;
	height:50px;
	color:#FFF;
	display:none;
}
.topUpCont .topBack:hover div{
	display:block;
}
.topUpCont ul li.topUpWx{
	background:url(wei0.png) no-repeat;
}
.topUpCont ul li.topUpWx:hover{
	background:url(wei1.png) no-repeat;
}
.topUpCont ul li.topUpWx div{
	width:180px;
	height:200px;
	position:absolute;
	border-left:#DFDFDF solid 1px;
	background:#F7F7F7 url(border.png) right bottom no-repeat;
	right:50px;
	bottom:0;
	overflow:hidden;
	text-align:center;
	display:none;
}
.topUpCont ul li.topUpWx:hover div{
	display:block;
}
.topUpCont ul li.topUpWx div:before,.topUpCont ul li.topUpWx div:after{
	content:'';
	display:block;
	position:absolute;
	background:#DFDFDF;
	width:100%;
	height:1px;
	left:0;
}
.topUpCont ul li.topUpWx div:before{
	top:0;
	width:170px;
}
.topUpCont ul li.topUpWx div:after{
	bottom:0;
}
.topUpCont ul li.topUpWx div span{
	display:block;
	padding:20px 10px 10px 0;
}
.topUpCont ul li.topUpWx div span img{
	width:130px;
	height:130px;
}
.topUpCont ul li.topUpWx div p{
	padding:5px 10px 0 0;
	font-size:16px;
	color:#2FBDAA;
}