.MainCont1{
	height:480px;
	position:relative;
}
.MainCont1 .sortCont{
	width:250px;
	height:480px;
	float:left;
	position:relative;
}
/*
*
*/
.mainlink_code{
	width:950px;
	height:160px;
	float:left;
	position:relative;
}
.mainlink_code .mainlink{
	width:720px;
	height:160px;
	position:absolute;
	top:0;
	left:15px;
	border-bottom:#EEE solid 1px;	
}
.mainlink .ListLink{
	width:100%;
	position:absolute;
	left:0;
	border:#FFF solid 1px;	
	border-top:#EEE solid 1px;
	overflow:hidden;
}
.mainlink .ListLink1{
	top:0;
}
.mainlink .ListLink2{
	top:53px;
}
.mainlink .ListLink3{
	top:106px;
}
.mainlink .ListLink ul{
	display:table;
	width:100%;
}
.mainlink .ListLink ul ol,.mainlink .ListLink ul li,.mainlink .ListLink ul div{
	display:table-cell;
	vertical-align:top;
}
.mainlink .ListLink ul ol{
	width:60px;
	padding-top:18px;
	line-height:20px;
	color:#888;
	padding-left:20px;
	background:url(hot.png) 3px 18px no-repeat;
}
.mainlink .ListLink2 ul ol{
	background:url(map.png) 3px 18px no-repeat;
}
.mainlink .ListLink3 ul ol{
	background:url(leve.png) 3px 18px no-repeat;
}
.mainlink .ListLink ul div{
	width:50px;
	padding-top:15px;
	padding-right:5px;
}
.mainlink .ListLink ul div a{
	display:block;
	border:#EEE solid 1px;
	position:relative;
	padding:3px 0 2px 5px;
	color:#666;
}
.mainlink .ListLink ul div a:after{
	content: '';
    display: block;
    position: absolute;
    top: 7px;
    right: 5px;
	width:0;
	height:0;
	border:5px solid transparent;
	border-top: 5px solid #AAA;
	border-bottom:0;
}
.mainlink .ListLink ul li{
	padding-top:10px;
	padding-bottom:5px;
	line-height:35px;
}
.mainlink .ListLink ul li a{
	display:block;
	float:left;
	padding:0 10px 0 10px;
	height:35px;
	color:#666;
	position:relative;
	z-index:100;
}
.mainlink .ListLink ul li a:hover:before{
	content:'';
	display:block;
	width:100%;
	height:25px;
	position:absolute;
	left:0;
	top:5px;
	background:#F30;
	color:#FFF;
	border-radius:5px;
	z-index:-10
}
.mainlink .ListLink ul li a:hover{
	color:#FFF;
}
.mainlink .ListLink ul li a.b{
	color:#F60;
}
.mainlink .ListLink ul li a.b:hover{
	color:#FFF;
}
.mainlink_code .code{
	width:200px;
	height:158px;
	overflow:hidden;
	border:#EEE solid 1px;
	position:absolute;
	top:0;
	right:0;
}
.mainlink_code .code ol{
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
}
.mainlink_code .code li{
	text-align:center;
}
.mainlink_code .code li img{
	width:90px;
	height:90px;
}
/*
*
*/
.SlideCont{
	width:935px;
	height:310px;
	overflow:hidden;
	position:absolute;
	right:0;
	bottom:0;
}
.SlideCont ul.ShowPic{
	width:100000px;
	height:310px;
	position:absolute;
	left:0;
	top:0;
}
.SlideCont ul.ShowPic li{
	width:940px;
	height:310px;
	overflow:hidden;
	float:left;
	text-align:center;
	line-height:310px;
}
.SlideCont ul.ShowPic li img{
	width:940px;
	height:310px;
	vertical-align:middle;
}
.SlideCont ul.ShowList{
	width:100%;
	height:30px;
	position:absolute;
	z-index:100;
	bottom:0;
	left:0;
	text-align:center;
}
.SlideCont ul.ShowList li{
	display:inline-block;
	overflow:hidden;
	text-indent:10px;
	width:8px;
	height:8px;
	border:#DDD solid 1px;
	background:#EFEFEF;
	border-radius:4px;
	margin-left:5px;
	cursor:pointer;
}
.SlideCont ul.ShowList li.ck{
	border:#F30 solid 1px;
	background:#F60;
}
/*
*
*/
.LeveCompany .head{
	height:35px;
	line-height:35px;
	padding-top:5px;
	padding-left:20px;
	background:url(fire.png) left 10px no-repeat;
	font-size:16px;
	position:relative;
}
.LeveCompany .head span{
	font-weight:bold;
}
.LeveCompany .more{
	width:800px;
	height:35px;
	line-height:35px;
	overflow:hidden;
	position:absolute;
	right:0px;
	top:5px;
	text-align:right;
	font-size:12px;
	color:#999;
}
.LeveCompany .more a{
	color:#666;
}
.LeveCompany .ListCompany{
	width:1200px;
	height:600px;
	overflow:hidden;
	border-top:#EEE solid 1px;
	position:relative;
}
.LeveCompany .ListCompany:before{
	content:'';
	display:block;
	width:1px;
	height:600px;
	position:absolute;
	left:0;
	top:0;
	background:#EEE;
}
.LeveCompany .ListCompany .list{
	width:300px;
	height:300px;
	overflow:hidden;
	float:left;
	position:relative;
}
.LeveCompany .ListCompany .list:hover{
	background:#F9F9F9;
}
.LeveCompany .ListCompany .list:before{
	content:'';
	width:1px;
	height:300px;
	right:0;
	top:0;
	background:#EEE;
	display:block;
	position:absolute;
}
.LeveCompany .ListCompany .list:after{
	content:'';
	width:300px;
	height:1px;
	left:0;
	bottom:0;
	background:#EEE;
	display:block;
	position:absolute;
}
.LeveCompany .ListCompany .list dl dt{	
	padding-top:15px;
	height:150px;
	overflow:hidden;
	
}
.LeveCompany .ListCompany .list dl dt a{
	display:block;
	width:270px;
	height:150px;
	overflow:hidden;
	margin:auto;
	text-align:center;
	line-height:150px;
	border-radius:10px;
}
.LeveCompany .ListCompany .list dl dt img{
	max-height:270px;
	max-height:150px;
	vertical-align:middle;
}
.LeveCompany .ListCompany .list dl dd{
	width:270px;
	margin:auto;
	padding-top:10px;
	line-height:20px;
}
.LeveCompany .ListCompany .list dl dd a{
	font-weight:bold;
	font-size:14px;
	color:#666;
}
.LeveCompany .ListCompany .list ul{
	width:270px;
	height:70px;
	overflow:hidden;
	position:absolute;
	bottom:0;
	left:15px;
}
.LeveCompany .ListCompany .list ul ol,.LeveCompany .ListCompany .list ul li{
	height:35px;
	line-height:35px;
	overflow:hidden;
}
.LeveCompany .ListCompany .list ul ol{
	border-bottom:#EEE solid 1px;
}
.LeveCompany .ListCompany .list ul ol .L{
	float:left;
}
.LeveCompany .ListCompany .list ul ol .R{
	float:right;
}
.LeveCompany .ListCompany .list ul ol em{
	color:#F60;
}
.LeveCompany .ListCompany .list ul li a{
	display:block;
	text-align:center;
	color:#666;
	font-size:14px;
}
/**/
.LeveCompany .ListCompany .list .weixincode{
	width:270px;
	height:210px;
	position:absolute;
	left:15px;
	top:15px;
	display:none;
}
.LeveCompany .ListCompany .list:hover .weixincode{
	display:block;
}
.LeveCompany .ListCompany .list .weixincode:before{
	content:'';
	display:block;
	width:270px;
	height:210px;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0.7;
	z-index:10;
}
.LeveCompany .ListCompany .list .weixincode h3{
	text-align:center;
	padding-top:15px;
	font-weight:normal;
	font-size:16px;
	color:#FFF;
	position:relative;
	z-index:100;
}
.LeveCompany .ListCompany .list .weixincode p{
	position:relative;
	z-index:100;
	text-align:center;
	width:140px;
	margin:15px auto 0 auto;
	background:#FFF;
	padding:10px 0 10px 0;
	border-radius:5px;
}
.LeveCompany .ListCompany .list:hover ul li{
	position:relative;
}
.LeveCompany .ListCompany .list:hover ul li:before{
	content:'';
	display:block;
	width:100%;
	height:35px;
	background:red;
	position:absolute;
	left:0;
	top:0;
	opacity:0.7;
	z-index:10;
}
.LeveCompany .ListCompany .list:hover ul li a{
	position:relative;
	z-index:100;
	color:#FFF;
}
/**/
/*
*
*/
.FoodContent{
	width:1200px;
	overflow:hidden;
}
.FoodContent .head{
	height:35px;
	line-height:35px;
	padding-top:10px;
	border-bottom:#EEE solid 1px;
}
.FoodContent .head .tag{
	float:left;
	padding-left:40px;
	background:url(food.png) left top no-repeat;
	font-size:16px;
}
.FoodContent .head .more{
	float:right;
	color:#aaa;
}
.FoodContent .head .more a{
	color:#666;
}
.FoodContent .ListFoods{
	width:1250px;
	height:700px;
	overflow:hidden;
}
.FoodContent .ListFoods .list{
	width:286px;
	height:335px;
	overflow:hidden;
	float:left;
	margin:13px 16px 0 0;
	border:#EEE solid 1px;
	overflow:hidden;
	position:relative;
}
.FoodContent .ListFoods .list dl dt{
	width:284px;
	height:175px;
	text-align:center;
	overflow:hidden;
	line-height:175px;
	background:#F8F8F8;
	margin:auto;
}
.FoodContent .ListFoods .list dl dt a{
	display:block;
	width:326px;
	text-align:center;
	margin-left:-20px;
}
.FoodContent .ListFoods .list dl dt img{
	height:175px;
	vertical-align:middle;
}
.FoodContent .ListFoods .list dl dd{
	padding:5px 10px 0 10px;
}
.FoodContent .ListFoods .list dl dd h3 a{
	display:block;
	height:25px;
	line-height:25px;
	overflow:hidden;
	font-size:14px;
	color:#666;
}
.FoodContent .ListFoods .list dl dd p{
	padding-top:5px;
	line-height:20px;
	color:#888;
}
.FoodContent .ListFoods .list ul{
	width:266px;
	height:70px;
	overflow:hidden;
	position:absolute;
	bottom:0;
	left:10px;
}
.FoodContent .ListFoods .list ul ol,.FoodContent .ListFoods .list ul li{
	height:35px;
	line-height:35px;
	overflow:hidden;
}
.FoodContent .ListFoods .list ul ol{
	border-bottom:#EEE dotted 1px;
	color:#888;
}
.FoodContent .ListFoods .list ul ol .price{
	color:#F60;
	display:inline-block;
	padding-right:5px;
}
.FoodContent .ListFoods .list ul ol .price em{
	font-size:16px;
	font-weight:bold;
}
.FoodContent .ListFoods .list ul ol .wei{
	display:inline-block;
	margin-left:5px;
	background:#5AD2A4;
	line-height:20px;
	padding:0 5px 0 5px;
	color:#FFF;
}
.FoodContent .ListFoods .list ul li .L{
	float:left;	
}
.FoodContent .ListFoods .list ul li .L em{
	color:#F60;
}
.FoodContent .ListFoods .list ul li .R{
	float:right;
	color:#666;
}
.FoodContent .ListFoods .list ul li .R em{
	display:inline-block;
	width:68px;
	height:20px;
	line-height:20px;
	text-indent:70px;
	overflow:hidden;
	background:url(fen.png) left 1px no-repeat;
	vertical-align:middle;
}
.FoodContent .ListFoods .list ul li .R em.fen1{
	background:url(fen.png) left -29px no-repeat;
}
.FoodContent .ListFoods .list ul li .R em.fen2{
	background:url(fen.png) left -59px no-repeat;
}
.FoodContent .ListFoods .list ul li .R em.fen3{
	background:url(fen.png) left -89px no-repeat;
}
.FoodContent .ListFoods .list ul li .R em.fen4{
	background:url(fen.png) left -119px no-repeat;
}
.FoodContent .ListFoods .list ul li .R em.fen5{
	background:url(fen.png) left -149px no-repeat;
}
/**/
.FoodContent .ListFoods .list .weixincode{
	width:100%;
	height:260px;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.FoodContent .ListFoods .list:hover .weixincode{
	display:block;
}
.FoodContent .ListFoods .list .weixincode:before{
	content:'';
	display:block;
	width:100%;
	height:260px;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0.7;
	z-index:10;
}
.FoodContent .ListFoods .list .weixincode h3{
	text-align:center;
	padding-top:35px;
	font-weight:normal;
	font-size:16px;
	color:#FFF;
	position:relative;
	z-index:100;
}
.FoodContent .ListFoods .list .weixincode p{
	position:relative;
	z-index:100;
	text-align:center;
	width:140px;
	margin:20px auto 0 auto;
	background:#FFF;
	padding:10px 0 10px 0;
	border-radius:5px;
}
/**/
/*
*
*/
.InfoContent .head{
	height:40px;
	line-height:40px;
	padding-top:15px;
	border-bottom:#EEE dotted 1px;
	position:relative;
}
.InfoContent .head .tag{
	display:block;
	position:relative;
	float:left;
	padding-left:50px;
	font-size:18px;
	color:#71D1F0;
}
.InfoContent .more{
	width:800px;
	height:35px;
	line-height:35px;
	overflow:hidden;
	position:absolute;
	right:0px;
	bottom:0px;
	text-align:right;
	font-size:12px;
	color:#999;
}
.InfoContent .more a{
	color:#666;
}
.InfoContent .head .tag:before{
	content:'';
	display:block;
	width:36px;
	height:36px;
	background:url(info.png) no-repeat;
	background-size:36px 36px;
	border-radius:18px;
	overflow:hidden;
	position:absolute;
	left:5px;
	top:-2px;
}
.InfoContent .ListInfo{
	width:1200px;
	height:320px;
	overflow:hidden;
}
.InfoContent .ListInfo ul{
	width:300px;
	height:160px;
	overflow:hidden;
	float:left;
	position:relative;
}
.InfoContent .ListInfo ul ol{
	width:120px;
	float:left;
	padding-top:20px;
	text-align:center;
	font-size:18px;
}
.InfoContent .ListInfo ul ol a{
	display:block;
	padding-top:8px;
}
.InfoContent .ListInfo ul ol a img{
	width:100px;
	height:100px;
	
}
.InfoContent .ListInfo ul li{
	width:170px;
	float:left;
	padding-top:50px;
}
.InfoContent .ListInfo ul li div a{
	display:block;
	height:25px;
	line-height:25px;
	overflow:hidden;
	padding-left:15px;
	font-size:14px;
	color:#666;
	background:url(array1.png) 3px 8px no-repeat;
}
.InfoContent .ListInfo ul li div a:hover{
	background:#999;
	border-radius:5px;
	color:#FFF;
}
/**
**/
.ActionContent{
	margin:10px auto;
	height:120px;
	overflow:hidden;
	border-bottom:#EEE solid 1px;
	background:#F7F7F7;
}
.ActionContent ul{
	width:300px;
	height:120px;
	overflow:hidden;
	float:left;
	position:relative;
}
.ActionContent ul ol{
	width:100px;
	position:absolute;
	left:0;
	top:0;
	padding:20px 0 0 20px;
}
.ActionContent ul ol a{
	display:block;
	width:80px;
	height:80px;
	border-radius:40px;
	overflow:hidden;
}
.ActionContent ul li{
	display:table;
	width:100%;
	height:120px;
}
.ActionContent ul li a{
	display:table-cell;
	padding:10px 10px 10px 110px;
	vertical-align:middle;
	font-size:16px;
	line-height:25px;
}
.FooderCont{
	width:100%;
	clear:both;
	margin-top:20px;
	border-top:#EEE solid 1px;
	padding-top:15px;
}
.FooderCont .MainContainer{
	height:180px;
	overflow:hidden;
}
.FooderCont .contactus,.FooderCont .more{
	width:280px;
	height:180px;
	border-right:#EEE solid 1px;
	float:left;
	padding-left:30px;
}
.FooderCont .more{
	width:190px;
}
.FooderCont .MainContainer h3{
	height:30px;
	position:relative;
	padding-left:35px;
	line-height:30px;
	overflow:hidden;
	font-size:16px;
}
.FooderCont .MainContainer h3 span{
	display:block;
	width:40px;
	height:30px;
	line-height:30px;
	position:absolute;
	overflow:hidden;
	left:0;
	top:0;
}
.FooderCont .MainContainer h3 span img{
	vertical-align:middle;
}
.FooderCont .contactus ul{
	padding:5px 0 0 35px;
}
.FooderCont .contactus ul li{
	font-size:14px;
	line-height:20px;
	padding-top:5px;
}
.FooderCont .contactus ul li p{
	font-size:12px;
	color:#888;
}
.FooderCont .contactus ul li .tel{
	font-weight:bold;
	color:#F60;
}
.FooderCont .contactus ul li .qq{
	display:inline-block;
	height:20px;
	padding:0 8px 0 22px;
	position:relative;
	background:#F90;
	color:#FFF;
	overflow:hidden;
	border-radius:10px;
	vertical-align:middle;
	margin-left:5px;
}
.FooderCont .contactus ul li .qq:before{
	content:'';
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	left:0;
	top:0;
	background:url(phone.png) no-repeat;
	background-size:20px 20px;
	border-radius:10px;
}
.FooderCont .more ul{
	padding:5px 0 0 35px;
}
.FooderCont .more ul li a{
	display:block;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#888;
	padding-left:8px;
	background:url(array2.png) left 12px no-repeat;
}
.FooderCont .more ul li a:hover{
	color:#F30;
}
.FooderCont .weixin{
	width:200px;
	float:right;
}
.FooderCont .weixin ol{
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	color:#666;
	font-weight:bold;
}
.FooderCont .weixin li{
	text-align:center;
	padding-top:5px;
}
.FooderCont .weixin li img{
	width:140px;
	height:140px;
}

.img3ad img{

	width:1200px;
}