.MainContainer .sortCont{
	width:250px;
	position:absolute;
	padding-top:50px;
	z-index:100000;
	left:0;
	top:-50px;
	display:none;
}
/*
*
*/
.SelctType{
	border:#EEE solid 1px;
	margin:10px auto;
	padding:0 10px 0 10px;
}
.SelctType dl{
	display:table;
	width:100%;
	border-top:#DDD dotted 1px;
}
.SelctType dl:nth-child(1){
	border-top:0px;
}
.SelctType dl dt,.SelctType dl dd{
	display:table-cell;
	vertical-align:top;
}
.SelctType dl dt{
	width:60px;
	padding-top:10px;
	line-height:20px;
	text-indent:10px;
}
.SelctType dl dd{
	padding-top:10px;
	padding-bottom:5px;
}
.SelctType dl dd ul ol,.SelctType dl dd ul li{
	float:left;
	height:20px;
	line-height:20px;
	padding:0 15px 0 15px;
	margin-bottom:3px;	
}
.SelctType dl dd ul ol{
	background:#2BB8AA;
	padding:0 10px 0 10px;
	margin-right:5px;
	border-radius:3px;
}
.SelctType dl dd ul ol a{
	color:#FFF;
}
.SelctType dl dd ul li a{
	color:#666;
}
.SelctType dl dd ul li a.ck{
	color:red;
}
.SelctType dl dd ul li:hover{
	background:#999;
	border-radius:3px;
}
.SelctType dl dd ul li:hover a{
	color:#FFF;
}
/*
*
*/
.ShowType{
	height:32px;
	border:#EEE solid 1px;
	border-top:0;
	overflow:hidden;
	position:relative;
}
.ShowType:before{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	top:0;
	background:#EEE;
}
.ShowType ul ol,.ShowType ul li{
	height:32px;
	line-height:32px;
	float:left;
	border-right:#EEE solid 1px;
	position:relative;
}
.ShowType ul ol{
	padding:0 15px 0 15px;
}
.ShowType ul li{
	padding:0 30px 0 15px;
	background:url(down.png) right 1px no-repeat;
}
.ShowType ul .ck:before{
	content:'';
	display:block;
	width:100%;
	height:2px;
	position:absolute;
	left:0;
	top:0;
	background:#2BB8AA;
}
.ShowType ul .ck a{
	color:#2BB8AA;
}
.ShowType ul li.ck{
	background:url(down1.png) right 1px no-repeat;
}
/*
*
*/
.ContentTable{
	display:table;
	width:100%;
	margin-top:15px;
}
.ContentTable .LeftCont,.ContentTable .RightCont{
	display:table-cell;
	vertical-align:top;
}
.ContentTable .LeftCont{
	width:950px;
}
.ContentTable .LeftCont .list{
	width:301px;
	height:370px;
	margin-right:15px;
	margin-bottom:15px;
	position:relative;
	float:left;
	border-top:#EEE solid 1px;
	border-bottom:#EEE solid 1px;
}
.ContentTable .LeftCont .list:before,.ContentTable .LeftCont .list:after{
	content:'';
	display:block;
	width:1px;
	height:370px;
	background:#EEE;
	position:absolute;
	top:0;
}
.ContentTable .LeftCont .list:before{
	left:0;
}
.ContentTable .LeftCont .list:after{
	right:0;
}
.ContentTable .LeftCont .list .type{
	width:280px;
	height:40px;
	position:absolute;
	left:10px;
	top:-4px;
	z-index:10;
}
.ContentTable .LeftCont .list .type span{
	display:block;
	width:40px;
	height:35px;
	padding-top:5px;
	text-align:center;
	background:#FF6F4C;
	float:left;
	position:relative;
	color:#FFF;
}
.ContentTable .LeftCont .list .type span:before{
	content:'';
	display:block;
	width:3px;
	height:3px;
	background:url(coner1.png) no-repeat;
	position:absolute;
	right:-3px;
	top:1px;
}
.ContentTable .LeftCont .list .type span.type2{
	background:#32D3C3;
}
.ContentTable .LeftCont .list .type span.type2:before{
	background:url(coner2.png) no-repeat;
}
.ContentTable .LeftCont .list dl{
	width:301px;
	margin:auto;
	overflow:hidden;
}
.ContentTable .LeftCont .list dl dt{
	width:400px;
	text-align:center;
	margin-left:-50px;
}
.ContentTable .LeftCont .list dl dt img{
	height:215px;
}
.ContentTable .LeftCont .list dl dd h3 a{
	display:block;
	padding:10px 8px 5px 10px;
	line-height:20px;
	font-size:16px;
}
.ContentTable .LeftCont .list dl dd p{
	padding-left:10px;
	color:#666;
	line-height:20px;
	font-size:14px;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-word;/*支持IE，chrome，FF*/
}
.ContentTable .LeftCont .list ul{
	width:298px;
	height:70px;
	position:absolute;
	left:1px;
	bottom:0;
	background:#F9F9F9;
}
.ContentTable .LeftCont .list ul ol{
	height:35px;
	border-bottom:#EEE solid 1px;
	background:#FFF;
	padding-left:10px;
}
.ContentTable .LeftCont .list ul ol span{
	display:block;
	height:35px;
	line-height:35px;
	float:left;
	color:#888;
}
.ContentTable .LeftCont .list ul ol span.price{
	color:#F60;
	padding-right:5px;
}
.ContentTable .LeftCont .list ul ol span.price em{
	font-size:24px;
	font-weight:bold;
}
.ContentTable .LeftCont .list ul ol span.wei{
	background:#FF8E3F;
	height:20px;
	line-height:20px;
	overflow:hidden;
	padding:0 8px 0 8px;
	margin:8px 10px 0 0;
	color:#FFF;
	border-radius:3px;
}
.ContentTable .LeftCont .list ul li{
	border-top:#FFF solid 1px;
	height:32px;
	padding:0 10px 0 10px;
	line-height:32px;
	overflow:hidden;
}
.ContentTable .LeftCont .list ul li span{
	display:block;
	color:#888;
}
.ContentTable .LeftCont .list ul li span.L{
	float:left;	
}
.ContentTable .LeftCont .list ul li span.L em{
	color:#F60;
}
.ContentTable .LeftCont .list ul li span.R{
	float:right;	
}
.ContentTable .LeftCont .list ul li span.R em{
	display:block;
	width:70px;
	height:30px;
	overflow:hidden;
	float:left;
	background:url(fen.png) left 10px no-repeat;
	text-indent:70px;
}
.ContentTable .LeftCont .list ul li span.R em.fen1{
	background:url(fen.png) left -20px no-repeat;
}
.ContentTable .LeftCont .list ul li span.R em.fen2{
	background:url(fen.png) left -50px no-repeat;
}
.ContentTable .LeftCont .list ul li span.R em.fen3{
	background:url(fen.png) left -80px no-repeat;
}
.ContentTable .LeftCont .list ul li span.R em.fen4{
	background:url(fen.png) left -110px no-repeat;
}
.ContentTable .LeftCont .list ul li span.R em.fen5{
	background:url(fen.png) left -140px no-repeat;
}
.ShowPage{
	clear:both;
	width:100%;
	text-align:center;
}
.ShowPage a{
	display:inline-block;
	border:#EEE solid 1px;
	padding:3px 5px 2px 5px;
	border-radius:3px;
	color:#666;
	font-size:14px;
}
/*
*
*/
.sidecont{
	border:#EEE solid 1px;
	margin-bottom:15px;
}
.sidecont .head{
	height:40px;
	line-height:40px;
	padding-left:15px;
	overflow:hidden;
	font-size:16px;
	font-weight:bold;
}
.sidecont .hotzt{
	border-top:#F5E3E6 solid 1px;
	background: -moz-linear-gradient(top,#FFF4F7,#FFF);
    background: -webkit-gradient(linear,top,from(#FFF4F7),to(#FFF));
    background: -webkit-linear-gradient(top,#FFF4F7,#FFF);
    background: -o-linear-gradient(top,#FFF4F7,#FFF);
	display:table;
	width:100%;
}
.sidecont .hotzt dt,.sidecont .hotzt dd{
	display:table-cell;
	vertical-align:top;
}
.sidecont .hotzt dt{
	width:100px;
	padding:20px 0 10px 15px;
}
.sidecont .hotzt dt p{
	line-height:20px;
	color:#888;
}
.sidecont .hotzt dt h2{
	line-height:30px;
	font-size:14px;
}
.sidecont .hotzt dt h3{
	line-height:25px;
}
.sidecont .hotzt dt .but{
	height:23px;
	line-height:23px;
	overflow:hidden;
	background:url(but.png) no-repeat;
	margin-top:5px;
	text-indent:10px;
	color:#FFF;
}
.sidecont .hotzt dd{
	text-align:center;
	padding:10px 0 10px 0;
	vertical-align:middle;
}
.sidecont .hotzt dd img{
	max-width:120px;
}
.sidecont .Lists{
	width:220px;
	margin:0 auto 10px auto;
	position:relative;
	border-bottom:#DDD dotted 1px;
}
.sidecont .Lists dt{
	width:220px;
	overflow:hidden;
}
.sidecont .Lists dt a{
	display:block;
	width:320px;
	text-align:center;
	margin-left:-50px;
	background:#EFEFEF;
}
.sidecont .Lists dt img{
	max-height:130px;
}
.sidecont .Lists dd h3{
	padding:10px 0 2px 0;
	line-height:20px;	
}
.sidecont .Lists dd div{
	height:35px;
	line-height:25px;
	color:#888;
}
.sidecont .Lists dd div .price,.sidecont .Lists dd div em{
	color:#F60;
}
.sidecont .Lists dd div .price em{
	font-size:20px;
	font-weight:bold;
	margin-right:5px;
}
.sidecont .Lists .num{
	width:18px;
	height:18px;
	line-height:18px;
	background:url(numbg.png) no-repeat;
	color:#FFF;
	text-indent:5px;
	position:absolute;
	left:0;
	top:-3px;
}
/*
*
*/
.weixincode{
	position:absolute;
	width:300px;
	height:220px;
	left:0;
	top:-5px;
	z-index:10000;
	display:none;
}
.weixincode:before{
	content:'';
	display:block;
	width:100%;
	height:220px;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0.7;
}
.weixincode h3{
	text-align:center;
	padding-top:15px;
	font-weight:normal;
	font-size:18px;
	color:#FFF;
	position:relative;
	z-index:10001;
}
.weixincode p{
	position:relative;
	z-index:100;
	text-align:center;
	width:140px;
	margin:10px auto 0 auto;
	background:#FFF;
	padding:10px 0 10px 0;
	border-radius:5px;
}
.ContentTable .LeftCont .list:hover .weixincode{
	display:block;
}
/*.sidecont .Lists*/
.weixincode1{
	position:absolute;
	width:100%;
	height:135px;
	left:0;
	top:-3px;
	display:none;
}
.weixincode1:before{
	content:'';
	display:block;
	width:100%;
	height:135px;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0.7;
}
.weixincode1 h3{
	text-align:center;
	padding-top:10px;
	font-weight:normal;
	font-size:16px;
	color:#FFF;
	position:relative;
	z-index:100;
}
.weixincode1 p{
	position:relative;
	z-index:100;
	text-align:center;
	width:90px;
	margin:5px auto 0 auto;
	background:#FFF;
	padding:3px;
	border-radius:5px;
}
.sidecont .Lists:hover .weixincode1{
	display:block;
}