.MainContainer .sortCont{
	width:250px;
	position:absolute;
	padding-top:50px;
	z-index:100000;
	left:0;
	top:-50px;
	display:none;
}
/*
*
*/
.ListHyTable{
	display:table;
	width:100%;
}
.ListHyTable .LeftCont,.ListHyTable .RightCont{
	display:table-cell;
	vertical-align:top;
}
.ListHyTable .RightCont{
	width:230px;
	padding-left:10px;
}
/*
*
*/
.SelctType{
	border:#EEE solid 1px;
	margin:10px auto;
	padding:0 10px 0 10px;
}
.SelctType dl{
	display:table;
	width:100%;
	border-top:#DDD dotted 1px;
}
.SelctType dl:nth-child(1){
	border-top:0px;
}
.SelctType dl dt,.SelctType dl dd{
	display:table-cell;
	vertical-align:top;
}
.SelctType dl dt{
	width:60px;
	padding-top:10px;
	line-height:20px;
	text-indent:10px;
}
.SelctType dl dd{
	padding-top:10px;
	padding-bottom:5px;
}
.SelctType dl dd ul ol,.SelctType dl dd ul li{
	float:left;
	height:20px;
	line-height:20px;
	padding:0 15px 0 15px;
	margin-bottom:3px;	
}
.SelctType dl dd ul ol{
	background:#2BB8AA;
	padding:0 10px 0 10px;
	margin-right:5px;
	border-radius:3px;
}
.SelctType dl dd ul ol a{
	color:#FFF;
}
.SelctType dl dd ul li a{
	color:#666;
}
.SelctType dl dd ul li a.ck{
	color:red;
}
.SelctType dl dd ul li:hover{
	background:#999;
	border-radius:3px;
}
.SelctType dl dd ul li:hover a{
	color:#FFF;
}
/*
*
*/
.ShowType{
	height:36px;
	border:#EEE solid 1px;
	border-top:0;
	overflow:hidden;
	position:relative;
}
.ShowType:before{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	top:0;
	background:#EEE;
}
.ShowType ul ol,.ShowType ul li{
	height:36px;
	line-height:36px;
	float:left;
	border-right:#EEE solid 1px;
	position:relative;
}
.ShowType ul a{
	font-size:14px;
	font-weight:bold;
	color:#666;
}
.ShowType ul ol{
	padding:0 15px 0 15px;
}
.ShowType ul li{
	padding:0 30px 0 15px;
	background:url(down.png) right 3px no-repeat;
}
.ShowType ul .ck:before{
	content:'';
	display:block;
	width:100%;
	height:2px;
	position:absolute;
	left:0;
	top:0;
	background:#2BB8AA;
}
.ShowType ul .ck a{
	color:#2BB8AA;
}
.ShowType ul li.ck{
	background:url(down1.png) right 3px no-repeat;
}
/*
*
*/
.ListHy{
	border:#EEE solid 1px;
	margin:10px auto;
}
.ListHy .list{
	display:table;
	width:100%;
	border-top:#EEE solid 1px;
}
.ListHy .list:nth-child(1){
	border-top:0px;
}
.ListHy .list li.img,.ListHy .list li.info,.ListHy .list li.weixin{
	display:table-cell;
	vertical-align:top;
}
.ListHy .list li.img{
	width:180px;
	padding:15px;
}
.ListHy .list li.img dl{
	width:180px;
	overflow:hidden;
	position:relative;
}
.ListHy .list li.img dl dt{
	width:280px;
	text-align:center;
	margin-left:-50px;
}
.ListHy .list li.img dl dt img{
	max-height:125px;
}
.ListHy .list li.img dl dd{
	text-align:center;
	padding-top:15px;
	line-height:35px;
	padding-bottom:10px;
}
.ListHy .list li.img dl dd a{
	display:inline-block;
	width:140px;
	background:#2FBDAA;
	font-size:14px;
	color:#FFF;
}
.ListHy .list li.weixin{
	width:110px;
	vertical-align:bottom;
	padding:15px 20px 20px 20px;
}
.ListHy .list li.weixin dl{
	width:110px;
	overflow:hidden;
}
.ListHy .list li.weixin dl dt img{
	width:110px;
	height:110px;
}
.ListHy .list li.weixin dl dd span{
	display:block;
	line-height:35px;
	text-align:center;
	background:#2FBDAA;
	margin-top:15px;
	font-size:14px;
	color:#FFF;
}
.ListHy .list li.info .title{
	padding-top:10px;
	line-height:20px;
	color:#888;
}
.ListHy .list li.info .title a{
	font-size:16px;
}
.ListHy .list li.info .title em{
	font-size:16px;
	color:#F60;
}
.ListHy .list li.info .address{
	padding-top:5px;
	line-height:20px;
	color:#666;
	font-size:14px;
}
.ListHy .list li.info .more{
	padding:5px 0 5px 0;
	line-height:22px;
	font-size:14px;
}
.ListHy .list li.info .more a{
	display:inline-block;
	border:#2FBDAA solid 1px;
	font-size:12px;
	padding:0 5px 0 5px;
	line-height:20px;
}
.ListHy .list li.info .other{
	width:90%;
	border:#DDD dotted 1px;
	margin-bottom:15px;
	margin-top:5px;
	padding:8px 0 8px 0;
}
.ListHy .list li.info .other li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding:0 10px 0 40px;
	color:#666;
}
.ListHy .list li.info .other li.hd{
	background:url(hd.png) 10px 5px no-repeat;
}
.ListHy .list li.info .other li.tg{
	background:url(tg.png) 10px 5px no-repeat;
}
.ListHy .list li.info .other li.yh{
	background:url(yh.png) 10px 5px no-repeat;
}
.ListHy .list li.info .other li em{
	color:#F60;
}
.ListHy .list li.info .other li strike{
	color:#999;
}
.ShowPage{
	clear:both;
	width:100%;
	text-align:center;
}
.ShowPage a{
	display:inline-block;
	border:#EEE solid 1px;
	padding:3px 5px 2px 5px;
	border-radius:3px;
	color:#666;
	font-size:14px;
}
/*
*
*/
.sidecont{
	border:#EEE solid 1px;
	margin-top:10px;	
}
.hyJoincont dt{
	padding:15px 0 10px 0;
	text-align:center;
}
.hyJoincont dt img{
	max-width:95%;
}
.hyJoincont dd{
	text-align:center;
	padding-bottom:15px;
	position:relative;
}
.hyJoincont dd a{
	display:inline-block;
	width:150px;
	line-height:40px;
	background:#2FBDAA;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFF;
	border-radius:5px;
}
.hyJoincont dd:hover .weixincode{
	display:block;
	height:250px;
	top:-195px;
}
.hyJoincont dd:hover .weixincode:before{
	height:250px;
}
.sidecont .head{
	height:40px;
	line-height:40px;
	border-bottom:#EEE solid 1px;
	padding-left:15px;
	font-size:16px;
	color:#2FBDAA;
}
.sidecont .cont{
	padding:10px;
}
.sidecont .cont li{
	height:30px;
	position:relative;
}
.sidecont .cont li a{
	display:block;
	height:30px;
	line-height:30px;
	overflow:hidden;
	border-top:#DDD dotted 1px;
	text-indent:5px;
	color:#666;
}
.sidecont .cont li:nth-child(1) a{
	border-top:0px;
}
/**
**/
.ActionContent{
	margin:10px auto;
	height:120px;
	overflow:hidden;
	border-bottom:#EEE solid 1px;
	background:#F7F7F7;
}
.ActionContent ul{
	width:300px;
	height:120px;
	overflow:hidden;
	float:left;
	position:relative;
}
.ActionContent ul ol{
	width:100px;
	position:absolute;
	left:0;
	top:0;
	padding:20px 0 0 20px;
}
.ActionContent ul ol a{
	display:block;
	width:80px;
	height:80px;
	border-radius:40px;
	overflow:hidden;
}
.ActionContent ul li{
	display:table;
	width:100%;
	height:120px;
}
.ActionContent ul li a{
	display:table-cell;
	padding:10px 10px 10px 110px;
	vertical-align:middle;
	font-size:16px;
	line-height:25px;
}
/*
*
*/
.weixincode{
	width:100%;
	height:200px;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.weixincode:before{
	content:'';
	display:block;
	width:100%;
	height:185px;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0.7;
	border-radius:5px;
}
.weixincode h3{
	text-align:center;
	padding-top:15px;
	font-weight:normal;
	font-size:16px;
	color:#FFF;
	position:relative;
	z-index:100;
}
.weixincode p{
	position:relative;
	z-index:100;
	text-align:center;
	width:120px;
	margin:15px auto 0 auto;
	background:#FFF;
	padding:10px 0 10px 0;
	border-radius:5px;
}
.ListHy .list li.img:hover .weixincode{
	display:block;
}
.sidecont .cont li:hover .weixincode{
	display:block;
	z-index:10000;
	top:-150px;
}