<!--
<?php
print <<<EOT
--> 
<form name="form_work" method="post" action="index.php?lfj=$lfj&action=test">
<div class="MainContainers">
  <div class="Header"><span class="tag">发送站内短消息</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
    <table class="FormTable">
    <tr> 
      <td class='tdL'>会员帐号:<br>
        (多个帐号,每个换一行) </td>
      <td class='tdR'>
        <textarea name="Usrdb" cols="40" rows="5"></textarea>
        (提示:你可以把一批会员帐号每个换一行粘贴到这里群发) </td>
    </tr>
    <tr> 
      <td class='tdL'>短消息标题: </td>
      <td class='tdR'>
        <input type="text" name="Title" size="90">
      </td>
    </tr>
    <tr> 
      <td class='tdL'>短消息内容:</td>
      <td class='tdR'> 
        <textarea name="Content" cols="90" rows="15"></textarea>
      </td>
    </tr>
  </table>
  <div class='submits'><input type="submit" name="Submit" value="提交"></div>
</div>
</div>
</form>
<!--
EOT;
?>
-->
