.orange {
	color:#ff9600;
}
.blue {
	color:#21aaf3;
}
.hui {
	color:#666666;
}

.head {
	width:100%; height:40px; background:#f0f0f0; font-size:16px; float:left;
}
.wap a:hover {
	text-decoration:underline;
}
.content_left {
	width:70%; height:auto; float:left; margin-bottom:70px; margin-top: 25px;
}
.hl {
	width:70%; line-height:40px; float:left;
}
.hl span {
	padding-left:20px; font-weight:bold;
}
.hr {
	width:30%; line-height:40px; float:left;
}
.hj {
	background:url(rr_s1.jpg) no-repeat left center; padding-left:20px;
}
.hp {
	background:url(rr_s2.jpg) no-repeat left center; padding-left:20px; float:right; margin:0 30px;
}
.text {
	width:100%; height:auto; float:left;
}
.text table tr td {
	width:100%; float:left;
}
.th {
	width:100%; background:url(h3_bg.jpg) repeat-x center center; margin:15px 0;
}
.th1 {
	width:95px; line-height:60px; background:#ffffff;
}
.t_pic {
	width:25%; float:left;
}
.base {
	width:75%; float:left;
}
.base li {
	float:left;width:100%;
}
.base li div {
	line-height:37px; font-size:15px; width:30%; float:left; padding-right:3%;
}
.base li div em {
	color:#666666;
}
.tu {
	color:#4c4c4c; line-height:35px; font-size:15px;
}
.tt p {
	text-indent:2em; color:#4c4c4c; font-size:15px; line-height:30px;
}
.call {
	width:30%; text-align:center; margin:0 auto;
}
.call div{
	width:100%; height:32px; margin-top:20px;
}
.call div .blue {
	width:40%; line-height:32px; border:1px solid #21aaf3; float:left;
}
.call div .orange {
	width:40%; line-height:32px; border:1px solid #ff9600; float:left;
}
.care {
	background:url(rr_s3.jpg) no-repeat left center; line-height:32px;
}
.call div span {
	width:59%; line-height:32px; float:left;
}
.print {
	background:url(rr_print.jpg) no-repeat center center; height:40px; line-height:40px; text-align:center; margin:35px 0;
}
.print a {
	color:#dff0fd; font-size:16px; font-weight:bold; padding-left:15px;
}

.content_right {
	width:30%; height:auto; float:left;
}
.rt {
	border:1px solid #CCCCCC; width:100%; float:left; margin-top: 25px;
}
.rf {
	border:1px solid #CCCCCC; width:100%; float:left; margin-top:25px;
}
.ht {
	width:100%; line-height:40px; float:left;
}
.ht b {
	color:#333333;  padding-left:20px;
}
.data {
	padding-left:20px; padding-right:20px; width:89%; float:left; font-size:16px;
}
.d_name {
	width:100%; height:85px; float:left;
}
.n_pic {
	padding:16px 30px 16px 0; width:30%; float:left;
}
.n_taxt {
	width:60%; float:left; padding:16px 0;
}
.n_taxt span {
	line-height:25px; text-align:left; width:100%; float:left;
}
.join {
	width:100%; float:left; line-height:45px; color:#666666;
}
.jion_us {
	width:100%; height:38px; float:left; background:url(rr_jion.jpg) no-repeat center center; 
	text-align:center; line-height:38px; color:#ffffff; margin:25px 0;
}
.jion_us span {
	padding-left:15px;
}
.newset table tr td {
	width:50%; text-align:center; line-height:45px;
}