div, p, dl, dt, dd,td,span,li,a{
	font-family: Arial, Helvetica, sans-serif;
}
.nav{
	background:#fff;
	overflow:hidden;
	padding:12px;
	}
.nav ul li{
	width:25%;
	float:left;
	text-align:center;
	}
.nav ul li a{
	display:block;
	width:90%;
	height:30px;
	line-height:30px;
	border-radius:8px;
	font-size:15px;
	border:solid 1px #ccc;
	}
	
.conter{
	background:#fff;
	padding:12px;
	overflow:hidden;
	margin:20px 0;
	}
.conter dl dt{
	width:100%;
	max-height:400px;
	overflow:hidden;}
.conter dl dt img{
	width:100%;
	}
.conter dl dd .Price{
	width:20%;
	float:left;}
.conter dl dd .Price .s{
	text-decoration:line-through;
	}
.conter dl dd .Price .b{
	font-size:20px;
	color:#ff7200;
	}
.conter dl dd .btn{
	display:block;
	float:right;
	width:40%;
	height:53px;
	background:url(btn.png) no-repeat center;
	background-size:96%;
	text-align:center;
	line-height:53px;
	color:#fff;
	}
.ListMoreSorts{
	position:absolute;
	width:250px;
	right:-250px;
	display:none;
	top:60px;
	overflow:hidden;
	z-index:9999;
	border-left:#DDD solid 1px;
	background:#FFF;
	padding-bottom:48px;
}
.ListMoreSorts dl dt{
	height:30px;
	line-height:30px;
	padding-left:10px;
	overflow:hidden;
	border-top:#DDD solid 1px;
	border-bottom:#DDD solid 1px;
	background:url('updown.jpg') right center no-repeat;
}
.ListMoreSorts dl dt a{
	display:block; color:#888;
}
.ListMoreSorts dl dd{
	padding:10px 10px 10px 25px;
	line-height:30px;
}
.ListMoreSorts dl dd a{
	color:#666; display:block;
}
.fullbg { 
	background-color:#000; 
	opacity:0; 
	top:60px; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:1001; 
	position:absolute;
	display:none;
}