<!--
<?php
print <<<EOT
--> 
<!DOCTYPE html>
<html>
<head>
  <meta charset="gb2312">
  <title>$webdb[webname]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/wap/msg_style.css">
  <meta http-equiv='refresh' CONTENT='$time;URL=$url'>
</head>
<body ontouchstart="">

<div class="wx-showerr">
  <div class="wx-title refreshto">提示</div>
  <div class="wx-cont">$msg</div>
  <div class="wx-bt refreshBt"><button class="btn btn_primary" onclick="window.location.href='$url'" id="closeWindow">点击下一步</button></div>
</div>

</body>
 
</html>
<!--
EOT;
?>
-->