<!--
<?php
print <<<EOT
--> 
<!DOCTYPE html>
<html>
<head>
  <meta charset="gb2312">
  <title>$webdb[webname]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/wap/msg_style.css">
</head>
<body ontouchstart="">

<div class="wx-showerr">
  <div class="wx-title">提示</div>
  <div class="wx-cont">$showerrMsg</div>
  <div class="wx-bt"><button class="btn btn_primary" onclick="history.back(-1);" id="closeWindow">点击返回</button></div>
</div>
</body>
 
</html>
<!--
EOT;
?>
-->