<!--
<?php
print <<<EOT
--> 
<!DOCTYPE html>
<html>
<head>
  <meta charset="gb2312">
  <title>$webdb[webname]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="http://weixin.qibosoft.com/images/wap/msg_style.css">
</head>
<body ontouchstart="">
<div class="wxapi_container">
   
    <div class="lbox_close wxapi_form">
      <h3 id="menu-basic">提示：</h3>
      <span class="desc font_red">$showerrMsg</span>
      <button class="btn btn_primary" onclick="window.location.href='$webdb[www_url]/'" id="closeWindow">点击进入手机站</button>

       
    </div>
  </div>
</body>
 
</html>
<!--
EOT;
?>
-->