<!--
<?php
print <<<EOT
-->
<form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
<div class="MainContainers">
  <div class="Header"><span class="tag">栏目修改</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
  <table class="FormTable">
    <tr> 
      <td class='tdL'>栏目名称:</td>
      <td class='tdR'> 
        <input type="text" name="postdb[name]" value="$rsdb[name]">
      </td>
    </tr>
  </table>
  <div class='submits'>
        <input type="submit" name="Submit" value="提交">
        <input type="hidden" name="fid" value="$fid">    
  </div>
  </div>
</div>
</form>
<!--
EOT;
?>
-->
