/*
*css reset
*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:16px/26px 'Microsoft Yahei','Simsun';color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#2d374b;}
a:hover {color:#d00;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img {vertical-align:middle;}
body{
	padding-top:40px;
	background:#EFEFEF;
	max-width:640px;
	margin:auto;
}
/*header*/
header{
	width:100%;
	position:fixed; 
	height:40px;
	overflow:hidden;
	top:0;
	left:0;
	background:#125784;
	z-index:10000;
}
header div.back,header div.home{
	width:50px;
	height:40px;
	overflow:hidden;
	position:absolute;
	top:0;
}
header div.back a,header div.home a{
	display:block;
	width:50px;
	height:40px;
	overflow:hidden;
	line-height:40px;
	text-indent:60px;
}
header div.back{
	left:0;
	width:80px;
	background:url(back2.png) 5px 9px no-repeat;
	background-size:20px 20px;
}
header div.back a{
	width:80px;
	text-indent:35px;
	color:#FFF;
}
header div.home{
	right:0;
	background:url(member.png) center 7px no-repeat;
	background-size:25px 25px;
}
header div.member{
	text-align:center;
	line-height:40px;
	padding:0 60px 0 60px;
	overflow:hidden;
	font-weight:18px;
	font-weight:bold;
	color:#FFF;
}
header div.web{
	text-align:center;
	padding:0 50px 0 50px;
	line-height:40px;
	color:#FFF;
}
header div.web img{
	height:30px;
}
/*CopyRight*/
.CopyRight{
	text-align:center;
	color:#999;
	font-size:14px;
	padding:15px 10px 60px 10px;
	line-height:20px;
}
/*footer*/
footer{
	width:100%;
	height:45px;
	position:fixed;
	background:#4F4543;
	left:0;
	bottom:0;
    z-index:99999;	
}
footer ul{
	display:table;
	width:100%;
}
footer ul li{
	display:table-cell;
	width:20%;
	height:45px;
	vertical-align:middle;
}
footer ul li a{
	display:block;
	position:relative;
	text-align:center;
	color:#FFF;
	font-size:14px;
	padding-top:25px;
	height:20px;
	line-height:20px;
}
footer ul li.back a{
	background:url(icons.png) center 5px no-repeat;
	background-size:60px auto;
}
footer ul li.shop a{
	background:url(icons.png) center -170px no-repeat;
	background-size:60px auto;
}
footer ul li.member a{
	background:url(member.png) center 2px no-repeat;
	background-size:25px 25px;
}
footer ul li.car a{
	background:url(icons.png) center -218px no-repeat;
	background-size:60px auto;
}
footer ul li.home a span{
	display:block;
	width:100%;
	height:60px;
	position:absolute;
	left:0;
	top:-15px;
	background:url(icons.png) center -70px no-repeat;
	background-size:50px auto;
	overflow:hidden;
	line-height:150px;
}


.BaseInfo{
	width:100%;
	height:80px;
	overflow:hidden;
	position:relative;
	margin:10px auto 0 auto;
	border-top:#DDD solid 1px;
	border-bottom:#DDD solid 1px;
	background:#FFF url(more.png) right 35px no-repeat;
	background-size:20px 20px;
}
.BaseInfo dl dt{
	width:60px;
	height:60px;
	overflow:hidden;
	position:absolute;
	left:10px;
	top:10px;
	border-radius:5px;
	background:#999;
}
.BaseInfo dl dt img{
	width:100%;
}
.BaseInfo dl dd{
	height:65px;
	overflow:hidden;
	padding:5px 20px 0 80px;
}
.BaseInfo dl dd div{
	height:30px;
	line-height:30px;
	overflow:hidden;
	color:#888;
}
.BaseInfo dl dd div span{
	font-size:18px;
	font-weight:bold;
	color:#333;
}
.MoreMenu{
	width:100%;
	height:35px;
	overflow:hidden;
	margin:10px auto 0 auto;
	border-top:#DDD solid 1px;
	border-bottom:#DDD solid 1px;
	background:#FFF url(more.png) right 8px no-repeat;
	background-size:20px 20px;
}
.MoreMenu .ListMenu{
	line-height:35px;
	padding:0 30px 0 35px;
	cursor:pointer;
	position:relative;
	color:#666;
}
.MoreMenu .ListMenu:before {
	content: "";
	position: absolute;
	display:block;
	width:18px;
	height:18px;
	left: 10px;
	top: 9px;
	background:#7D7D7D url(add.png) center 3px no-repeat;
	background-size:12px 12px;
	border-radius:2px;
}
.MoreMenu1 .ListMenu:before {
	background:#7D7D7D url(set.png) center 3px no-repeat;
	background-size:12px 12px;
}
.ShowBgFull{ 
	background-color:#000;	 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:99999; 
	position:fixed;
	display:none;
	opacity:0;
}
.ShowMenu{
	background-color:#EFEFEF;	 
	top:0; 
	right:0; 
	width:0px; 
	height:100%; 
	overflow:hidden;
	z-index:100000; 
	position:fixed;
}
.ShowMenu dt,.ShowMenu dd{
	width:200px;
	overflow:hidden;
	border-top:#FFF solid 1px;
	border-bottom:#DDD solid 1px;
	line-height:35px;
	text-indent:15px;
}
.ShowMenu dt{
	background:#CCC;
	color:#FFF;
	font-weight:bold;
	line-height:38px;
}
.QuitCont{
	width:100%;	
	margin:10px auto;
	border-top:#DDD solid 1px;
	border-bottom:#DDD solid 1px;
	background:#FFF;
}
.QuitCont a{
	display:block;
	height:35px;
	overflow:hidden;
	line-height:35px;
	text-align:center;
	color:red;
}
/***/
.choosesorts{
	padding-bottom:10px;
}
.choosesorts ul{
	border:#DDD solid 1px;
	border-bottom:0px;
	margin:10px 10px 0 10px;
}
.choosesorts ul ol{
	border-bottom:#DDD solid 1px;
	line-height:35px;
	height:35px;
	overflow:hidden;
	background:#EFEFEF;
}
.choosesorts ul ol span, .choosesorts ul ol a{
	display:block;
	padding:0 15px;
}
.choosesorts ul li{
	border-bottom:#DDD solid 1px;
	line-height:35px;
	height:35px;
	overflow:hidden;
	display:none;
}
.choosesorts ul.showthis li{
	display:block;
}
.choosesorts ul li a{
	display:block;
	padding:0 15px;
}
/***/
.wapListBox{
	border:#DDD solid 1px;
	border-radius:3px;
	background:#FFF;
	margin:10px;
}
.wapListBox ul{
	display:table;
	width:100%;
}
.wapListBox ul ol,.wapListBox ul li{
	display:table-cell;
	vertical-align:middle;
	border-bottom:#DDD solid 1px;
}
.wapListBox ul ol{
	width:120px;
	padding:5px;
	min-height:90px;
	text-align:center;
	border-right:#DDD solid 1px;
}
.wapListBox ul ol img{
	max-width:120px;
	max-height:100px;
}
.wapListBox ul li{
	padding:5px;
	color:#888;
}
.wapListBox ul li a,.wapListBox ul li div{
	display:block;
	height:20px;
	line-height:20px;
	overflow:hidden;
	font-size:14px;
}
.wapListBox ul li a.t{
	color:#369;
}
.wapListBox ul li a.f{
	color:#F90;
}
.wapListBox .butters{
	text-align:center;
	padding:0 5px 5px 5px;
}
.wapListBox .butters a{
	display:inline-block;
	border:#DDD solid 1px;
	line-height:25px;
	padding:0 5px;
	margin-top:5px;
	font-size:14px;
	color:#666;
	background:#EFEFEF;
}