.B{
	font-weight:bold;
}
.red{
	color:red;
}
.blue{
	color:blue;
}
.green{
	color:green;
}
.FL{
	float:left;
}
.FR{
	float:right;
}
.MainCont{
	width:98%;
	overflow:hidden;
	margin:10px auto;
	border:#DDD solid 1px;
	background:#FFF;
	border-radius:5px;
}
.MainCont .head {
	background:#999;
	color:#FFF;
}
.MainCont .head:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	clear:both;
}
.MainCont .head .tag{
	padding:5px 5px 5px 10px;
	line-height:25px;
	float:left;
}
.MainCont .head .more{
	float:right;
	padding:5px 10px 5px 0;
	line-height:25px;
}
.MainCont .head a{
	color:#FFF;
}
.MainCont .FormTable th,.MainCont .FormTable td,.MainCont .ListTable th,.MainCont .ListTable td{
	border-top:#DDD solid 1px;
	padding:5px;
	line-height:25px;
	font-size:14px;
} 
.MainCont .FormTable td.tdL{
	width:120px;
	text-align:right;
	border-right:#DDD solid 1px;
}
.MainCont .FormTable td.nostyle	{
	padding:0;
	border:0;
}
#showRegDiv dl{
	display: table;
	width: 100%;
	border-top:#DDD solid 1px;
}
#showRegDiv dl dt,#showRegDiv dl dd{
	display: table-cell;
	padding:5px;
	line-height:25px;
}
#showRegDiv dl dt{
	width:120px;
	text-align:right;
	border-right:#DDD solid 1px;
}
.MainCont .ListTable th,.MainCont .ListTable td{
	text-align:center;
	border-left:#DDD solid 1px;
}

table.ListTable td a.editPic, table.ListTable td a.delPic{
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    line-height: 65px;
}
table.ListTable td a.editPic {
    background: url(editPic.png) center top no-repeat;
    background-size: 25px 25px;
}
table.ListTable td a.delPic {
    background: url(delPic.png) center top no-repeat;
    background-size: 25px 25px;
}
table.ListTable .submitNa{

}
.submitNa input[type=submit]{
border-radius:3px;
padding:0 8px;
background:#fff;
border:1px solid #999;
margin-left:30px;
margin-top:5px;
}



.MainCont .ListTable td.tL{
	text-align:left;
}
.MainCont .ListTable th:nth-child(1),.MainCont .ListTable td:nth-child(1){
	border-left:0;
}
.MainCont .Showpage{
	text-align:center;
	padding:5px;
	line-height:25px;
	border-top:#DDD solid 1px;
}
.MainCont .Showpage a{
	border:#DDD solid 1px;
	padding:3px 5px 2px 5px;
	border-radius:3px;
	font-size:12px;
}
.MainCont .aboutnote{
	padding:10px 0 10px 0;
}
.MainCont .aboutnote li{
	padding:5px 5px 0 10px;
	line-height:20px;
}
/*
*
*/
.ShowSortTable td{
	width:48%;
	vertical-align:top;
}
.ShowSortTable .listshorts{
	padding:5px;
}
.listshorts ul{
	margin:auto;
	overflow:auto;
	overflow-x:hidden;
	border:#EEE solid 1px;
	padding:5px 3px 0 3px;
}
.listshorts li{
	height:25px;
	overflow:hidden;
	padding:0;
	margin:0;
}
.listshorts li div{
	padding:3px 15px 0 15px;
	line-height:22px;
}
.listshorts li div.more{
	background:url(more.gif) right 9px no-repeat;
	cursor:pointer;
}
.listshorts li.ck{
	border:#EEE solid 1px;
	background:#EFEFEF;
}
/****/
.ShowMenus{
	width:98%;
	margin:auto;
	background:#FFF;
	border-radius:5px;
}

/*****/
.ListOrders{
	margin:10px;
	border:#DDD solid 1px;
}
.ListOrders .company{
	height:35px;
	line-height:35px;
	padding:0 10px;
	overflow:hidden;
	background:url(icon8.png) 10px 6px no-repeat;
	background-size:25px 25px;
}
.ListOrders .company a{
	float:left;
	color:#369;
	padding-left:30px;	
	padding-right:20px;	
	background:url(more1.png) right 8px no-repeat;
	background-size:10px 18px;
}
.ListOrders .company span{
	float:right;
	font-size:14px;
	color:#f90;
}
.ListOrders ul{
	display:table;
	width:100%;
	background:#EFEFEF;
	margin-bottom:10px;
}
.ListOrders ul ol,.ListOrders ul li{
	display:table-cell;
	vertical-align:middle;
}
.ListOrders ul ol{
	width:120px;
	padding:10px;
	text-align:center;
	min-height:90px;
}
.ListOrders ul ol img{
	max-width:120px;
	max-height:100px;
}
.ListOrders ul li{
	padding:5px 10px 5px 0;
	font-size:14px;
}
.ListOrders ul li .infos div{
	height:25px;
	line-height:25px;
	overflow:hidden;
	color:#888;
}
.ListOrders ul li .infos div.num{
	text-align:right;
}
.ListOrders .orderTz{
	height:20px;
	line-height:20px;
	overflow:hidden;
	text-align:right;
	padding-right:15px;
}
.ListOrders .ActOrder{
	border-top:#DDD solid 1px;
	margin-top:8px;
	text-align:center;
	padding:3px 5px 5px 5px;
}
.ListOrders .ActOrder a{
	display:inline-block;
	border:#DDD solid 1px;
	line-height:25px;
	padding:0 10px;
	font-size:14px;
	color:#666;
	margin:3px 5px 0 5px;
}
/**/
.AddSorts{
	border:#DDD solid 1px;
	margin:10px;
	border-radius:5px;
	background:#EFEFEF;
}
.AddSorts dl{
	display:table;
	width:100%;
	border-bottom:#DDD solid 1px;
}
.AddSorts dl dt,.AddSorts dl dd{
	display:table-cell;
	padding:5px;
	font-size:14px;
	line-height:25px;
}
.AddSorts dl dt{
	width:80px;
	text-align:right;
}
.AddSorts dl dd input[type=text]{
	border:#DDD solid 1px;
	height:25px;
	line-height:25px;
	width:95%;
}
.AddSorts dl dd select{
	border:#DDD solid 1px;
}
.submitBox{
	clear:both;
	width:100%;
	text-align:center;
}
.submitBox span{
	display:inline-block;
	line-height:30px;
	padding:0 10px;
	margin:5px;
	border:#F60 solid 1px;
	background:#F90;
	color:#FFF;
	font-size:14px;
}
/**/
.WapTable{	
	width:100%;
	border-top:#DDD solid 1px;
	font-size:14px;
}
.WapTable th,.WapTable td{
	border-bottom:#DDD solid 1px;
}
.WapTable th{
	line-height:35px;
	background:#EFEFEF;
}
.WapTable td{
	padding:5px;
	line-height:25px;
	text-align:center;
}
.WapTable td.tL{
	text-align:left;
	text-indent:5px;
}
.wapinput{
	border:#DDD solid 1px;
	height:25px;
	text-indent:5px;
	color:#666;
}
.wapedit,.wapdel{
	display:inline-block;
	width:25px;
	height:25px;
	overflow:hidden;
	line-height:80px;
}
.wapedit{
	background:url(edit.png) no-repeat;
	background-size:25px 25px;
}
.wapdel{
	background:url(del.png) no-repeat;
	background-size:25px 25px;
}