body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
	font-family: Arial, Helvetica, sans-serif;
}
.GuideCont{
	height:40px;
	line-height:40px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10px;
}
.GuideCont a{
	color:#666;
}
.SelectList{	
	width:100%;
	position:relative;
}
.searchbar{
	border-top:1px solid #ddd;
	height:50px;
	background:#FFF;
	overflow:hidden;
}
.searchbar form{
	display:block;
	width:98%;
	border:#DDD solid 1px;
	border-radius:3px;
	height:30px;
	overflow:hidden;
	margin:10px auto 0 auto;
	position:relative;
}
.searchbar .s_ipt { 
	width:100%;
	display:block;
	height:30px;
	line-height:30px;
	border:0;
}
.searchbar .s_btn { 
	display:block; 
	width:36px; 
	height:30px;
	position:absolute;
	top:0; 
	right:0;
	text-indent:-999em; 
	border:0 none; 
	border-left:1px solid #ddd; 
	background:url(search_ico.gif) no-repeat center 9px; 
	background-size:15px auto; 
	cursor:pointer; 
}
.MemberAct{
	background:#FFF;
	text-align:center;
	padding:5px 0 15px 0;
}
.comn-submit { 
	display:inline-block; 
	padding:6px 15px;
	font-family:Arial, Helvetica, sans-serif; 
	text-align:center; 
	color:#fff; 
	background-color:#f40; 
	border:0 none; 
	box-shadow:#ddd 0 1px 1px; 
	border-radius:5px;
}
.comn-submit.reg-submit { 
	background-color:#3d8de2;
} 
.ChangeSele{
	height:40px;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	background-color:#FFF;
}
.ChangeSele li{
	float:left; 
	width:50%;
}
.ChangeSele li a { 
	overflow:hidden; 
	display:block; 
	text-align:center; 
	height:40px; 
	line-height:40px; 
	position:relative; 
	border-right:1px solid #d6d6d6;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
.ChangeSele li:nth-child(even) a { 
	border-right:0 none;
}
.ChangeSele li a em { 
	border-color:#B3AEA8 transparent transparent transparent; 
	border-width:5px; 
	display:inline-block; 
	margin-left:5px; 
	position:absolute; 
	top:19px; 
	border-style:solid;
}
.fullbg { 
	background-color:#000; 
	opacity:0; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:1001; 
	position:absolute;
	display:none;
}
.navbox { 
	position:absolute; 
	top:0;  
	right:0; 
	z-index:1002; 
	width:1px;
	overflow:hidden;
	background-color:#eee; 
	font-family:Arial, Helvetica, sans-serif;
}
.navbox:after{
	content: ''; 
	display: block;
    width: 100%;	
    height: 80px;
	clear:both;
}
.navbox a{
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
.navbox dl{
	border-bottom:1px solid #d6d6d6;
}
.navbox dl dt{
	height:35px;
	line-height:35px;
	padding-left:10px;
	border-bottom:1px solid #FFF;
	border-top:1px solid #FFF;
	overflow:hidden;
	position:relative;
}
.navbox dl dt:after{
	content: '';
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
	width:0;
	height:0;
	border:8px solid transparent;
	border-left: 8px solid rgba(0,0,0,0.8);
	border-right:0;
	cursor:pointer;
}
.navbox dl.ck dt:after{
	border:8px solid transparent;
	border-top: 8px solid rgba(0,0,0,0.8);
	border-bottom:0;
}
.navbox dl.ck dt a{
	color:red;
}
.navbox dl dd{
	padding:10px;
	background:#FFF;
	border-top:1px solid #d6d6d6;
	display:none;
}
.navbox dl.ck dd{
	display:block;
}
.navbox dl dd div a{
	display:block;
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.navbox dl dd div a.ck{
	color:red;
}
#navbox_zone dl dd div{
	width:50%;
	float:left;
	overflow:hidden;
}
#navbox_zone dl dd:after{
	content: ''; 
	display: block;
    width: 100%;	
    height: 1px;
	clear:both;
}
.SelectType{
	padding:5px 0 5px 10px;
}
.SelectType li{
	padding:5px 0 5px 0;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
}
.SelectType li span{
	font-weight:bold;
}
.SelectType li a{
	color:#666;
}
.ListCont .page{
	height:100px;
	padding-top:15px;
	text-align:center;
}
.ListCont .page a{
	font-family:Arial, Helvetica, sans-serif;
	display:inline-block; 
	border:#DDD solid 1px;
	border-radius:3px;
	padding:5px 10px;
	background:#FFF;
	color:#666;
	font-size:14px;
}
.ListCont .page a.ck{
	background:green;
}
.ListCont .page a.ck font{
	color:#FFF;
}
.ListCont ul.list{
	height:35px;
	line-height:35px;
	overflow:hidden;
	border-bottom:#DDD solid 1px;
}
.ListCont ul.head{
	border-top:#DDD solid 1px;
}
.ListCont ul.list li{
	float:left;
	overflow:hidden;
	width:15%;
	color:#666;
	position:relative;
}
.ListCont ul.list li:after{
	content: ''; 
	display: block;
    width: 5px;	
    height: 35px;
	position:absolute;
	left:0;
	top:0;
	border-left:#DDD solid 1px;
}
.ListCont ul.list li:nth-child(1){
	width:40%;
}
.ListCont ul.head li{
	text-align:center;
	background:#FFF;
	color:#000;	
}
.ListCont ul.list li span,.ListCont ul.list li a{
	display:block;
	padding:0 5px 0 5px;
	overflow:hidden;
	font-size:14px;
	text-align:center;
}
.ListCont ul.list li a{
	color:#369;
	text-align:left;
}
.ListCont .ListDemo{
	max-width:640px;
	min-width:32opx;
	border:#DDD solid 1px;
	padding:10px 0 10px 0;
	margin:10px auto 0 auto;
	background:#FFF;
	border-radius: 5px;
	overflow:hidden;
}
.ListCont .ListDemo p{
	display:block;
	width:98%;
	overflow:hidden;
	margin:auto;
	text-align:center;
}
.ListCont .ListDemo p img{
	width:100%;
}
.ListCont .ListDemo h4{
	padding:5px 5px 5px 10px;
	line-height:25px;
}
.ListCont .ListDemo h4 a{
	color:#369;
}
.ListCont .ListDemo div{
	padding-left:10px;
	color:#666;
	font-size:14px;
	line-height:20px;
	word-spacing:10px;
}
.ListCont .ListDemo div span{
	font-size:18px;
	color:#F60;
}
.ListCont .ListDemo div em{
	font-style:normal;
	color:green;
}
.ListCont .listTitle{
	height:35px;
	line-height:35px;
	border-bottom:#DDD solid 1px;
	position:relative;
	padding:0 100px 0 10px;
	overflow:hidden;
}
.ListCont .listTitle:nth-child(1){
	border-top:#DDD solid 1px;
}
.ListCont .listTitle a{
	color:#369;
}
.ListCont .listTitle span{
	display:block;
	position:absolute;
	width:100px;
	right:0;
	top:0;
	font-size:14px;
	color:#888;
	text-align:center;
}
.ListCont .listTitle:after{
	content: ''; 
	display: block;
    width: 100%;	
    height: 2px;
	position:absolute;
	left:0;
	top:0;
	border-top:#FFF solid 1px;
}
.ListCont .ListDl{
	height:105px;
	padding-top:15px;
	position:relative;
	overflow:hidden;
	border-bottom:#DDD solid 1px;
}
.ListCont .ListDl:nth-child(1){
	border-top:#DDD solid 1px;
}
.ListCont .ListDl:after{
	content: ''; 
	display: block;
    width: 100%;	
    height: 2px;
	position:absolute;
	left:0;
	top:0;
	border-top:#FFF solid 1px;
}
.ListCont .ListDl dt{
	width:120px;
	border:#DDD solid 1px;
	padding:1px;
	position:absolute;
	left:10px;
	top:13px;
	overflow:hidden;
}
.ListCont .ListDl dt a{
	display:block;
	width:120px;
	height:90px;
	overflow:hidden;
	background:#EFEFEF;
}
.ListCont .ListDl dt a img{
	width:100%;
}
.ListCont .ListDl dd{
	padding-left:145px;
	height:90px;
	overflow:hidden;
}
.ListCont .ListDl dd h4{
	height:30px;
	line-height:30px;
	font-weight:normal;
	position:relative;
	padding-right:130px;
	overflow:hidden;
}
.ListCont .ListDl dd h4 span{
	display:block;
	width:130px;
	position:absolute;
	right:0;
	top:0;
	font-size:14px;
	color:#888;
}
.ListCont .ListDl dd h4 a{
	color:#369;
}
.ListCont .ListDl dd p{
	display:block;
	height:30px;
	line-height:30px;
	overflow:hidden;
	color:#666;
}
.ListCont .ListDl dd div{
	height:30px;
	line-height:30px;
	overflow:hidden;
}
.ListCont .ListDl dd div a{
	color:#F60;
}

.ListCont .ListDesigner{
	height:115px;
	padding-top:15px;
	position:relative;
	overflow:hidden;
	border-bottom:#DDD solid 1px;
}
.ListCont .ListDesigner:nth-child(1){
	border-top:#DDD solid 1px;
}
.ListCont .ListDesigner:after{
	content: ''; 
	display: block;
    width: 100%;	
    height: 2px;
	position:absolute;
	left:0;
	top:0;
	border-top:#FFF solid 1px;
}
.ListCont .ListDesigner dt{
	width:80px;
	border:#DDD solid 1px;
	padding:1px;
	position:absolute;
	left:10px;
	top:13px;
	overflow:hidden;
}
.ListCont .ListDesigner dt a{
	display:block;
	width:80px;
	height:100px;
	overflow:hidden;
	background:#FFF;
	text-align:center;
}
.ListCont .ListDesigner dt a img{
	height:100%;
	margin:auto;
}
.ListCont .ListDesigner dd{
	padding-left:105px;
	height:100px;
	overflow:hidden;
}
.ListCont .ListDesigner dd h4,.ListCont .ListDesigner dd div,.ListCont .ListDesigner dd p{
	height:20px;
	line-height:20px;
	font-weight:normal;
	overflow:hidden;
	font-size:14px;
}
.ListCont .ListDesigner dd h4 a{
	color:#369;
}
.ListDesigner dd div span{
	color:#F60;
}
.ListDesigner dd div a{
	color:green;
}
.ListDesigner dd p{
	color:#666;
}