<!--
<?php
$query = $db->query("SELECT * FROM {$_pre}pic WHERE id='$id'");
$listPic="";
$i=0;
while($rs = $db->fetch_array($query)){
	$i++;
	$picurl=tempdir($rs[imgurl]);
	$picname=addslashes($rs[name]);
	$picname=$picname?$picname:$i;
	$listPic.="<div class='cell'><img src=\"$picurl\" alt=\"$picname\" /><span class='title'>$picname</span></div>\r\n";
}
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="./images/wap/f.css">
<div class="GuideCont">当前位置：<a href="./">分类首页</a> $GuideFid[$fid]</div>
<div class="titles">$rsdb[title]</div>
<div class="baseinfo">发布时间:<a editurl='$Murl/job.php?job=bencandy&fid=$fid&id=$id&act=do'>{$rsdb[posttime]}</a>　有效日期：{$rsdb[showday]}　浏览量：{$rsdb[hits]}次</div>
<div class="ShowSlide">
<script src="./images/wap/slide.js"></script>
<link rel="stylesheet" rev="stylesheet" href="./images/wap/slide.css" />
<div id="slide" class="clearfix" style="display:none">
	<div id="content">
		$listPic
	</div>
	<ul id="indicator"></ul>
	<span class="prev" id="slide_prev" style="display:none">上一张</span><span class="next" id="slide_next" style="display:none">下一张</span>
</div>
<script>
(function($){
	var list = $('#content').find('.cell');
	if(list.length > 0){
		$('#slide').show();
		var txt = '';
		$('#content').find('.cell').each(function(i){
			if(i === 0){
				txt += '<li class="active">1</li>';
			}else{
				txt += '<li>'+(i+1)+'</li>';
			}
		});
		$('#indicator').html(txt);
		setTimeout(function(){new C_Scroll({container:'slide',content:'content',ct:'indicator',size:'320',intervalTime:5000,lazyIMG:!!0});},200);
	}
})(jQuery);
</script>
</div>
<ul class="MoreInfo">
	<li><span>地区：</span>{$rsdb[showarea]}</li>
<!--
EOT;
if($rsdb['sortid']){print <<<EOT
-->
	<li><span>性质：</span>{$rsdb[sortid]} </li>
<!--
EOT;
}print <<<EOT
--><!---->
<!--
EOT;
if($rsdb[keywords]){print <<<EOT
-->
	<li><span>标签：</span>$rsdb[keywords]</li>
<!--
EOT;
}print <<<EOT
-->
</ul>
<ul class="Contact">
	<li><span>电话号码:</span><a href="tel:$rsdb[telephone]">$rsdb[telephone]</a></li>
	<li><span>手机号码:</span>$rsdb[mobphone]</li>
	<li><span>QQ　号码:</span><a href="tencent://message/?uin=$rsdb[_oicq]&Site=$webdb[Info_webname]&Menu=yes">$rsdb[oicq]</a></li>
	<li><span>MSN 帐号:</span>$rsdb[msn]</li>
	<li><span>邮箱帐号:</span>$rsdb[email]</li>
	<li><span>IP归属地:</span>{$rsdb[ipfrom]} <a href="$city_url/job.php?job=ip&ip=$rsdb[ipaddress]" target="_blank">查询更多</a></li>
</ul>
<div class="Contents">
	<h3>信息详情</h3>
	<div class="cont">
		$rsdb[content]
	</div>
</div>
<div class="bdsharebuttonbox">
	<A class=bds_more href="http://share.baidu.com/code?qq-pf-to=pcqq.group#" data-cmd="more"></A>
	<A class=bds_qzone title=分享到QQ空间 href="http://share.baidu.com/code?qq-pf-to=pcqq.group#" data-cmd="qzone"></A>
	<A class=bds_tsina title=分享到新浪微博 href="http://share.baidu.com/code?qq-pf-to=pcqq.group#" data-cmd="tsina"></A>
	<A class=bds_tqq title=分享到腾讯微博 href="http://share.baidu.com/code?qq-pf-to=pcqq.group#" data-cmd="tqq"></A>
	<A class=bds_renren title=分享到人人网 href="http://share.baidu.com/code?qq-pf-to=pcqq.group#" data-cmd="renren"></A>
</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<div class="Reminded">
	<div>网站提醒您：</div>
	<ul>
		<li>交易时请警惕网络诈骗、先付款后发货交易、欺诈交易。</li>
		<li>网站建议您只进行同城或当面交易，并检查物品的相关资料和手续。</li>
	</ul>
</div> 
<div class="FootSpac"></div>

<!--
EOT;
if($webdb[wxpay_AppID]&&$webdb[wxpay_AppSecret]){//微信自定义分享内容
require(ROOT_PATH."inc/weixin.jsdk.php");
$jssdk = new JSSDK($webdb[wxpay_AppID], $webdb[wxpay_AppSecret]);
$signPackage = $jssdk->GetSignPackage();
print <<<EOT
-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
  wx.config({
    debug: false,
    appId: '{$signPackage["appId"]}',
    timestamp: {$signPackage["timestamp"]},
    nonceStr: '{$signPackage["nonceStr"]}',
    signature: '{$signPackage["signature"]}',
    jsApiList: [
        'checkJsApi',
		'onMenuShareTimeline',
        'onMenuShareAppMessage',  
		'showMenuItems',
      ]
  });

</script>
<script type="text/javascript">
function ShareTimeline(){
    wx.onMenuShareTimeline({
      title: '$rsdb[title]',
      link: '$WEBURL',
      imgUrl: '$rsdb[picurl]',
      trigger: function (res) {
        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
        //alert('分享到朋友圈后，每进来一位新用户，你都将获得{$webdb[CommendRegHongBao]}元红包的奖励，你若取消关注公众号，将不派发！');
      },
      success: function (res) {
        //alert('分享成功，请注意查收红包！');
		//window.location.reload();
		//window.location.href='wapbencandy.php?WXID=$WXID&fid=$fid&id=$id&job=have_shareFriend';
      },
      cancel: function (res) {
       // alert('系统监测到你没有真正分享到朋友圈，请重新分享！');
      },
      fail: function (res) {
        alert(JSON.stringify(res));
      }
    });
	//wx.showOptionMenu();
	
    //alert('请点击左上角的菜单，然后分享到朋友圈去即可');
}

function ShareAppMessage(){
	wx.onMenuShareAppMessage({
      title: '$rsdb[title]',
      desc: '$rsdb[description]',
      link: '$WEBURL',
      imgUrl: '$rsdb[picurl]',
      trigger: function (res) {
        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
        //alert('你搞错了，应该分享到朋友圈去！');
      },
      success: function (res) {
        //alert('你并没有分享到朋友圈，请重新分享到朋友圈！');
		//window.location.href='wapbencandy.php?WXID=$WXID&fid=$fid&id=$id&job=have_shareFriend';
      },
      cancel: function (res) {
        //alert('你已取消操作，请重新分享到朋友圈！');
      },
      fail: function (res) {
        alert(JSON.stringify(res));
      }
    });
    //alert('请点击左上角的菜单，发送给朋友');
}

wx.ready(function () {
	//wx.showOptionMenu();
	ShareTimeline();
	ShareAppMessage();
});

wx.error(function (res) {
  alert(res.errMsg);
});

</script>
<!--
EOT;
}print <<<EOT
-->


<!--
EOT;
?>
-->