<!--
<?php
$ordertype = $ordertype ? $ordertype : "rid";
$select[$ordertype] = "ch";
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="images/life6/listall.css">
<div class="text">
<div class="content_text_left">
		<div class="content_text_left_top">
			<div class="showlist_theme">
				<img src="images/life6/theme1.jpg" />
				<span>黄页分类</span>
			</div>
<div class="Menu">
<!--
EOT;
foreach($Fid_db[0] AS $key=>$name){
$color=$fid==$key?'red':'';
$url="list.php?fid=$key";
print <<<EOT
-->
				<dl>
					<dt>
						<div class="level_1">
								<em><a href="$url">$name</a></em>
						</div>
					</dt>
					<dd>
<!--
EOT;
foreach($Fid_db[$key] AS $key2=>$name2){
$url="list.php?fid=$key2";
print <<<EOT
-->
              	<a href="$url">$name2</a>
<!--
EOT;
}print <<<EOT
-->
					</dd>
				</dl>
<!--
EOT;
}
print <<<EOT
-->
</div>
<script>
<!--
$(".Menu dl dt").click( function(){
var dlIndex = $(this).parent().index();
$(".Menu dl").eq(dlIndex).siblings().find("dd").hide();
$(".Menu dl").eq(dlIndex).siblings().find("dt").removeClass("show");
$(this).parent().find('dd').show();
$(this).addClass("show");
} );
//-->
</script>
		</div>
</div>
<div class="content_text_right">
	<div class="text_title">
		<span>{$fidDB[name]}</span>
		<div class="title_nav">
			<a href="listall.php?ordertype=" class="$select[rid]">最新商家</a>
			<a href="listall.php?ordertype=hits" class="$select[hits]">热门商家</a>
			<a href="listall.php?ordertype=levelstime" class="$select[levelstime]">推荐商家</a>
		</div>
	</div>
	<div class="showlist">
		<div class="detail">
			<table width="100%">
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
				<tr class="textlist">
					<td class="m1"><a href="$webdb[www_url]/home/?uid=$rs[uid]" target="_blank"><img src="$rs[picurl]" onError="this.src='$webdb[www_url]/images/default/nopic.jpg'" border="0" width="120" height="90"></a></td>
					<td class="m2">
						<a href="$webdb[www_url]/home/?uid=$rs[uid]" target="_blank" class="orange">$rs[title]</a>
						<div>
							<span>日期：<em class="gray">{$rs[posttime]}</em></span>
							<span> &nbsp;浏览：<em class="gray">{$rs[hits]}次</em></span> 
							<span>&nbsp;发布者：<em class="gray">{$rs[username]}</em></span>
						</div>
						<div style="color:#666666;">
							<span><em class="blue">经营模式：</em>{$rs[qy_saletype]}</span>
							<span><em class="blue">企业类型：</em>{$rs[qy_cate]}</span>
							<span><em class="blue">所属分类：</em>{$rs[fname]}</span>
						</div>
						
					</td>
					<td class="m3"><div class="blue">$rs[posttime]</div></td>
					<td class="m3">
						<img class="check_company" alt="{$renzhengDB[$rs[renzheng]]}" onload="this.style.width='60px'" src="$webdb[www_url]/images/default/renzheng/{$rs[renzheng]}.png">
					</td>
				</tr>
<!--
EOT;
}print <<<EOT
-->
			</table>
			<div class="go_box">
				<div class="go">
					$showpage								
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!--
EOT;
?>
-->
