/*
*css reset
*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:16px/26px 'Microsoft Yahei','Simsun';color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#2d374b;}
a:hover {color:#d00;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img {vertical-align:middle;}
.TopContainer{
	position:absolute;
	top:0px;
	left:0px; 
	z-index:2;
	height:98px;
	width:100%
}
.TopContainer .Logo{
	width:240px;
	height:98px;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}
.TopContainer .Logo a{
	display:table;
	width:240px;
	height:95px;
}
.TopContainer .Logo a span{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.TopContainer .Logo img{
	max-width:240px;
	max-height:95px;
}
.TopMenus{
	height:98px;
	padding-left:320px;
	padding-right:80px;
	position:relative;
}
.ChangeShow ol,.ChangeShow li{
	width:80px;
	height:50px;
	position:absolute;
	bottom:0;
}
.ChangeShow ol span,.ChangeShow li span{
	display:none;
}
.ChangeShow ol{
	left:240px;
	background:url(prev0.png) center top no-repeat;
}
.ChangeShow ol:hover{
	background:url(prev1.png) center top no-repeat;
}
.ChangeShow li{
	right:0px;
	background:url(next0.png) center top no-repeat;
}
.ChangeShow li:hover{
	background:url(next1.png) center top no-repeat;
}
.ListMenu{
	width:100%;
	height:95px;
	overflow:hidden;
	position:relative;
}
.ListMenu ul{
	width:10000px;
	height:50px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
}
.ListMenu ul li{
	width:115px;
	height:50px;
	text-align:center;
	overflow:hidden;
	line-height:45px;
	float:left;
	background:url(menu0.png) center top no-repeat;
	color:#FFF;
	cursor:pointer;
}
.ListMenu ul li.ck,.ListMenu ul li:hover{
	background:url(menu1.png) center top no-repeat;
}