/*
*初始化样式
*/
body, form, ul, li, p, dl, dd, dt ,h,td,th,h3{
	margin: 0;
	padding: 0;
}
body{
	font-size:12px;
	padding:5px;	
	background:#f0f0f0;
	SCROLLBAR-FACE-COLOR: #60B7DE;

	SCROLLBAR-HIGHLIGHT-COLOR: #eee;
	SCROLLBAR-SHADOW-COLOR: #eee;
	SCROLLBAR-3DLIGHT-COLOR: #eee;
	SCROLLBAR-ARROW-COLOR: #eee;
	SCROLLBAR-TRACK-COLOR: #B9D5F2;

	SCROLLBAR-DARKSHADOW-COLOR: #1A5DB0;
	SCROLLBAR-HIGHLIGHT-COLOR: #1A5DB0;


}
li,ul{
	list-style: none;
} 
TD {
	color: #333333;
	VERTICAL-ALIGN: top;
} 
input,textarea{
	border:1px solid #ccc;
}
img{
	border:0;
}
a {
	color:#005176;
}
a:link {
	color:#005176;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #005176;
}
a:hover {
	text-decoration: underline;
	color: #4E667B;
}
a:active {
	text-decoration: none;
}
.mt5{
	margin-top:5px;
}
.txc{
	text-align:center;
}
/*
*基本信息
*/
.baseinfocont{
	height:217px;
	background:#196696 url('map-bg.jpg') center top no-repeat;
	text-align:center;
	margin-bottom:10px;
	position:relative;
}
.baseinfocont .map-head{background:url('map-head.png') center 30px no-repeat; width:220px; height:100px; margin:0 auto;}
.baseinfocont .map-pic{position:absolute; top:45px; left:10%; width:190px; height:180px; background:url('map-pic.png') no-repeat; z-index:0;}
.baseinfocont .map-menu{position:absolute; top:75px; left: 25%; padding:0 10px 15px 10px; width:900px; background:url('map-menubg.png');}
.map-menu h3{color:#ffcc00; line-height:30px; height:30px;}
.map-menu ul{overflow:hidden; font-size:14px; color:#fff;}
.map-menu ul li{float:left; height:25px; line-height:25px; width:16%; position:relative; text-align:left; padding-left:4%;}
.map-menu ul li:before{content:''; display:block; position:absolute; top:7px; left:8px; width:10px; height:10px; background:#fff; border-radius:50%;}
.map-menu span a{color:#ffcc00;}

/* m-section */
.m-section{margin-bottom:10px; font-size:12px; overflow:hidden; position:relative;}
.s-bg{background:#fff;}
.m-skills{width:100%;}
.countInfo,.m-skill{float:left; width:73%; height:212px; position:relative; padding-top:60px; margin-right:1%; background:#fff;}
.m-skill span,.m-guide span,.countInfo dt{display:block; position:absolute; width:133px; height:40px; top:10px; left:20px; line-height:36px; color:#fff; font-weight:600; text-align:center; font-size:16px;}
.m-skill span,.countInfo dt{ background:url('all-bg.png') -48px -297px no-repeat;}
.m-skill p{line-height:22px; padding:5px 5px 5px 15px;}
.countInfo dd{padding:5px 10px 5px 40px;}
.countInfo dd ul{overflow:hidden;}
.countInfo dd ul li{float:left; width:25%; line-height:40px; font-size:14px;}
.countInfo dd ul li img{vertical-align:middle; padding-right:5px;}
.countInfo dd ul li span a{color:#089FC5;}
/* m-gn */
.m-gn{float:left; width:26%;}
.m-guide{position:relative; height:112px; padding-top:60px; margin-bottom:10px;}
.m-guide p{line-height:18px; padding:5px 5px 5px 15px;}
.m-guide span{background:url('all-bg.png') -48px -247px no-repeat;}
/* m-Notice */
.m-Notice{height:40px; position:relative; padding:50px 20px 0 20px;}
.m-Notice span{position:absolute; padding-left:32px; background:url('all-bg.png') -138px -93px no-repeat; height:30px; text-align:center; line-height:30px; font-size:16px; font-weight:600; top:10px; left:35%;}
/* m-severInfo  m-ourTeam*/
.severInfos{padding:20px 0;}
.severInfo-1{margin-left:20px; padding-left:40px; background:url('all-bg.png') -138px -11px no-repeat; font-size:16px; font-weight:600; height:35px; line-height:40px;}
.severInfo-2{overflow:hidden; padding-left:1%;}
.m-severInfo{width:99%;}
.m-severInfo tr td{border-bottom:1px dashed #b2b2b2; line-height:20px; padding:10px 0 5px 0; font-size:12px; color:#5d5d5d;}
.ourTeams{padding:20px 0;}
.ourTeam-1{margin-left:20px; padding-left:40px;font-size:16px; font-weight:600; height:35px; line-height:40px; background:url('all-bg.png') -138px -48px no-repeat;}
.m-ourTeam{overflow:hidden; padding:0 20px;}
.m-ourTeam li{width:100%; border-bottom:1px dashed #b2b2b2; line-height:20px; padding:10px 0 5px 0; font-size:12px; color:#5d5d5d;}