.MainConts{
	widows:1200px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	margin-top:26px;
	}
	
.MainL{
	float:left;
	width:854px;
	
	}	
.SideR{
	float:right;
	width:290px;
	}
.MainL .ShowPics{
	border:#ccc solid 1px;
	}
.head{
	border-bottom:1px solid #ccc;
	background:#ececec;
	height:46px;
	line-height:46px;
	font-family:"微软雅黑" "黑体";
	font-size:16px;
	color:#333333;}
.head .tag{
	float:left;
	padding-left:12px;}
.head .more{
	float:right;
	font-size:14px;
	font-family:"宋体";
	margin-right:12px;
	}
.head .more span{
	color:red;}	
	

.ShowPics .ListBigPic{
	height:440px;
	padding-top:60px;
	overflow:hidden;
}
.ShowPics .ListBigPic ul{
	width:560px;
	height:380px;
	overflow:hidden;
	margin:auto;
}
.ShowPics .ListBigPic ul li{
	width:640px;
	height:380px;
	text-align:center;
	overflow:hidden;
	margin-left:-40px;
}
.ShowPics .ChangePic{
	height:118px;
	overflow:hidden;
	position:relative;
}
.ShowPics .ChangePic .Back,.ShowPics .ChangePic .Next{
	width:65px;
	height:80px;
	position:absolute;
	top:24px;
}
.ShowPics .ChangePic .Back{
	left:20px;
}
.ShowPics .ChangePic .Next{
	right:20px;
}
.ShowPics .ChangePic dl dt{
	border:#DDD solid 1px;
	width:60px;
	padding:1px;
	margin:auto;
}
.ShowPics .ChangePic dl dt a{
	display:block;
	width:60px;
	height:45px;
	text-align:center;
	overflow:hidden;
}
.ShowPics .ChangePic dl dd{
	text-align:center;
	padding-top:5px;
	height:20px;
	line-height:20px;
	overflow:hidden;
}
.ShowPics .ChangePic .Up_atc,.ShowPics .ChangePic .Down_atc{
	width:43px;
	height:56px;
	overflow:hidden;
	position:absolute;
	top:30px;
	z-index:1000;
}
.ShowPics .ChangePic .Up_atc{
	left:93px;
	background:url(left_icont.png) no-repeat;
	margin-left:54px;
	margin-top:14px;
}
.ShowPics .ChangePic .Up_atc a,.ShowPics .ChangePic .Down_atc a{
	display:block;
	padding-top:56px;
}
.ShowPics .ChangePic .Down_atc{
	right:96px;
	background:url(right_icont.png) no-repeat;
	margin-top:14px;
	margin-right:32px;
}
.ShowPics .ChangePic .slideTxt{
	width:473px;
	height:118px;
	padding-left:13px;
	overflow:hidden;
	margin:auto;
	
}
.ShowPics .ChangePic .slideTxt li{
	width:115px;
	height:100px;
	padding-top:18px;
	overflow:hidden;
	float:left;
}
.ShowPics .ChangePic .slideTxt li div{
	width:100px;
	border:#DDD solid 1px;
	padding:1px;
	background:#FFF;
	margin:auto;
	filter: alpha(opacity=60); 
	opacity: 0.6; 
	moz-opacity: 0.6;
	cursor:pointer;
}
.ShowPics .ChangePic .slideTxt li.cur div{
	border:#FF3000 solid 2px;
	padding:0;
	filter: alpha(opacity=100); 
	opacity: 1; 
	moz-opacity: 1;
}
.ShowPics .ChangePic .slideTxt li div span{
	display:block;
	width:100px;
	height:75px;
	overflow:hidden;
	text-align:center;
}
.notitle{
	border:#DDD solid 1px;
	padding:10px 5px 10px 5px;
	text-align:center;
	line-height:16px;
	color:#888;
	font-size:12px;
	font-family:"宋体";
}


/*show_content ListMoreDemo*/
.show_content,.ListLeftDemo{margin-top:26px;border:#CCC solid 1px;}
.show_content .content{ padding:10px; line-height:36px;font-size:14px;font-family:"宋体"; text-indent:2em;margin:14px;}


.ListLeftDemo .more a{font-family:Verdana, Geneva, sans-serif;font-size:12px; display:block;float:right;color:#666;padding-right:18px;
background:url(p.png) no-repeat 36px 18px;}

.ListLeftDemo .cont{ overflow:hidden;margin:20px 10px;}
.ListLeftDemo .cont .listpic{float:left;width:188px;font-size:14px;font-family:"宋体"; text-align:center;line-height:22px;
margin-left:10px;margin-right:10px;}
.ListLeftDemo .cont .listpic .img{width:188px; height:110px; text-align:center;}
.ListLeftDemo .cont .listpic .img img{max-width:188px; height:110px;}
.ListLeftDemo .cont .listpic .t{display:block;margin:8px 0; height:36px; line-height:18px; overflow:hidden;}
.ListLeftDemo .cont .listpic .m{color:red;}

/*ShowMoreInfo*/
.ShowMoreInfo{border:#ccc 1px solid;height:314px;}
.ShowMoreInfo ul{line-height:42px;font-size:14px;font-family:"宋体";width:290px;height:270px;width:290px;margin:10px;}
.ShowMoreInfo ul li{border-bottom:dashed #ccc 1px;}

.ListRightDemo{
	border:#ccc solid 1px;
	margin-top:26px;
	}
.ListRightDemo .cont{width:188px;margin:10px auto;}
.ListRightDemo .cont .listpic{margin-top:20px; }
.ListRightDemo .cont .listpic .mage{display:block;}
.ListRightDemo .cont .listpic .mage img{display:block;width:188px;height:188px;} 
.ListRightDemo .cont .listpic .t{display:block;margin:8px 0;}
.ListRightDemo .cont .listpic .m{color:red;}