
/*
*modemenu
*/
.modemenu{
	height:50px;
	overflow:hidden;
	margin-top:30px;
}
.modemenu li{
	float: left;
	width: 197px;
	height: 50px;
	background: #F0F0F0;
	margin-right: 3px;
	overflow:hidden;
}
.modemenu li span{
	display:block;
	height:41px;
	padding:0 20px 0 65px;
	float:left;
}
.modemenu li span a{
	display: block;
	padding: 1px 3px 0 14px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;	
}

.modemenu li.li0 span{
	 background: url(information.png) 55px 15px no-repeat;
}
.modemenu li.li1 span{
	background: url(school.png) 56px 15px no-repeat;
}
.modemenu li.li2 span{
	background: url(company.png) 52px 16px no-repeat;
}
.modemenu li.li3 span{
	background: url(case.png) 52px 16px no-repeat;
}
.modemenu li.li4 span{
	background: url(diary.png) 52px 16px no-repeat;
}
.modemenu li.li5 span{
	background: url(stylist.png) 52px 16px no-repeat;
}
.modemenu li span.ck a{color:#ff9900;}

/*
*modeSearch  搜索
*/

.modeSearch{
	margin-top:20px;
	height:55px;
	overflow:hidden;
}

.modeSearch .search_div{
	float:left;
	width:544px;

}
.modeSearch .search_div .search_main{
	width:425px;
	border:2px solid #1AA4ED;
	height:49px;
	border-right:0;
	float:left;
}
.modeSearch .search_div .search_main .keyword{
	float:left;
}

.modeSearch .search_div .search_main .showtype_div{
	float: left;
	margin-top: 13px;
}
.modeSearch .search_div .search_main .showtype_div .showtype{
	width: 106px;
	height: 26px;
	line-height: 23px;
	text-align: center;
	cursor: pointer;
}
.modeSearch .search_div .search_main .showtype_div .showtype span{
	display: block;
	height: 24px;
	color: #1AA4ED;
	overflow: hidden;
	background:url(xiala.png) right no-repeat;
}
.modeSearch .search_div .search_main .showtype_div .listtype{
	width: 74px;
	top: 409px;
	z-index: 3000;
	line-height: 25px;
	padding: 19px 12px 10px 0px;
	padding-left: 23px;
	position: absolute;
	background: #fff;
	margin-top: 20px;
}
.modeSearch .listtype li span.over{
	background:#EFEFEF;
	font-weight:bold;

}
.modeSearch .listtype li span.ck{
	font-weight:bold;
	color:#f00;
}
.modeSearch .search_div .search_main .keyword input{
	width: 277px;
	height: 49px;
	border: 0;
	padding-left: 20px;
	color: #B4B4B4;
	font-size: 15px;
}
.modeSearch .search_div .search_submit{
	float:left;
	height:53px;
	width:108px;
}
.modeSearch .search_keyword{
	float:left;
	width:640px;
	height:50px;

}
.modeSearch .search_keyword ul li{
	float: left;
	font-size: 15px;
	margin: 25px 20px 10px 10px;
	color: #7F7F7F;
	overflow:hidden;
}
.modeSearch .search_keyword ul li.title{
	color:#1AA4ED;
}


/*BannerCont*/

.BannerCont{
	width:1200px;
	text-align:center;
	overflow:hidden;
	margin: 30px 0 30px 0;
}
.BannerCont img{width:100%;}


.ShowCont{
	margin-top:10px;
	border:1px solid #DFDEDE;
}
.ShowCont .Mhead{
	height:60px;
	overflow:hidden;
	background:#F6F6F6;
	border-bottom:2px solid #40AEEC;
}
.ShowCont .Mhead .tag{
	float: left;
	width: 200px;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	font-size: 24px;
	padding-left: 20px;
	font-weight: bold;
	color: #333;
}
.ShowCont .Mhead .ListType{
	float: left;
	padding: 19px 0 0 47px;
	height: 41px;
	overflow: hidden;
}
.ShowCont .Mhead .ListType li{
	float: left;
	width: 106px;
	text-align: center;
	height: 41px;
	line-height: 41px;
	font-size: 14px;
	cursor: pointer;
	color: #666;
}
.ShowCont .Mhead .ListType li.ck{
	background:#1AA4ED;
	color:#fff;
	font-weight:bold;
}
.ShowCont .Mcont{
	border-top:0;
}
.ShowCont .Mcont .BaseInfo{
	width:200px;
	border-right:#CCC solid 1px;
	background:#FBFBFD;
	padding:20px 0 33px 0;
}
.ShowCont .Mcont .BaseInfo .img{
	width:160px;
	margin:auto;
	background:#FFF;
}
.ShowCont .Mcont .BaseInfo .img div{width:160px; height:196px; overflow:hidden; text-align:center;}
.ShowCont .Mcont .BaseInfo .img div img{max-width:160px;}
.ShowCont .Mcont .BaseInfo .title{
	width: 150px;
	height: 20px;
	line-height: 20px;
	padding-top: 10px;
	overflow: hidden;
	margin: 0 auto 10px auto;
	text-align: center;
	font-size: 16px;
	color: #00A7FF;
}
.ShowCont .Mcont .BaseInfo .list{
	padding:5px 10px 0 20px;
	line-height:30px;
}
.ShowCont .Mcont .BaseInfo .title +.list span{color:#1AA4ED;}
.ShowCont .Mcont .BaseInfo .attention{
	background: url(attention.png) left 5px no-repeat;
	padding-left: 25px;
	margin-left: 18px;
}
.ShowCont .Mcont .BaseInfo .list em{
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	color:#FF3000;
}
.ShowCont .Mcont .ChangeShow{
	width:764px;
}
.ShowCont .Mcont .ChangeShow .ShowTabel{
	min-height:500px;
	padding-top:2px;
	overflow: hidden;
}

.ShowTabel .company_img{
	float: left;
	width: 298px;
	height: 208px;
	padding: 10px 15px 10px 19px;
}
.ShowTabel .company_img div{
	width:298px;
	border:#DDD solid 1px;
	padding:1px;
}
.ShowTabel .company_img div span{
	display: block;
	width: 298px;
	height: 208px;
	overflow: hidden;
}
.ShowTabel .company_img div span a{
	display:block;
	width:298px;
	height:208px;
	text-align:center;
	overflow:hidden;
}
.ShowTabel .company_img div span a img{max-width:298px; height:208px;}
.ShowTabel .conts{
	width: 590px;
	float: left;
	padding: 20px 11px 10px 5px;
}
.ShowTabel .conts h3{
	font-size:16px;
	line-height:20px;
	padding-bottom:5px;
}
.ShowTabel .conts h3 a{
	color:#1AA4ED;
}
.ShowTabel .conts p{
	color:#666;
	line-height:29px;
}
.ShowTabel .List_Demo{
	padding:25px 5px 10px 15px;
}
.ShowTabel .List_Demo .listpic{
	width:145px;
	height:120px;
	overflow:hidden;
	float:left;
}
.ShowTabel .List_Demo .listpic div{
	width:120px;
	text-align:center;
	margin:auto;
}
.ShowTabel .List_Demo .listpic div.img{
	border:#DDD solid 1px;
	padding:1px;
}
.ShowTabel .List_Demo .listpic div.img a{
	display:block;
	width:120px;
	height:80px;
	overflow:hidden;
	text-align:center;
}
.ShowTabel .List_Demo .listpic div.t{
	height:20px;
	line-height:20px;
	padding-top:5px;
	overflow:hidden;
}
.ShowTabel .show_contents{
	padding:20px 15px 10px 20px;
	line-height:20px;
}

/*客户评价*/

.ShowTabel .show_comment{
	padding:20px 15px 10px 15px;
}

#comment{
	border:#D0D0D0 solid 1px;
	margin-bottom:10px;
}

.no_comment {
	padding: 75px 20px 50px 160px;
	line-height: 30px;
	font-size: 22px;
	font-weight: bold;
	color: #FFB066;
	background: url(nocomment.gif) 70px 60px no-repeat;
}

.comment_form{
	border:#D1E0E5 solid 1px;
	padding-bottom:20px;
}
.comment_form .head{
	height: 50px;
	background: url(ly.png) 22px no-repeat;
}
.comment_form div.content_main{
	margin: 20px 0px 20px 51px;
}
.comment_form div.content_main span{
	font-size:16px;
}
.comment_form div.content_main #comment_username{
	width:300px;
	height:30px;
}
.comment_form div.content_main #comment_content{
	width:300px;
	height: 113px;;
}
.comment_form .submits{
	width: 472px;
	margin: 0 auto;
}

/*最新加入设计师*/

.sideconts{
	margin-top:10px;
	border:#DFDEDE solid 1px;
}
.sideconts .head{
	height:50px;
	overflow:hidden;
	background:#ECECEC;
	line-height:50px;
}
.sideconts .head .tag{
	float: left;
	font-size: 16px;
	font-weight: bold;
	padding-left: 15px;
	background: url(ico1.png) left no-repeat;
	color: #333;
	margin-left: 15px;
}
.sideconts .cont{
	padding:20px 0 0 15px;
}
.sideconts .cont .listpic{
	overflow: hidden;
	float: left;
	padding: 0px 10px 20px 3px;
}
.sideconts .cont .listpic dt{
	float:left;
}
.sideconts .cont .listpic dt div{width: 90px; height: 120px; overflow: hidden; text-align:center;}
.sideconts .cont .listpic dt div a{display: block; width: 90px; height: 120px;}
.sideconts .cont .listpic dt div a img{max-width: 90px; height: 120px;}
.sideconts .cont .listpic dd{
	float: left;
	width: 181px;
	padding-left: 10px;
	line-height: 25px;
}
.sideconts .cont .listpic dd div{
	height:30px;
	overflow:hidden;
}
.sideconts .cont .listpic dd a{
	color:#1AA4ED;
}
.sideconts .cont .listpic dd a:hover{
	color:#FF6600
}

.sideconts .cont .listpic dd .t{
	font-weight:bold;
}
.sideconts .cont .listpic dd .t a{
	color:#FF9700;
}
.sideconts .cont .listpic dd .t a:hover{
	color:#00A7FF
}
/* 评论列表 */
.comment_box{border-bottom:1px dashed #E5E5E5 ; overflow:hidden; padding: 23px 5px 15px 0px;}
.comment_box .pic{float:left;}
.comment_box .comment_main{float:left; margin-left: 16px; width: 587px;}
.comment_box .comment_main .notes{padding: 6px 0px 10px 0px;}
.comment_box .comment_main .user{color:#0066CC; text-align:left;}
.comment_box .comment_main .date{color:#999; text-align:right; padding-left: 40px;}
#comment{padding:15px 15px 5px 15px;}
.comment_box .comment_main ul li{float:left;width:50px;padding-right: 108px;}
.comment_box .comment_main ul li span{color:red;}
.post_form{width:718px; height:536px; border-top:1px solid #DFDEDE;}
.post_form .head{height:50px; line-height:50px; background:#fff; padding: 14px 10px 10px 29px;}
.post_comment{width:600px; margin:0 auto;}
.post_comment span{font-size:16px;}
.post_comment  .ch{width: 526px; height: 35px; margin-bottom: 17px;}
.post_comment .yzm{width:178px; height:35px;}
.post_form  .submit{width: 141px; margin: 0 auto; padding-top: 20px;}
#comment dl{margin-bottom:10px; overflow:hidden;}
#comment dl dt{float:left; width:75px; height:50px; padding-top:5px;}
#comment dl dt a{display:block; width:45px; height:45px; overflow:hidden; margin:auto;}
#comment dl dd{width:600px; float:left; line-height:20px; padding-left:5px; color:#666;}
#comment dl div{clear:both; line-height:30px; word-spacing:10px;}
#comment dl div em{color:#f30;}
#comment .page{text-align:center; line-height:30px;}
#comment .no_comment{text-align:center; line-height:60px; font-size:16px; color:#f30;}
.comment_form{border-top:#e0e0e0 solid 1px;}
.comment_form .h{height:40px; vertical-align:middle; font-size:14px; font-weight:bold; padding-left:35px; color:#005CA5;}
.comment_form .left{width:100px; line-height:25px; text-align:right; padding-right:10px;}
.comment_form .right{padding-top:3px;}
#comment_content{width: 528px; height: 248px; margin-top: 14px;}
.comment_form .submits{padding:10px 0 15px 0;}
.comment_form .submits input{border:0;}