.SlideCont .slidePic{
	width:372px;
	height:308px;
	border:#737373 solid 1px;
	margin:auto;
	overflow:hidden;
}
.SlideCont .slidePic li{width:372px; height:308px; overflow:hidden;}
.SlideCont .slidePic li a{display:block; width:372px; text-align:center; height:308px;}
.SlideCont .slidePic li img{max-width:372px; height:308px;}
.SlideCont .slideTxt{
    height: 43px;
    width: 374px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 276px;
    background: rgba(31,24,21,.5);
}
.SlideCont .slideTxt li{
    height: 43px;
    line-height: 43px;
    overflow: hidden;
    display: none;
    padding-left:16px;
    font-weight: bold;
    font-size: 15px;
}
.SlideCont .slideTxt li a{
	color:#fff;
}
.SlideCont .slideTxt li.cur{
	display:block;
}
.SlideCont .slideop{
    height: 16px;
    position: absolute;
    overflow: hidden;
    right: 17px;
    top: 247px;
    z-index: 1000;
    filter: alpha(opacity=60);
    moz-opacity: 0.6;
}
.SlideCont .slideop span{
	display:block;
	width:50px;
	height:16px;
	background:url(numspac.gif) right top no-repeat;
	float:left;
}
.SlideCont .slideop li{
    float: left;
    width: 16px;
    border-radius: 50%;
    height: 15px;
    overflow: hidden;
    background: #fff;
	color:#fff;
    margin-left: 5px;
}
.SlideCont .slideop li.cur{
	width:16px;
	height:16px;
	border-radius:50%;
	background:#00A7FF;
	color:#00A7FF;
}