<!--
<?php
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/member/images/wap/list.css">
<div class="ListContainer">
	<div class="head"><div class="tag">文章管理</div></div>
<!--
EOT;
foreach($listdb AS $key=>$rs){
$titles=get_word($rs[title],28);
$pages =$rs[pages]>1?$rs[pages]:'';
print <<<EOT
-->
	<div class="Listcont">
          <div class='cont'>
              <div class='title'>{$rs[id]}、<a href="$Mdomain/wapbencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank" title="$rs[title] $rs[username]" style="color:$rs[titlecolor];">$titles</a> <span style="color:red;">$pages</span> <span style="color:#999;">({$city_DB[name][$rs[city_id]]})</span></div>
              <div class='time'>发布日期：$rs[posttime]</div>
			</div>
		  <div class='butter'>
			  <a href='wapeditsort.php?job=edit&fid=$rs[fid]&id=$rs[id]'>修改分类</a>
			  <a href="wappost.php?job=choosedel&fid=$rs[fid]&id=$rs[id]">删除</a> 
			  <a href='wappost.php?job=chooseedit&fid=$rs[fid]&id=$rs[id]'>修改</a>                  
		  </div>
	 </div>
<!--
EOT;
}
$showpage=$showpage?"<div class=\"ShowPage\">$showpage</div>":"";
print <<<EOT
-->
	$showpage
</div>
<!--
EOT;
?>
