#allcitytoptable table{
	width:33%;
	float:left;
	height:100px;
	margin-top:15px;
	margin-bottom:10px;
}
#allcitytoptable table.t3 td{
	background:url(freefei.gif) no-repeat right;
}
#allcitytoptable table.t2 td{
	line-height:170%;
}
#allcitytoptable table.t1 td .goto a{
	background:url(allcity_post.gif);
	display:block;
	width:167px;
	height:45px;
	padding-left:75px;
	padding-top:15px;
	font-size:15px;
	color:#fff;
	font-weight:bold;
	margin-top:10px;
}
#allcitytoptable table.t1 td .ti{
	margin-top:10px;
}

.allcity{
	border:1px solid #eee;
	margin-top:15px;
}
.allcity td{
	padding:10px 8px 10px 8px;
	font-size:16px;
}
.allcity td a{
	font-size:15px; display:inline-block;
	margin-left:10px;
}
.allcity .L{
	width:60px;
	background:#eee;
	border:1px solid #fff;
	text-align:center;
	font-weight:bold;
}
.allcity .Listcity{
	text-align:left;
}
.allcity .Listcity a{
	display:block;
	float:left;
}
.hotcity{
	margin-bottom:15px;
}
.hotcity td{
	background:#eee;
	padding:10px 0 10px 10px;
	font-size:15px;
}
.hotcity td a{
	font-size:15px;
}

/**/
.ListArea{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin-top:8px;
	width:100%;
	font-size:14px;
}
.ListArea .name{
	border:#FFF solid 1px;
	width:80px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
}
.ListArea .city{
	padding:5px 5px 5px 10px;
	line-height:25px;
}
.ListArea .city a{
	display:block;
	float:left;
	padding-right:10px;
}
