<!--
<?php
print <<<EOT
-->
<link type="text/css" rel="stylesheet" href="./images/pc/news.css" />
<div class="MainCont1">
    <div class="Left">
		{$label[style7_news_slide]}
        <div class="SideCont1">
        	<div class="HeadStyle1">{$label[style7_news_pc1]}</div>
       		<ul class="List1">
				{$label[style7_news_pc2]}
             </ul>
             <ul class="List2">
			 	{$label[style7_news_pc3]}
             </ul>
        </div>
        <div class="SideCont1">
        	<div class="HeadStyle1">{$label[style7_news_pc4]}</div>
       		<ul class="List1">
            	{$label[style7_news_pc5]}
             </ul>
             <ul class="List2">
             	{$label[style7_news_pc6]}
             </ul>
        </div>
    </div>
    <div class="Right">
    	<div class="TodayNews">
        	<div class="HeadStyle2">{$label[style7_news_pc7]}</div>
            <ul class="list">
                {$label[style7_news_pc8]}
            </ul>
        </div>
        <div class="PhotoNews">
        	<div class="HeadStyle2">{$label[style7_news_pc9]}</div>
            <ul class="list">
                {$label[style7_news_pc10]}
            </ul>
        </div> 
        <div class="StoryNews">
        	<div class="HeadStyle2">{$label[style7_news_pc11]}</div>
            <ul class="list">
				{$label[style7_news_pc12]}
            </ul>
        </div>         
    </div>
</div>
<div class="MainCont2">
	<div class="HeadStyle1">{$label[style7_news_pc13]}</div>
    <div class="ListStyle1">
		{$label[style7_news_pc14]}
    </div>
    <div class="ListStyle2">
		{$label[style7_news_pc15]}
    </div>
</div>
<!--
EOT;
?>
-->