.MainSlide{
	width:100%;
	margin:auto;
	position:relative;
	overflow:hidden;
}
.MainSlide .slideimgs{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;	
}
.MainSlide .slideimgs li{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
	background:#FFF;
}
.MainSlide .slideimgs li a{
	display:block;
	width:100%;
	height:100%;
}
.MainSlide .slideimgs li a span{
	display:none;
}
.MainSlide .listnum{
	width:100%;
	height:20px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:10px;
	text-align:center;
	z-index:100;
}
.MainSlide .listnum li{
	display:inline-block;
	width:8px;
	height:8px;
	overflow:hidden;
	background:#FFF;
	margin:0 5px;
	line-height:40px;
	border-radius:4px;
}
.MainSlide .listnum li.ck{
	background:#2CB9FF;
}
.MainSlide .prev,.MainSlide .next{
	width:30px;
	height:30px;	
	position:absolute;
	z-index:1000;
	top:48%;
	border-radius:15px;
	overflow:hidden;
	background:#000;
	filter:alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6;
	display:none;	
}
.MainSlide .next{
	right:10%;
}
.MainSlide .prev{
	left:10%;
}
.MainSlide .prev:before,.MainSlide .next:before{
	content:'';
	display:block;
	width:0;
	height:0;
	border:8px solid transparent;
	border-left: 8px solid #FFF;
	border-right:0;
	margin:5px auto 0 auto;	
}
.MainSlide .prev:before{
	border-right: 8px solid #FFF;
	border-left:0;
}
.MainSlide:hover .prev,.MainSlide:hover .next{
	display:block;
}
