body{
	background:#FFF;
}
.MainContainer .MinLefts{
	width:190px;
	float:left;
}
.MainContainer .MainRights{
	width:980px;
	float:right;
	overflow:hidden;
}
.ShowType li{
	height:40px;
	line-height:40px;
	overflow:hidden;
	text-align:center;
	background:#F5F5F5;
	margin-bottom:20px;
}
.ShowType li a{
	display:block;
	font-size:16px;
	color:#666;
}
.ShowType li.ck a{
	background:#2CB9FF;
	color:#FFF;
}
.ListShopCont{
	width:1000px;
	overflow:hidden;
	padding-top:10px;
	margin-left:-10px;
}
.ListShopCont:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	clear:both;
}
.ListShopCont dl{
	width:250px;
	height:250px;
	overflow:hidden;
	float:left;
}
.ListShopCont dl dt{
	width:230px;
	height:170px;
	overflow:hidden;
	margin:auto;
	border-radius:5px;
}
.ListShopCont dl dt a{
	display:table;
	width:100%;
}
.ListShopCont dl dt a span{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	height:170px;
	background:#EFEFEF;
}
.ListShopCont dl dt a span img{
	max-width:230px;
	max-height:170px;
}
.ListShopCont dl dd{
	width:230px;
	margin:auto;
}
.ListShopCont dl dd ul ol a{
	display:block;
	padding-top:5px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	font-size:16px;
}
.ListShopCont dl dd ul li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	font-size:16px;
}
.ListShopCont dl dd ul li span{
	float:left;
	color:#F60;
}
.ListShopCont dl dd ul li em{
	float:right;
	color:#999;
}
.ListShopCont dl dd ul li em font{
	color:blue;
}