body{
	max-width:640px;
	margin:auto;
}
.SlideCont{
	margin:1px;
}
.SiteModule{
	width:100%;
	overflow:hidden;
}
.SiteModule ul{
	width:103%;
	margin-left:1px;
	position:relative;
}
.SiteModule ul li{
	width:33%;
	height:120px;
	overflow:hidden;
	position:relative;
	float:left;
	margin:15px auto 0 auto;
}
.SiteModule ul:after{
	content: '';
    width: 100%;
    height: 15px;
    display: block;
	clear:both;
}
.SiteModule ul li a{
	display:block;
	margin:auto 15px auto 0;
	height:50px;
	line-height:40px;
	overflow:hidden;
	text-align:center;
	background:#AAA;
	font-size:18px;
	font-weight:bold;
	color:#FFF;
	padding-top:75px;
	position:relative;
}
.SiteModule ul li a:before{
	content: '';
    width: 100%;
    height: 50px;
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
	background:url(icon10.png) center top no-repeat;	
}
.SiteModule ul li a.news{
	background:#D44642;
}
.SiteModule ul li a.news:before{
	background:url(icon_news.png) center top no-repeat;
}
.SiteModule ul li a.f{
	background:#89BC46;
}
.SiteModule ul li a.f:before{
	background:url(icon_f.png) center top no-repeat;
}
.SiteModule ul li a.shop{
	background:#3294D5;
}
.SiteModule ul li a.shop:before{
	background:url(icon_shop.png) center top no-repeat;
}
.SiteModule ul li a.hy{
	background:#B99D6E;
}
.SiteModule ul li a.hy:before{
	background:url(icon_hy.png) center top no-repeat;
}
.SiteModule ul li a.coupon{
	background:#CA3BD7;
}
.SiteModule ul li a.coupon:before{
	background:url(icon_coupon.png) center top no-repeat;
}
.SiteModule ul li a.hr{
	background:#E07E3F;
}
.SiteModule ul li a.hr:before{
	background:url(icon_hr.png) center top no-repeat;
}

.HotNews{
	border:#D4D2D2 solid 5px;
	margin:1px;
}
.HotNews ul:after{
	content: '';
    width: 100%;
    height: 5px;
    display: block;
	clear:both;
}
.HotNews ul li{
	width:60%;
	height:35px;
	line-height:35px;
	overflow:hidden;
	float:left;
}
.HotNews ul li a.img{
	display:none;
}
.HotNews ul li a.t{
	display:block;
	width:99%;
	float:right;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	color:#333;
}
.HotNews ul li span{
	display:none;
	width:25%;
	float:left;
	text-align:center;
	color:#888;
}
.HotNews ul li:nth-child(1){
	width:100%;
	padding:15px 0 10px;
	float:none;
	height:45px;
	line-height:45px;
	font-size:28px;
}
.HotNews ul li:nth-child(1) span{
	display:none;
}
.HotNews ul li:nth-child(1) a.t{
	width:95%;
	float:none;
	text-align:center;
	border-bottom:#DDD dotted 1px;
	margin:auto;
	font-family: Verdana,"Microsoft YaHei", "SimHei", "SimSun";
}
.HotNews ul li:nth-child(2){
	width:40%;
	height:170px;
	padding-top:5px;
}
.HotNews ul li:nth-child(2) span{
	display:none;
}
.HotNews ul li:nth-child(2) a.img{
	display:block;
	width:80%;
	margin:auto;
	overflow:hidden;
	text-align:center;
}
.HotNews ul li:nth-child(2) a.img img{
	height:130px;
	margin:auto;
}
.HotNews ul li:nth-child(2) a.t{
	width:80%;
	float:none;
	margin:auto;
	height:30px;
	text-align:center;
	overflow:hidden;
	color:#369;
}

.ShowConts{
	width:100%;
	margin-top:15px;
}
.ShowConts .Heads{
	border-top:#D44642 solid 4px;
	height:40px;
	background:#F3F3F3;
	padding-left:20px;
	overflow:hidden;
	line-height:40px;
}
.ShowConts .Heads div{
	height:40px;
	float:left;
	padding:0 15px 0 15px;
	position:relative;
	cursor:pointer;
}
.ShowConts .Heads div.ck:after{
	content: '';
    width: 100%;
    height: 2px;
	position:absolute;
	background:#D44642;
	left:0;
	bottom:0;	
}
.ChangeShow1 .cont1 li{
	height:75px;
	overflow:hidden;
	padding:10px 0 10px 0;
	border-top:#DDD solid 1px;
}
.ChangeShow1 .cont1 li:nth-child(1){
	border-top:0;
}
.ChangeShow1 .cont1 li a.img{
	display:block;
	width:130px;
	height:75px;
	float:left;
	overflow:hidden;
}
.ChangeShow1 .cont1 li a.img span{
	display:block;
	width:100px;
	border:#DDD solid 1px;
	padding:1px;
	margin:auto;
	overflow:hidden;
	text-align:center;
}
.ChangeShow1 .cont1 li a.img span img{
	height:70px;
	margin:auto;
}
.ChangeShow1 .cont1 li a.title,.ChangeShow1 .cont1 li p,.ChangeShow1 .cont1 li span.more{
	display:block;
	width:70%;
	height:25px;
	line-height:25px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:18px;
}
.ChangeShow1 .cont1 li p{
	color:#888;
	font-size:14px;
}
.ChangeShow1 .cont1 li span.more{
	color:#F60;
	font-size:18px;
}
.ChangeShow1 .cont1 li span.more strike{
	padding-left:10px;
	color:#888;
	font-size:14px;
}
.ChangeShow1 .cont2:after{
	content: '';
	display:block;
    width: 100%;
    height: 15px;
	clear:both;	
}
.ChangeShow1 .cont2 li{
	padding-top:15px;
	width:50%;
	position:relative;
	float:left;
}
.ChangeShow1 .cont2 li a.img{
	display:block;
	position:relative;
	width:98%;
	overflow:hidden;
	background:#EFEFEF;
}
.ChangeShow1 .cont2 li a.img img{
	width:100%;
}
.ChangeShow1 .cont2 li:nth-child(2) a.img{
	float:right;
}
.ChangeShow1 .cont2 li a.img em{
	display:block;
	height:30px;
	width:100%;
	position:absolute;
	background:#000;
	line-height:30px;
	left:0;
	bottom:0;
	text-align:center;
	overflow:hidden;
	filter:alpha(opacity=50);
	opacity:0.5;
	color:#FFF;
	font-style:normal;
	font-family:Arial, Helvetica, sans-serif;
}
.ChangeShow1 .cont2 li span.more{
	display:block;
	width:98%;
	height:30px;
	line-height:30px;
	overflow:hidden;
	text-align:center;
	color:#F90;
}
.ChangeShow1 .cont3 li{
	padding:10px;
	line-height:30px;
	border-top:#DDD solid 1px;
}
.ChangeShow1 .cont3 li:nth-child(1){
	border-top:0;
}
.ChangeShow1 .cont3 li div{
	height:30px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	word-spacing:10px;
}
.ChangeShow1 .cont3 li div a.f{
	color:blue;
}
.ChangeShow1 .cont3 li div a.t{
	color:#333;
	padding-left:5px;
}
.ChangeShow1 .cont3 li div strike{
	color:#999;
}
.ChangeShow1 .cont3 li div span{
	color:#F60;
}
.ChangeShow1 .cont3 li div em{
	color:#369;
	font-style:normal;
}
.ChangeShow1 .cont4 li{
	padding:0 10px;
	line-height:50px;
	border-top:#DDD solid 1px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	word-spacing:10px;
}
.ChangeShow1 .cont4 li:nth-child(1){
	border-top:0;
}
.ChangeShow1 .cont4 li span{
	color:#F90;
}
.ChangeShow2 .cont1{
	width:100%;
	overflow:hidden;
}
.ChangeShow2 .cont1:after{
	content: '';
	display:block;
    width: 100%;
    height: 15px;
	clear:both;	
}
.ChangeShow2 .cont1 li{
	width:33%;	
	float:left;	
	padding-top:15px;
}
.ChangeShow2 .cont1 li a{
	display:block;
	width:95%;
	position:relative;
	margin:auto;
	overflow:hidden;
	position:relative;
	background:#666;
}
.ChangeShow2 .cont1 li a img{
	width:100%;
}
.ChangeShow2 .cont1 li a span{
	display:block;
	height:30px;
	width:100%;
	position:absolute;
	background:#000;
	line-height:30px;
	left:0;
	bottom:0;
	text-align:center;
	overflow:hidden;
	filter:alpha(opacity=50);
	opacity:0.5;
	color:#FFF;
	font-style:normal;
	font-family:Arial, Helvetica, sans-serif;
}
.ChangeShow2 .cont2{
	width:98%;
	margin:10px auto;
	overflow:hidden;
}
.ChangeShow2 .cont2 li{
	width:200%;
	height:35px;
	line-height:35px;
	overflow:hidden;
	border-top:#DDD solid 1px;
}
.ChangeShow2 .cont2 li:nth-child(1){
	border-top:0;
}
.ChangeShow2 .cont2 li a{
	display:block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	position:relative;
	font-size:18px;
}
.ChangeShow2 .cont2 li a.f{
	margin-right:20px;
}
.ChangeShow2 .cont2 li a.f:after{
	content: '';
	display:block;
    width: 1px;
    height: 15px;
	position:absolute;
	top:10px;
	right:-9px;
	background:#999;
}
.ShowMiddleAd ul{
	margin:auto 5px;
}
.ShowMiddleAd ul:after{
	content: '';
    width: 100%;
    height: 15px;
    display: block;
	clear:both;
}
.ShowMiddleAd ul li{
	float:left;
}
.ShowMiddleAd ul li:nth-child(1){
	width:33%;
}
.ShowMiddleAd ul li:nth-child(2){
	width:65%;
	float:right;
}
.ShowMiddleAd ul li img{
	width:100%;
}

.ChangeShow3 ul:after{
	content: '';
    width: 100%;
    height: 15px;
    display: block;
	clear:both;
}
.ChangeShow3 ul li{
	width:33%;
	float:left;
	padding-top:15px;	
}
.ChangeShow3 ul li a{
	display:block;
	width:95%;
	overflow:hidden;
	margin:auto;
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	background:#666;
}
.ChangeShow3 ul li a img{
	width:100%;
}
.ChangeShow3 ul li a span{
	display:block;
	height:30px;
	width:100%;
	position:absolute;
	background:#000;
	line-height:30px;
	left:0;
	bottom:0;
	text-align:center;
	overflow:hidden;
	filter:alpha(opacity=50);
	opacity:0.5;
	color:#FFF;
	font-style:normal;
	font-family:Arial, Helvetica, sans-serif;
}
.ChangeShow3 ul li div{
	font-family:Arial, Helvetica, sans-serif;
	height:30px;
	line-height:30px;
	width:95%;
	margin:auto;
	overflow:hidden;
	text-align:center;
}
.ChangeShow3 ul li div a{
	display:inline;
	background:none;
}
.ChangeShow3 ul li div strike{
	color:#999;
}
.ChangeShow3 ul li div em{
	color:#F60;
	font-style:normal;
}
.MoreModule ul:after{
	content: '';
    width: 100%;
    height: 15px;
    display: block;
	clear:both;
}
.MoreModule ul li{
	width:25%;
	float:left;
}
.MoreModule ul li a{
	display:block;
	width:90%;
	height:40px;
	line-height:40px;
	overflow:hidden;
	text-align:center;
	margin:auto;
	color:#333;
}
.MoreModule ul li a.house{
	background:url(ico01.gif) center top no-repeat;
	background-size:contain;
}
.MoreModule ul li a.shou{
	background:url(ico02.gif) center top no-repeat;
	background-size:contain;
}
.MoreModule ul li a.shop{
	background:url(ico03.gif) center top no-repeat;
	background-size:contain;
}
.MoreModule ul li a.gift{
	background:url(ico04.gif) center top no-repeat;
	background-size:contain;
}
.OtherModule{
	width:98%;
	border:#DDD solid 1px;
	border-radius:10px;
	margin:auto;
	padding-top:5px;
}
.OtherModule:after{
	content: '';
	display:block;
    width: 100%;
    height: 10px;
	clear:both;	
}
.OtherModule dl{
	width:50%;
	height:55px;
	padding-top:10px;
	overflow:hidden;
	float:left;
}
.OtherModule dl dt{
	padding-left:85px;
	height:25px;
	line-height:25px;
	overflow:hidden;
}
.OtherModule dl dt a{
	font-size:16px;
	color:#F30;
}
.OtherModule dl dd{
	padding-left:85px;
	height:20px;
	line-height:20px;
	overflow:hidden;
	color:#666;
	word-spacing:-6px;
}
.OtherModule dl dd a{
	font-size:13px;
	color:#666;
}
.OtherModule dl:nth-child(1){
	background:url(info01.gif) 10px 10px no-repeat;
	background-size:65px 50px;
}
.OtherModule dl:nth-child(2){
	background:url(info02.gif) 10px 10px no-repeat;
	background-size:65px 50px;
}
.OtherModule dl:nth-child(3){
	background:url(info03.gif) 10px 10px no-repeat;
	background-size:65px 50px;
}
.OtherModule dl:nth-child(4){
	background:url(info04.gif) 10px 10px no-repeat;
	background-size:65px 50px;
}
.OtherModule dl:nth-child(5){
	background:url(info05.gif) 10px 10px no-repeat;
	background-size:65px 50px;
}
.OtherModule dl:nth-child(6){
	background:url(info06.gif) 10px 10px no-repeat;
	background-size:65px 50px;
}
.ShowFootAd{
	padding-top:15px;
}
.ShowFootAd:after{
	content: '';
    width: 100%;
    height: 45px;
    display: block;
	clear:both;
}
.ShowFootAd ul{
	width:100%;
}
.ShowFootAd ul li{
	width:50%;
	float:left;
}
.ShowFootAd ul li a{
	display:block;
	width:97%;
	margin:auto;
	overflow:hidden;
}
.ShowFootAd ul li a img{
	width:100%;
}