.GuideCont{
	height:40px;
	line-height:40px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:10px;
}
.GuideCont a{
	color:#666;
}
.titles{
	border-top:#DDD solid 1px;
	line-height:25px;
	padding:10px 10px 5px 10px;
	font-size:18px;
}
.baseinfo{
	height:20px;
	line-height:20px;
	overflow:hidden;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
}
.ShowSlide{
	border-top:#DDD solid 1px;
	border-bottom:#DDD solid 1px;
	margin:10px auto;
	background:#FFF;
}
#slide,#slide .cell,#slide .cell img { 
	height:auto;
}
#slide{ 
	position:static; 
	z-index:2; 
	background-color:#f3f3f3;
	margin:15px auto; 
	width:100%; 
	overflow: hidden; 
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select:none; 
	-o-user-select:none; 
	user-select:none;
}
#slide .cell{ 
	position:relative; 
	z-index:2; 
	width:100%;
	vertical-align:middle;
	display:table-cell;
}
#slide .cell .title { 
	position:absolute; 
	background:rgba(0,0,0,0.6); 
	display:block; 
	height:26px; 
	line-height:26px; 
	bottom:0; 
	left:0; 
	width:100%; 
	text-align:center; 
	color:#fff; 
	font-size:14px; 
	text-shadow:1px 1px 0 #000; 
	overflow:hidden;
}
#slide .cell img { 
	vertical-align:top; 
	width:100%; 
	height:auto; 
	display:block;
	cursor:pointer;
}
#indicator { 
	position:static; 
	bottom:10px; 
	right:4px;
	background-color:#fff; 
	text-align:center; 
}
#indicator li {
	color:#fff; 
	margin:0 4px; 
	text-indent:-999em;  
	width:8px; 
	height:8px; 
	border-radius:8px;  
	display:inline-block;
	overflow:hidden;
	background-color:#ccc;
}
#indicator .active { 
	background-color:#f50;
}
.fullbg,.ShowBigPic { 
	background-color:#000; 
	opacity:0; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:1001; 
	position:absolute;
	display:none;
}
.ShowBigPic{
	z-index:1002;
}
.ShowBigPic img{
	width:100%;
}
.ShowOnePic{
	text-align:center;
	padding:10px 0 10px 0;
	overflow:hidden;
	width:100%;
	border-bottom:#DDD solid 1px;
	border-top:#DDD solid 1px;
	background:#FFF;
	margin:10px auto;
}
.ShowOnePic img{
	max-width:100%;
}



.MoreInfo li{
	padding:5px 0;
	line-height:20px;
	text-indent:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
}
.MoreInfo li a{
	color:#333;
}
.MoreInfo li span{
	color:#666;
}
.Contact{
	width:98%;
	border:#DDD solid 1px;
	border-radius:3px;
	margin:10px auto;	
}
.Contact li{
	height:40px;
	line-height:40px;
	border-top:#DDD solid 1px;
	text-indent:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:14px;
}
.Contact li a{
	color:#333;
}
.Contact li span{
	color:#666;
}
.Contents h3{
	display:block;
	border-top:#999 solid 1px;
	border-bottom:#DDD solid 1px;
	height:40px;
	line-height:40px;
	background:#FFF;
	text-indent:10px;
}
.Contents .cont{
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:30px;
	font-size:14px;
}
.bdsharebuttonbox{
	width:98%;
	margin:5px auto;
}
.Reminded{
	width:98%;
	border:#DDD solid 1px;
	border-radius:5px;
	margin:auto;	
	background:#FFF;
}
.Reminded div{
	font-family:Arial, Helvetica, sans-serif;
	line-height:40px;
	text-indent:10px;
	border-bottom:#DDD solid 1px;
	color:#369;
}
.Reminded ul{
	padding:10px;
}
.Reminded ul li{
	line-height:30px;
	font-family:Arial, Helvetica, sans-serif;
	text-indent:5px;
	font-size:14px;
	color:#666;
}
.FootSpac{
	width:100%;
	height:80px;
	clear:both;	
}
.ShopJoin{
	text-align:center;
	azimuth:10px;
}
.ShopJoin a { 
	display:inline-block; 
	padding:6px 15px; 
	text-align:center; 
	color:#fff; 
	background-color:#f40; 
	border:0 none; 
	box-shadow:#ddd 0 1px 1px; 
	border-radius:3px;
}
.ShopJoin a:nth-child(2){
	background-color:#369; 
}
.ShopJoin a:hover { 
	background-color:green;
	text-decoration:none;
}
/******/
.fullbgs { 
	background-color:#000; 
	opacity:0.6; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:1001; 
	position:absolute;
}
.MemberLogin{
	max-width:400px;
	min-width:300px;
	border:#DDD solid 1px;
	background:#FFF;
	position:absolute;
	left:0;
	top:50px;
	border-radius: 5px;
	z-index:1002; 
}
.MemberLogin h3{
	height:45px;
	line-height:45px;
	text-align:center;
	font-size:16px;
	overflow:hidden;
	color:#666;
	background:#EFEFEF;
}
.MemberLogin dl{
	display: table;
	width: 100%;
	border-top:#DDD solid 1px;
}
.MemberLogin dl dt{
	width: 80px;
	text-align: right;
	display: table-cell;
	border-right:#DDD solid 1px;
	line-height:35px;
	padding-right:5px;
	color:#666;
	vertical-align:top;
	font-size:14px;
}
.MemberLogin dl dd{
	display: table-cell;
	padding:5px;
	line-height:25px;
	color:#888;
}
.MemberLogin .text{
	width:80%;
	height:20px;
	border:#EEE solid 1px;
}
.MemberLogin .Sub{
	display: inline-block;
	padding: 3px 10px;
	text-align: center;
	color: #fff;
	background-color: #f40;
	border: 0 none;
	box-shadow: #ddd 0 1px 1px;
	border-radius: 3px;
}
.MemberLogin .reset{
	background-color:#999;
}