<!--
<?php
print <<<EOT
--> 
 
<form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
<div class="MainContainers">
  <div class="Header"><span class="tag">删除风格</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
  <table class="FormTable">
    <tr> 
      <td class='tdL'>请选择一个要删除的风格:</td>
      <td class='tdR'> 
        $style_select
      </td>
    </tr>
    </table>
    <div class='submits'>
        <input type="hidden" name="id" value="$id">
        <input type="submit" name="Submit" value="确认删除">      
    </div>
  </div>
</div>
</form>
<!--
EOT;
?>
-->