<!--
<?php
print <<<EOT
--> <form name="form_work" method="post" action="index.php?lfj=$lfj&action=send">
<div class="MainContainers">
  <div class="Header"><span class="tag">群发邮件</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
  <table class="FormTable">
    <tr> 
      <td class='tdL' >接收邮件的用户组:</td>
      <td class='tdR'> <a href="index.php?lfj=$lfj&action=delete_admin_logs&iddb[{$rs[id]}]=1"></a> 
        $group_send </td>
    </tr>
    <tr> 
      <td class='tdL'>每批发送几个:</td>
      <td class='tdR'> 
        <input type="text" name="Num" size="5" value="1">
        (1~50)数值不宜太大</td>
    </tr>
    <tr> 
      <td class='tdL'>邮件标题: </td>
      <td class='tdR'> 
        <input type="text" name="Title" size="90">
      </td>
    </tr>
    <tr> 
      <td class='tdL'>邮件内容:</td>
      <td class='tdR'>  

		<textarea name="Content" id="myEditor" style="width:600px;height:200px"></textarea>

<script type="text/javascript">

//var editor_a = new baidu.editor.ui.Editor({minFrameHeight:190});

//editor_a.render( 'myEditor' );

</script>
      </td>
    </tr>
    </table>
    <div class='submits'> <input type="submit" name="Submit" value="提交"></div>

  </div>
</div>
</form>
<!--
EOT;
?>
-->
