<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/vote/images/wap/vote.css">
<div class="mainbody">
	<div class="about">$about</div>
    <div class="time">开始：{$begintime} / 结束：{$endtime}</div>
    <form name="formv" method="post" action="$Murl/vote.php?action=vote&cid=$cid">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="voteTable">
<!--
EOT;
$tmpCount=0;
foreach($listdb AS $key=>$rs){
$rs[img]=tempdir($rs[img]);
$rs[titles]=get_word($rs[title],10);
if($tmpCount==0){
print <<<EOT
-->
          <tr>
<!--
EOT;
}$tmpCount++;print <<<EOT
-->
            <td class="Td3">
            	<div class="ListVote">
            		<div class="img"><a href="$url" target="_blank"><img src="$rs[img]"/></a></div>
                    <div class="title">{$rs[button]} <a href="$url" target="_blank" title="$rs[title]">{$rs[titles]}</a> (<span>{$rs[votenum]}</span>)</div>
<!--
EOT;
if($rs[describes]){print <<<EOT
-->
                    <p>{$rs[describes]}</p>
<!--
EOT;
}print <<<EOT
-->
                </div>
            </td>
<!--
EOT;
if($tmpCount==3){
$tmpCount=0;print <<<EOT
-->
		</tr>
<!--
EOT;
}}if($tmpCount && $tmpCount<3){
for($i=$tmpCount;$i<3;$i++){print <<<EOT
-->
			<td class="Td3">&nbsp;</td>
<!--
EOT;
}print <<<EOT
-->
		</tr>
<!--
EOT;
}print <<<EOT
-->
        </table>
    	<div class="sub"><input type="submit" name="Submit" class="submit" value="投票"/></div>
    </form>
</div>
<div class="FootSpac"></div>
<!--
EOT;
?>
-->
