<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--<?php
print <<<EOT
-->
<head>
<title>$titleDB[title]</title>
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/ditu/style.css">
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/style6.0/cms.css">
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/style7.0/global.css"/>
<link rel="shortcut icon" type="image/ico" href="$webdb[www_url]/images/css4.0/favicon.ico">
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/jquery-1.2.6.min.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/images/default/default.js"></SCRIPT>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="keywords" content="$titleDB[keywords]">
<meta name="description" content="$titleDB[description]">
</head>
<SCRIPT LANGUAGE="JavaScript">
//屏蔽可忽略的js脚本错误
function killErr(){
	return true;
}
window.onerror=killErr;
</SCRIPT>
<!--
EOT;
if($webdb[cookieDomain]){print <<<EOT
-->
<SCRIPT LANGUAGE="JavaScript">
//解决不同域名的框架跨域问题
document.domain = "$webdb[cookieDomain]";
</SCRIPT>
<!--
EOT;
}
$web_logo=($city_DB[logo][$city_id])?"<img src='".tempdir($city_DB[logo][$city_id])."'/>":"<img src=\"$webdb[www_url]/images/style7.0/logo.png\"/>";
$thiscityname = $city_DB[name][$city_id] ? $city_DB[name][$city_id] : "&nbsp;";
$changecity = count($city_DB[name])>1 ? "<a href=\"$webdb[www_url]/allcity.php\">切换城市</a>":"当前城市";
print <<<EOT
-->

<script type="text/javascript" src="$webdb[www_url]/images/style7.0/rotate.js"></script>
<SCRIPT LANGUAGE="JavaScript">
<!--
$(document).ready(function(){
	$(".Mainmenu li").mouseover(function(){
		$(".Mainmenu li").removeClass("over");
		$(this).addClass("over");
	});
	$(".Mainmenu").mouseout(function(){
		$(".Mainmenu li").removeClass("over");
	});
	$(".showsorts .head").click(function(){
		$(this).parent("div").toggleClass("showsorts1");
	});
	$(".InfoList dl").mouseover(function(){
		$(".InfoList dl").removeClass("over");
		$(this).addClass("over");
	});
	$(".InfoList").mouseout(function(){
		$(".InfoList dl").removeClass("over");
	});
});
//-->
</SCRIPT>

<script type="text/javascript">
//以下是地图用到的参数
var querycity = "$cityname";
var map;
var LatLngArray = [$pointLatLng];
var pintMsg=[$pointMsg];
var position_array="{$city_DB[maps][$city_id]}".split(',');
</script>
<!--
EOT;
if($webdb[if_baidu_map]){
$webdb[baidu_map_key] || $webdb[baidu_map_key]='MGdbmO6pP5Eg1hiPhpYB0IVd';
print <<<EOT
-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=$webdb[baidu_map_key]"></script>
<script type="text/javascript" src="$webdb[www_url]/images/default/bdditu.js"></script>
<!--
EOT;
}else{print <<<EOT
-->
<script type="text/javascript" src="$webdb[googleMapUrl]/maps/api/js?key=AIzaSyA9b_YS7uHXQ3DIcb8sOjLAos-daYgoLG8&sensor=false&language=zh"></script> 
<script type="text/javascript" src="$webdb[www_url]/images/default/ggditu.js"></script>
<!--
EOT;
}print <<<EOT
-->
<body>
<!-- 头部  s -->
<div class="HeaderTop">
	<div class="MainContainer">
		<dl class="citys">			
			<dt>地区：<a href="$webdb[www_url]/allcity.php">{$thiscityname}</a><span></span></dt>
			<dd>
<!--
EOT;
if(count($city_DB[name])>1){
$i=0;
foreach($city_DB[hits] AS $key=>$value){
$i++;
if($i>9)break;
print <<<EOT
-->
				<a href="{$city_DB[url][$key]}">{$city_DB[name][$key]}</a>             
<!--
EOT;
}}
print <<<EOT
--> 
			<a href="$webdb[www_url]/allcity.php">更多城市</a>
			</dd>
		</dl>
		<div class="TopMember">
<!--
EOT;
if($lfjid){
print <<<EOT
-->

			<div class="Logincont">
				<span>欢迎你回来:<em>$lfjid</em></span> 
      			<span class="msg">$MSG</span>
				<a href="$webdb[_www_url]/member/homepage.php?uid=$lfjuid" target="_blank">个人信息</a> 
      			<a href="$webdb[_www_url]/member/" target="_blank">会员中心</a>
				<a href="$webdb[_www_url]/member/index.php?main=userinfo.php?job=edit" target="_blank">修改资料</a> 
      			<a href="$webdb[www_url]/do/login.php?action=quit">安全退出</a></span>
			</div>
<!--
EOT;
}elseif( $nickName=get_cookie('QQ_nickName') ){
print <<<EOT
-->
<div class="Logincont">
    <span>欢迎你:<em>$nickName</em> </span>
    <a href="$webdb[www_url]/do/reg.php?step=1">完善帐号信息</a> 
    <a href="$webdb[www_url]/do/qq_bind.php?step=1">绑定已有帐号</a>
    <a href="$webdb[www_url]/do/qq_login.php?action=quit">退出</a>
</div>
<!--
EOT;
}else{
print <<<EOT
-->
		<form name="TopLogin" method="post" action="$webdb[www_url]/do/login.php">
			<div class="Logincont">
				<span>通行证</span>
				<span><input type="text" name="username" placeholder="帐号"/></span>
				<span><input type="password" name="password" placeholder="密码"/></span>
				<span><input type="submit" name="Submit" value="登录" /></span>
				<a href="$webdb[www_url]/do/reg.php">注册</a> 
				<span>|</span>
				<a href="$webdb[www_url]/do/login.php">登录</a>
<!--
EOT;
if($webdb[QQ_login]){print <<<EOT
-->
         		<a href="$webdb[www_url]/do/qq_login.php" class="qq">登录</a>
<!--
EOT;
}if($webdb[WXlogin_API]){
print <<<EOT
-->
         		<a href="$webdb[www_url]/do/wxlogin.php" class="wx">登录</a>
<!--
EOT;
}
print <<<EOT
-->
				<input type="hidden" name="step" value="2">
      			<input class="radio" type="hidden" name="cookietime" value="86400" >
			</div>
		</form>
<!--
EOT;
}print <<<EOT
-->
		</div>
	</div>
</div>
<script type="text/javascript">
var city_rotate=0;
$('.HeaderTop .MainContainer .citys').rotate({ 
    bind : {
        mouseover : function(){
			city_rotate=1; //如果浏览器能够兼容转动
            $(this).find('dt span').rotate({animateTo: 180});
			$(this).find('dt').css({'background':'#FFF'});
			$(this).find('dd').css({'display':'block'});
        }, mouseout : function(){
            $(this).find('dt span').rotate({animateTo: 0});
			$(this).find('dt').css({'background':'none'});
			$(this).find('dd').css({'display':'none'});
        }
    }
});
$('.HeaderTop .MainContainer .citys').hover(
	function(){
		if(city_rotate==0){
			$(this).find('dt').css({'background':'#FFF'});
			$(this).find('dd').css({'display':'block'});
		}
	},
	function(){
		if(city_rotate==0){
			$(this).find('dt').css({'background':'none'});
			$(this).find('dd').css({'display':'none'});
		}
	}
);
</script>
<div class="TopSecondBox">
	<div class="Logo_Search">
		<div class="logo"><a href="$webdb[www_url]">{$web_logo}</a></div>
		<div class="search">
		  <form  name="TopSearch" method="POST" action="$webdb[www_url]/shop/search.php?action=search" onSubmit="return checkInput()">
			<ul class="types">
				<li>资讯</li>
				<li>分类</li>
				<li class="ck">商品</li>
				<li>商家</li>
				<li>活动</li>
				<li>促销</li>
				<li>论坛</li>
				<li>上门服务</li>
				<li>外卖</li>
			</ul>
			<div class="keyword"><input type="text" name="keyword" placeholder="输入您要搜索的内容"/></div>
			<div class="submit"><input type="submit" value="搜索"/><input type="hidden" name="action" value="search"/></div>		
		  </form>
		</div>
		<p class="m-mobleLook mobCode">
<!--
EOT;
$showurl = $WEBURL;
$showurl .= strstr($showurl,'?')?"&WXID=$WXID":"?WXID=$WXID";
$showurl = urlencode($showurl);
$webdb[weixin_code_img] = tempdir($webdb[weixin_code_img]);
print <<<EOT
-->
				<img src="$webdb[www_url]/do/2codeimg.php?url=$showurl"/>
				<span>扫一扫看效果 <a href="javascript:;" style="color:blue;">关闭</a></span>
		</p>
		<p class="m-mobleLook CodeWxin">
				<img src="$webdb[weixin_code_img]"/>
				<span>扫一扫看效果 <a href="javascript:;" style="color:blue;">关闭</a></span>
		</p>
		<ul class="MoreAct">
			<li class="post"><a href="$webdb[www_url]/f/post.php">发布信息</a></li>
			<li class="wx"><a href="javascript:;">公众号</a></li>
			<li class="mob"><a href="javascript:;">手机版</a></li>
		</ul>
<script>
$('.MoreAct .mob').hover(function(){
	$('.mobCode').show(100);
	$('.CodeWxin').hide(100);
},function(){
	$('.mobCode').hide(100);
});
$('.mobCode span a').click(function(){
	$('.mobCode').hide(100);
});
$('.MoreAct .wx').hover(function(){
	$('.CodeWxin').show(100);
	$('.mobCode').hide(100);
},function(){
	$('.CodeWxin').hide(100);
});
$('.CodeWxin span a').click(function(){
	$('.CodeWxin').hide(100);
});
</script>

	</div>
</div>
<script>
function checkInput(){
	if($('.search .keyword input').val()==''){
		alert('关键字不能为空!');
		return false;
	}
}
$('.Logo_Search .search .types li').click(function(){
	$('.Logo_Search .search .types li').removeClass('ck');
	$(this).addClass('ck');
	var searchurl='';
	var selectname=$(this).html();
	if(selectname=='资讯') searchurl='$webdb[www_url]/news/search.php';
	else if(selectname=='分类') searchurl='$webdb[www_url]/f/search.php';
	else if(selectname=='商品') searchurl='$webdb[www_url]/shop/search.php';
	else if(selectname=='商家') searchurl='$webdb[www_url]/hy/search.php';
	else if(selectname=='活动') searchurl='$webdb[www_url]/tg/search.php';
	else if(selectname=='促销') searchurl='$webdb[www_url]/coupon/search.php';
	else if(selectname=='招聘') searchurl='$webdb[www_url]/hr/search.php';
	else if(selectname=='论坛') searchurl='$webdb[www_url]/bbs/search.php';
	else if(selectname=='上门服务') searchurl='$webdb[www_url]/fuwu/search.php';
	else if(selectname=='外卖') searchurl='$webdb[www_url]/waimai/search.php';
	$(".Logo_Search form").attr("action",searchurl);
});
</script>
<!-- /nav -->
<div class="MainMenuBox">
	<div class="MenuList">
<!--
EOT;
$choose_class[intval($webdb['module_id'])]="choose";
$detail=explode("\r\n",$webdb[guide_word]);
foreach($detail AS $key=>$value){
if(!$value)continue;
list($Hname,$Hurl,$Hblank,$Hcolor,$Hlid,$link)=explode("|",$value);
if(ereg("^\/",$Hurl)){$Hurl="$webdb[www_url]$Hurl";}elseif(!ereg("://",$Hurl)){$Hurl="$webdb[www_url]/$Hurl";}
$Hblank=$Hblank?"  target=\"_blank\"":'';
$Hcolor=$Hcolor?" style=\"color:$Hcolor;\"":'';
$menu_check = $choose_class[$link] ? "class='ck'" : "";
print <<<EOT
-->
		<dl $menu_check>
        	<dt><span><a href="$Hurl"{$Hblank}{$Hcolor}>{$Hname}</a></span></dt>
<!--
EOT;
$ch_guide_word="guide_word_".$Hlid;
if($webdb[$ch_guide_word]){
$details=explode("\r\n",$webdb[$ch_guide_word]);
print <<<EOT
-->
			<dd>
<!--
EOT;
foreach($details AS $keys=>$values){
if(!$values)continue;
list($Hnames,$Hurls,$Hblanks,$Hcolors,$Hlids,$links)=explode("|",$values);
if(ereg("^\/",$Hurls)){$Hurls="$webdb[www_url]$Hurls";}elseif(!ereg("://",$Hurls)){$Hurls="$webdb[www_url]/$Hurls";}
$Hblanks=$Hblanks?"  target=\"_blank\"":'';
$Hcolors=$Hcolors?" style=\"color:$Hcolors;\"":'';
$Hnames=get_word($Hnames,15);
print <<<EOT
-->
					<a href="$Hurls"{$Hblanks}{$Hcolors}>{$Hnames}</a>
<!--
EOT;
}
print <<<EOT
-->
            </dd>
<!--
EOT;
}
print <<<EOT
-->
        </dl>
<!--
EOT;
}
print <<<EOT
-->
	</div>
</div>
<!-- /nav -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ShowCont">
  <tr>
    <td class="Left">
    	<div class="showsorts">
        	<div class="head">按分类选择:<a href="javascript:;">所有分类</a><span>只显示大分类</span></div>
            <div class="cont">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="bigsorts">
                  <tr>
                    <td>
<!--
EOT;
foreach($Fid_db[0] AS $fkey=>$fvalue){
print <<<EOT
-->
                <div><a href="ditu.php?fid=$fkey">{$fvalue}</a></div>			
<!--
EOT;
}
print <<<EOT
-->
                    </td>
                  </tr>
                </table>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="allsorts">
                  <tr>
                    <td>
<!--
EOT;
foreach($Fid_db[0] AS $fkey=>$fvalue){
print <<<EOT
-->
						<dl>
                        	<dt><a href="ditu.php?fid=$fkey">{$fvalue}</a></dt>
                        	<dd>
<!--
EOT;
foreach($Fid_db[$fkey] AS $key=>$name){
$color=$fid==$key?'red':'';
print <<<EOT
-->
                  				<a href="ditu.php?fid=$key" style="color:$color;">$name</a> | 
<!--
EOT;
}print <<<EOT
-->
                            </dd>
                        </dl>                						
<!--
EOT;
}
print <<<EOT
-->
                    </td>
                  </tr>
                </table>
            </div>
        </div>
        <div class="showInfo">
        	<div class="head">分类信息列表</div>
            <div class="InfoList">

<!--
EOT;
foreach($listdb AS $key=>$rs){
$letter = chr(ord('A')+$key);
print <<<EOT
-->
            	<dl onclick="showShop($key);">
                	<dt>$letter</dt>
                    <dd>
                    	<div class="t"><a target="_blank" href="bencandy.php?fid=$rs[fid]&id=$rs[id]"  onclick="showShop($key);return false;">$rs[title]</a></div>
                        <div class="c">登记日期:$rs[posttime]</div>
                        <div>所属分类:$rs[fname]</div>
                        <div>联系电话:<span>$rs[mobphone]</span></div>
                        <div>地址:$rs[address]</div>
                    </dd>
                </dl>
<!--
EOT;
}print <<<EOT
-->

                <div class="showpage"> $showpage</div>
            </div>
        </div>
    </td>
    <td class="Right" id="bigArea"><div id="map_canvas" style="width: 800px; height: 600px"></div></td>
  </tr>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--
$(document).ready(function(){
  $("#map_canvas").css("width",$("#bigArea").width());
  $("#map_canvas").css("height",$("#bigArea").height());
  initialize();
});

//-->
</SCRIPT>

<div style="clear:both;"></div>
<!-- 页脚  s-->
<div class="Footer">
	<div class="CopyrightBox">
		<div class="Copyright">
			<span>Copyright@<a href="{$webdb[www_url]}">{$webdb[www_url]}</a> all rights reserved <a href="http://www.miibeian.gov.cn" target="_blank">{$webdb[miibeian_gov_cn]}</a> </span>
			<span>Powered by {$webdb[webname]} {$qibosoft_Edition} Code &copy; 2007-2016 </span>
			<span>{$webdb[copyright]}</span>
		</div>
	</div>
</div>
<!-- 页脚  e-->	
</body>
</html>
<!--
EOT;
?>
-->

