div, p, dl, dt, dd,td,span,li,a{
	font-family: Arial, Helvetica, sans-serif;
}
.ListSorts{
	width:98%;
	margin:auto;
}
.ListSorts li{
	width:20%;
	float:left;
}
.ListSorts li a{
	display:block;
	width:60%;
	overflow:hidden;
	margin:15px auto 0px auto;
}
.ListSorts li a img{
	width:100%;
}
.ListSorts li a span{
	display:block;
	text-align:center;
	height:30px;
	padding-top:5px;
	line-height:30px;
	overflow:hidden;
	color:#333;
}
.ListSorts p{
	width:100%;
	height:2px;
	clear:both;
}
.ListSorts .showmore{
	width:100%;
	clear:both;
	padding:10px 0 10px 0;
	text-align:center;
}
.ListSorts .showmore a { 
	display:inline-block; 
	padding:6px 15px;
	font-family:Arial, Helvetica, sans-serif; 
	text-align:center; 
	color:#fff; 
	background-color:#854762; 
	border:0 none; 
	box-shadow:#ddd 0 1px 1px; 
	border-radius:5px;
}
.ListSorts .showmore a:nth-child(2) { 
	background-color:#3d8de2;
	display:none;
}
.ListMoreSorts{
	position:absolute;
	width:250px;
	right:-250px;
	display:none;
	top:0;
	overflow:hidden;
	z-index:1000000;
	border-left:#DDD solid 1px;
	background:#FFF;
}
.ListMoreSorts dl dt{
	height:30px;
	line-height:30px;
	padding-left:10px;
	overflow:hidden;
	background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.9));
    background: -webkit-gradient(linear,top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.9));
    background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.9));
	border-top:#DDD solid 1px;
}
.ListMoreSorts dl dt a{
	display:block;
	color:#FFF;
}
.ListMoreSorts dl dd{
	padding:10px;
	line-height:30px;
	word-spacing:10px;
}
.ListMoreSorts dl dd a{
	color:#666;
}
.FootSpac{
	width:100%;
	height:60px;
	clear:both;	
}
.fullbg { 
	background-color:#000; 
	opacity:0; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	z-index:1001; 
	position:absolute;
	display:none;
}
.ListNewCont{
	width:98%;
	overflow:hidden;
	margin:auto;
}
.ListNewCont h3{
	height:35px;
	line-height:35px;
	padding-left:10px;
	font-weight:normal;
	color:#FFF;
	background: -moz-linear-gradient(top,rgba(136,60,60,0),rgba(136,60,60,0.9));
    background: -webkit-gradient(linear,top,from(rgba(136,60,60,0)),to(rgba(136,60,60,0.9)));
    background: -webkit-linear-gradient(top,rgba(136,60,60,0),rgba(136,60,60,0.9));
    background: -o-linear-gradient(top,rgba(136,60,60,0),rgba(136,60,60,0.9));
	border-top:#CFA9AA solid 1px;
}
.ListNewCont dl{
	height:105px;
	position:relative;
	padding-top:15px;
	border-bottom:#DDD solid 1px;
	overflow:hidden;
}
.ListNewCont dl dt{
	width:120px;
	border:#DDD solid 1px;
	position:absolute;
	padding:1px;
	top:13px;
	left:0;
	overflow:hidden;
}
.ListNewCont dl dt a{
	display:block;
	width:120px;
	height:90px;
	overflow:hidden;
	background:#FFF;
}
.ListNewCont dl dt a img{
	width:100%;
}
.ListNewCont dl dd{
	padding:0 5px 0 135px;
	height:90px;
	overflow:hidden;
}
.ListNewCont dl dd h4,.ListNewCont dl dd div{
	height:30px;
	line-height:30px;
	overflow:hidden;
	color:#666;
	fong-size:14px;
}
.ListNewCont dl dd h4 a{
	color:#369;
}
.ListNewCont dl dd div span{
	color:#F30;
}
.ListMoreCont{
	width:98%;
	overflow:hidden;
	margin:15px auto;
}
.ListMoreCont h3{
	height:35px;
	line-height:35px;
	padding-left:10px;
	font-weight:normal;
	color:#FFF;
	background: -moz-linear-gradient(top,rgba(30,90,40,0),rgba(30,90,40,0.9));
    background: -webkit-gradient(linear,top,from(rgba(30,90,40,0)),to(rgba(30,90,40,0.9)));
    background: -webkit-linear-gradient(top,rgba(30,90,40,0),rgba(30,90,40,0.9));
    background: -o-linear-gradient(top,rgba(30,90,40,0),rgba(30,90,40,0.9));
	border-top:#B1DDB9 solid 1px;
}
.ListMoreCont .List{
	height:70px;
	border-bottom:#DDD solid 1px;
	overflow:hidden;
}
.ListMoreCont .List .title{
	padding-top:10px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding-left:10px;
}
.ListMoreCont .List .title a{
	font-family:Arial, Helvetica, sans-serif;
	color:#369;
}
.ListMoreCont .List .title span{
	font-family:Arial, Helvetica, sans-serif;
	display:inline-block; 
	font-size:14px;
	height:20px;
	line-height:20px;
	padding:0 5px 0 5px;
	/*background:green;*/
	color:green;
	margin-left:15px;
}
.ListMoreCont .List .info,.ListMoreCont .List .time{
	display:block;
	height:25px;
	line-height:25px;
	width:70%;
	overflow:hidden;
	float:left;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:14px;
	word-spacing:10px;
}
.ListMoreCont .List .info em{
	font-style:normal;
	color:#F90;
}
.ListMoreCont .List .time{
	width:20%;
	float:right;
	padding:0 10px 0 0;
	text-align:right;
}