.s-skin{margin-bottom:15px; background:#fff;}

.m-nav{padding:10px 0 5px 0;}
.m-nav ul{overflow:hidden;}
.m-nav ul li{float:left; width:25%; text-align:center; padding-bottom:15px;}
.m-nav ul li span{display:block;}
.m-nav ul li span:first-child{width:60px; height:60px; line-height:60px; overflow:hidden; border-radius:50%; margin:0 auto; background:#ddd;}
.m-nav ul li span:last-child{padding-top:5px; height:25px; line-height:25px; color:#666; font-size:14px;}
.m-nav ul li span img{vertical-align:initial; width:60px; height:60px;}

/* m-modleCont */
.m-modleCont{background:#fff;}
.modleCont h2{height:25px; line-height:25px; padding:15px 25px; padding:15px 10px 15px 20px; background:url('ticon1.png') 10px center no-repeat; border-bottom:1px solid #e5e5e5; box-shadow:0px 1px 0px #F5F5F5; font-weight:400;}
.modleCont h2 a{float:left; width:100%; height:100%; font-size:16px; color:#fff;}
.modleCont .allCont{padding:15px 10px 5px 10px; background:#f3f3f3;}
.allCont ul{overflow:hidden;}
.allCont ul li{float:left; width:calc(50% - 5px); margin-bottom:10px; background:#fff;box-shadow:-1px 2px 3px #e1e1e1;}
.allCont ul li:nth-child(2n-1){margin-right:10px;}
.List .ListPic{overflow:hidden;text-align:center; height:140px; line-height:140px; position:relative;}
.List .ListPic img{max-width:100%; max-height:100%;}
.List h3{height:40px; line-height:20px; padding:3px 5px; font-size:.9rem; font-weight:400; overflow:hidden;color:#666;}
.List .ListPrice{padding:2px 6px; overflow:hidden; text-align:center; font-size:.6rem;}
.List .ListPrice span{display:block; height:20px; line-height:20px; color:#ff3333; font-size:14px; padding-right:8px;}
.List .ListPrice strike{display:block; height:20px; line-height:20px; color:#999; font-size:13px;}
.List .ListOther{padding:2px 6px 10px 6px; overflow:hidden; text-align:left; color:#999; font-size:.7rem;}
.List .ListOther span{display:inline-block; width:100%; line-height:22px;}
.List .ListOther span em{color:#f40;}

.ShowMoreShop{padding:0 10px 15px 10px; background:#f3f3f3;}
.ShowMoreShop span{display:block; width:100%; height:25px; line-height:25px; padding:10px 0; text-align:center; font-size:18px; border:1px solid #d5d5d5; border-radius:8px; background:#fff; color:#666; cursor:pointer;}
/* listsort hide */
.fullbg { background-color:#000;  opacity:0;  top:0;  left:0;  width:100%;  height:100%;  z-index:1001;  position:absolute; display:none;}
.navbox {position:absolute;  top:0;   right:0;  z-index:1002;  width:1px; overflow:hidden; background-color:#eee;  font-family:Arial, Helvetica, sans-serif;}
.navbox:after{content: '';  display: block; width: 100%;	 height: 80px; clear:both;}
.navbox a{font-family:Arial, Helvetica, sans-serif; color:#333;}
.navbox dl{border-bottom:1px solid #d6d6d6;}
.navbox dl dt{height:35px; line-height:35px; padding-left:10px; border-bottom:1px solid #FFF; border-top:1px solid #FFF; overflow:hidden; position:relative;}
.navbox dl dt:after{content: ''; width: 14px; height: 14px; display: block; position: absolute; top: 12px; right: 10px; width:0; height:0; border:8px solid transparent; border-left: 8px solid rgba(0,0,0,0.8); border-right:0; cursor:pointer;}
.navbox dl.ck dt:after{border:8px solid transparent; border-top: 8px solid rgba(0,0,0,0.8); border-bottom:0;}
.navbox dl.ck dt a{color:red;}
.navbox dl dd{padding:10px; background:#FFF; border-top:1px solid #d6d6d6; display:none;}
.navbox dl.ck dd{display:block;}
.navbox dl dd div a{display:block; height:30px; line-height:30px; overflow:hidden;}
.navbox dl dd div a.ck{color:red;}
@media(min-width:614px){
	.List h3{height:30px; line-height:30px; font-size:1rem;}
	.List .ListOther span{display:inline-block; width:50%; font-size:.8rem;}
	.List .ListOther span.L{text-align:left;}
	.List .ListOther span.R{text-align:right;}
}
@media(min-width:640px){
	.m-nav ul li span:first-child{width:80px; height:80px; line-height:80px;}
	.m-nav ul li span img{width:80px; height:80px;}
	.List .ListPic{height:300px; line-height:300px;}
}