<!--
<?php
$ck_class[$fid] = "class='ck'";
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$Murl/images/life6/list.css">
<div class="main"><!--main  s-->
    <ul class="modemenu">   <!-- modemenu  s -->
        <li class='li0'><span $ck_class[1]><a href="list.php?fid=1">招标信息</a></span></li>
        <li class='li1'><span $ck_class[4]><a href="list.php?fid=4">装修学堂</a></span></li>
        <li class='li2'><span $ck_class[5]><a href="list.php?fid=5">装修公司</a></span></li>
        <li class='li3'><span $ck_class[2]><a href="list.php?fid=2">装修案例</a></span></li>
        <li class='li4'><span $ck_class[3]><a href="list.php?fid=3">装修日志</a></span></li>
        <li class='li5'><span $ck_class[6]><a href="list.php?fid=6">设计师</a></span></li>
    </ul>    <!-- modemenu  e -->
    <div class="modeSearch">    <!-- modeSearch  搜索 s -->
        <form name="modesearch" method="post" action="search.php" onsubmit="return check_keyword();" target="_blank">
            <div class='search_div'>    <!-- search_div  s -->
    
                <div class='search_main'>  <!-- search_main  s -->
                    <div class="keyword"><input type="text" name="keyword" placeholder='请输入你要查找的内容'></div>
                    <div class='showtype_div'>   <!--  showtype_div  s -->
                        <div class="showtype"><span>招标信息</span></div>
                        <ul class="listtype">
                            <li><span class="ck">招标信息</span></li>
                            <li><span>装修学堂</span></li>
                            <li><span>装修公司</span></li>
                            <li><span>装修案例</span></li>
                            <li><span>装修日志</span></li>
                            <li><span>设计师</span></li>
                        </ul>					
                    </div>    <!--  showtype_div  e -->
                </div>   <!-- search_main  e -->
    
                <div class='search_submit'>    <!-- search_submit  s -->
                    <input type="image" src="images/life6/search.png" />
                    <input type="hidden" name="mid" value="1">
                    <input type="hidden" name="action" value="search">					
                </div>    <!-- search_submit  e -->
            </div>    <!-- search_div  e -->
        </form>
    </div>    <!-- modeSearch  搜索 e -->
<SCRIPT LANGUAGE="JavaScript" src="$Murl/images/life6/msearch.js"></SCRIPT>
    <div class='search_keyword'  >
           <ul>
               <li class='title'>热门搜索：</li>
               <li> <a href="list.php?fid=6">设计师</a></li>
               <li> <a href="list.php?fid=3">房产</a></li>
               <li> <a href="list.php?fid=4">热门学堂</a></li>
               <li> <a href="list.php?fid=5">装修公司</a></li>
               <li> <a href="list.php?fid=1">招标</a></li>
               <li> <a href="list.php?fid=2">装修案例</a></li>
           </ul>
    </div>
<!--/*搜索分类*/-->
    <div class="fen_lei">
    	<dl>
      	<dt class="fl_title"><span>选择搜索分类</span></dt>
          <dd><span>区    域： </span>
<!--
EOT;
if($city_id){
$url=get_info_url('',$fid,$city_id,'','',$TempSearch_array);
$ck_citys = $zone_id ? "" : "class='ck'";
print <<<EOT
-->
		  <A HREF="$url" $ck_citys>{$city_DB[name][$city_id]}</A>
<!--
EOT;
foreach($zone_DB[name] AS $key=>$value){
$url=get_info_url('',$fid,$city_id,$key,'',$TempSearch_array);
$ck_zones = ($zone_id==$key) ? "class='ck'" : "";
print <<<EOT
-->		  
		  
		  <A HREF="$url" $ck_zones>$value</A>
<!--
EOT;
}
print <<<EOT
-->

<!--
EOT;
if($street_DB[$zone_id]){
print <<<EOT
-->
		<div class="ListStreet">
<!--
EOT;
foreach($street_DB[$zone_id] AS $key=>$value){
$url=get_info_url('',$fid,$city_id,$zone_id,$key,$TempSearch_array);
$ck_street = ($street_id==$key) ? "class='ck'" : "";
print <<<EOT
-->
            <A HREF="$url" $ck_street>$value</A> 
<!--
EOT;
}
print <<<EOT
-->
        </div>
<!--
EOT;
}}
print <<<EOT
-->
		  </dd>
          <!--{filter}--><dd><span>{title}： </span><a>{value}</a></dd><!--{/filter}-->
      </dl>
    </div> <!--/*搜索分类*/ e-->

    <div class="list_box">
        <dl>
            <dt class="list_title"><span class="z01">招标项目</span class="z02 "><span class="z03">装修预算</span><span class="z04">招标类型</span><span class="z05">区域</span><span class="z06">项目类型</span><span class="z07">面积</span><span  class="z08">发布时间</span></dt>
<!--
EOT;
foreach($listdb AS $key=>$rs){
$Module_db->showfield($field_db,$rs);
print <<<EOT
-->
            <dd><a href="$rs[url]" target="_blank" title='$rs[full_title]'>$rs[title]</a><span class="r_color mL1">{$rs[price]}</span><span class="mL2">{$rs[supply_type]}</span><span class="mL3">{$rs[station]}</span><span class="mL4">{$rs[sortid]}</span><span class="b_color mL5">{$rs[acreage]}</span><span class="mL6">{$rs[posttime]}</span></dd>
<!--
EOT;
}
print <<<EOT
-->
            <dd class="gonyou"> <span>共有<em>{$totalNum}</em>个招标信息</span></dd> 
        </dl>
		<div class="showpage">{$showpage}</div>
    </div> 
    <div class="clierfix"></div>
</div><!--main  e-->
<!--
EOT;
?>
-->
