<!--
<?php
$ListPics="";
foreach($picdb AS $key=>$rs){
$ListPics .= "<li><img onerror=\"this.src='$webdb[www_url]/images/default/nopic.jpg'\" src=\"$rs[picurl]\"/></li>";
}
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="./images/wap/demo.css">
<div class="Location">
	<em>当前位置：</em><a href="$webdb[_www_url]/wapindex.php">首页</a> -> <a href="./wapindex.php">装修</a> $GuideFid[$fid]
</div>
<!--幻灯片开始-->
<link rel="stylesheet" href='$webdb[www_url]/images/wap/flash/flash.css'/>
<script src='$webdb[www_url]/images/wap/flash/flash.js'></script>
<div data-am-widget="slider" class="am-slider am-slider-a1" data-am-slider='{&quot;directionNav&quot;:false}'>
  <ul class="am-slides">
	{$ListPics}
  </ul>
</div>
<!--幻灯片结束-->
<div class="demo-info">
	<h3>{$rsdb[title]}</h3>
    <span>发布时间：<em>{$rsdb[posttime]} </em> </span>
    <span>有效日期：<em>{$rsdb[showday]}　</em> </span>
    <span>浏览量：<em>{$rsdb[hits]}次 </em> </span>
</div>
<div class="conter">   
    <div class="jieshao">
    	<div class="title">正文</div>
        <div class="cont">{$rsdb[content]}</div>
    </div>	
</div>
<div class="Reminded">
	<div>网站提醒您：</div>
	<ul>
		<li>交易时请警惕网络诈骗、先付款后发货交易、欺诈交易。</li>
		<li>网站建议您只进行同城或当面交易，并检查物品的相关资料和手续。</li>
	</ul>
</div> 
<div class="FootSpac"></div>
<div class="fullbg"></div>
<div class="ShowBigPic"><img src="http://wlife.net/images/default/nopic.jpg" /></div>
<script type="text/javascript">
$('.am-slides img').click(function(){
	if ($(window).height() > $("body").height()) {
		$(".fullbg").height($(window).height());
	}else{
		$(".fullbg").height($("body").height());
	}
	$(".ShowBigPic").css('top',$(document).scrollTop()+'px');
	$(".ShowBigPic img").attr('src',$(this)[0].src); 
	$(".fullbg").css({'display':'block'}).stop().animate({'opacity':.8},500);
	$(".ShowBigPic").css({'display':'block'}).stop().animate({'opacity':1},500);
});
$(".fullbg").click(function(){
	$(".fullbg").css({'opacity':0}).stop().animate({'height':0},500);
	$(".ShowBigPic").css({'display':'none'}).stop().animate({'opacity':0},500);
});
$(".ShowBigPic").click(function(){
	$(".fullbg").css({'opacity':0}).stop().animate({'height':0},500);
	$(".ShowBigPic").css({'display':'none'}).stop().animate({'opacity':0},500);
});
</script>

<!--
EOT;
if($webdb[wxpay_AppID]&&$webdb[wxpay_AppSecret]){//微信自定义分享内容
require(ROOT_PATH."inc/weixin.jsdk.php");
$jssdk = new JSSDK($webdb[wxpay_AppID], $webdb[wxpay_AppSecret]);
$signPackage = $jssdk->GetSignPackage();
print <<<EOT
-->
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
  wx.config({
    debug: false,
    appId: '{$signPackage["appId"]}',
    timestamp: {$signPackage["timestamp"]},
    nonceStr: '{$signPackage["nonceStr"]}',
    signature: '{$signPackage["signature"]}',
    jsApiList: [
        'checkJsApi',
		'onMenuShareTimeline',
        'onMenuShareAppMessage',  
		'showMenuItems',
      ]
  });

</script>
<script type="text/javascript">
function ShareTimeline(){
    wx.onMenuShareTimeline({
      title: '$rsdb[title]',
      link: '$WEBURL',
      imgUrl: '$rsdb[picurl]',
      trigger: function (res) {
        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
        //alert('分享到朋友圈后，每进来一位新用户，你都将获得{$webdb[CommendRegHongBao]}元红包的奖励，你若取消关注公众号，将不派发！');
      },
      success: function (res) {
        //alert('分享成功，请注意查收红包！');
		//window.location.reload();
		//window.location.href='wapbencandy.php?WXID=$WXID&fid=$fid&id=$id&job=have_shareFriend';
      },
      cancel: function (res) {
       // alert('系统监测到你没有真正分享到朋友圈，请重新分享！');
      },
      fail: function (res) {
        alert(JSON.stringify(res));
      }
    });
	//wx.showOptionMenu();
	
    //alert('请点击左上角的菜单，然后分享到朋友圈去即可');
}

function ShareAppMessage(){
	wx.onMenuShareAppMessage({
      title: '$rsdb[title]',
      desc: '$rsdb[description]',
      link: '$WEBURL',
      imgUrl: '$rsdb[picurl]',
      trigger: function (res) {
        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
        //alert('你搞错了，应该分享到朋友圈去！');
      },
      success: function (res) {
        //alert('你并没有分享到朋友圈，请重新分享到朋友圈！');
		//window.location.href='wapbencandy.php?WXID=$WXID&fid=$fid&id=$id&job=have_shareFriend';
      },
      cancel: function (res) {
        //alert('你已取消操作，请重新分享到朋友圈！');
      },
      fail: function (res) {
        alert(JSON.stringify(res));
      }
    });
    //alert('请点击左上角的菜单，发送给朋友');
}

wx.ready(function () {
	//wx.showOptionMenu();
	ShareTimeline();
	ShareAppMessage();
});

wx.error(function (res) {
  alert(res.errMsg);
});

</script>
<!--
EOT;
}print <<<EOT
-->


<!--
EOT;
?>
-->