<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="./images/wap/list.css">
<link rel="stylesheet" type="text/css" href="./images/wap/decoration_list.css">

<div class="DecorationPath">当前位置：<span class='Apath'><a href="$webdb[_www_url]">首页</a> -> <a href="./">装修</a> $GuideFid[$fid]</span></div>
<div class="MemberOperate">
	<a href="wappost.php?fid=$fid" class="PostMessage">快速发布信息</a>　
	<a href="$webdb[_www_url]/zhuangxiu/member/waplist.php" class="PostMessage ManageMessage">管理我的信息</a>
</div>
<div class="DecorationSearch">
	<form name="searchlive" action="wapsearch.php?action=search" method="post">
		<input type="hidden" name="action" value="search"/>
		<input type="text" name="keyword" class="InputKey"/>
		<span class='searchSubmit'><input type="submit" class="s_btn po_ab" value="搜索" /></span>
	</form>
</div>
<div class="SelectSort">
	<ul class="ChangeSele">
		<li><a href="javascript:;" id="show_sort"><span>全部类别</span></a></li>
		<li><a href="javascript:;" id="show_zone"><span>全部区域</span></a></li>
	</ul>	
</div>

<div class="SelectSortTypeLong">

<div class='SorTtitleWarp'>
<div class='sort_title'><span>家庭装修：</span></div>
<ul>
	<li><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('business_type'=>"$business_type",'build_style'=>"$build_style",));
print <<<EOT
--><A HREF='$url' {$search_fieldDB[home_type][0]}>不限</A> <!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('business_type'=>"$business_type",'build_style'=>"$build_style",'home_type'=>'小户型'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[home_type]['小户型']}>小户型</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('business_type'=>"$business_type",'build_style'=>"$build_style",'home_type'=>'公寓'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[home_type]['公寓']}>公寓</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('business_type'=>"$business_type",'build_style'=>"$build_style",'home_type'=>'别墅'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[home_type]['别墅']}>别墅</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('business_type'=>"$business_type",'build_style'=>"$build_style",'home_type'=>'普通住宅'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[home_type]['普通住宅']}>普通住宅</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('business_type'=>"$business_type",'build_style'=>"$build_style",'home_type'=>'局部装修'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[home_type]['局部装修']}>局部装修</A></li>
</ul>
</div>

<div class='SorTtitleWarp'>
<div class='sort_title'><span>商业装修：</span></div>
<ul>
	<li><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",));
print <<<EOT
--><A HREF='$url' {$search_fieldDB[business_type][0]}>不限</A> <!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'KTV'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['KTV']}>KTV</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'商铺'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['商铺']}>商铺</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'餐厅/酒楼'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['餐厅/酒楼']}>餐厅/酒楼</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'美容/美发'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['美容/美发']}>美容/美发</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'娱乐场所'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['娱乐场所']}>娱乐场所</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'酒店'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['酒店']}>酒店</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'展厅'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['展厅']}>展厅</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'厂房'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['厂房']}>厂房</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'写字楼'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['写字楼']}>写字楼</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'学校'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['学校']}>学校</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'build_style'=>"$build_style",'business_type'=>'医院'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[business_type]['医院']}>医院</A></li>
</ul>
</div>

<div class='SorTtitleWarp'>
<div class='sort_title'><span>装修风格：</span></div>
<ul>
	<li><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",));
print <<<EOT
--><A HREF='$url' {$search_fieldDB[build_style][0]}>不限</A> <!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",'build_style'=>'简约'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[build_style]['简约']}>简约</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",'build_style'=>'现代'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[build_style]['现代']}>现代</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",'build_style'=>'中式'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[build_style]['中式']}>中式</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",'build_style'=>'欧式'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[build_style]['欧式']}>欧式</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",'build_style'=>'美式'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[build_style]['美式']}>美式</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",'build_style'=>'田园'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[build_style]['田园']}>田园</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",'build_style'=>'古典'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[build_style]['古典']}>古典</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",'build_style'=>'混搭'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[build_style]['混搭']}>混搭</A><!--
EOT;
$url=get_info_url('',$fid,$city_id,$zone_id,$street_id,array('home_type'=>"$home_type",'business_type'=>"$business_type",'build_style'=>'地中海'));
print <<<EOT
--> <A HREF='$url' {$search_fieldDB[build_style]['地中海']}>地中海</A></li>
</ul>
</div>
<!---->
</div>



<div class="CompanyListWrap">
<!--
EOT;
$i =0;
foreach($listdb AS $key=>$rs){
$i++;
$rs[title]=get_word($rs[title],16);
 $rs[business_type]=get_word($rs[business_type],20);
 $rs[address]=get_word($rs[address],20);
$companyname="<a href=\"$rs[url]\" target=\"_blank\" title='$rs[full_title]'>$rs[title]</a> <span>置顶</span>";
if($i ==1){
	$companyname="<a href=\"$rs[url]\" target=\"_blank\" title='$rs[full_title]'>$rs[title]</a> <span>置顶</span><img src='$webdb[_www_url]/zhuangxiu/images/wap/rz.png'>";
}

$showdomes="";
$listdomes = List_Company_Demo($rs[id],6);
foreach($listdomes AS $keys=>$rss){
    $rss[url]=get_info_url($rss[id],$rss[fid],$rss[city_id]);
    $rss[title] = get_word($rss[title],30);
    $showdomes .= " <a href=\"$rss[url]\" target=\"_blank\" title='$rss[full_title]'>$rss[title]</a>&nbsp;";
}
$demonums=Show_Company_Demo_Num($rs[id]);
print <<<EOT
-->
		<dl class="CompanyList">
			<dt><a href="$rs[url]"><img onerror="this.src='$webdb[www_url]/images/default/nopic.jpg'" src="$rs[picurl]"/></a></dt>
			<dd>
				<div class='CompanyName'>$companyname</div>
				<p>专长：{$rs[business_type]}</p>
				<div class='address'>地址：{$rs[address]}</div>
			</dd>
		</dl>
<!--
EOT;
}
print <<<EOT
-->
	<div class="page">$showpage</div>
</div>
<div class="navbox" id="navbox_sort">
<!--
EOT;
$listSorts="";
foreach($Fid_db[0] AS $key=>$value){
$url=get_info_url('',$key,$city_id);
$ck_class=($key==$fidDB[fup] || $fid==$key)?"class='ck'":"";
$listSorts.="<dl $ck_class>\r\n";
$listSorts.="	<dt><a href=\"$url\">{$value}</a></dt>\r\n";
if($Fid_db[$key]){
$listSorts.="	<dd>\r\n";
foreach($Fid_db[$key] AS $keys=>$rs){
$urls=get_info_url('',$keys,$city_id);
$ck_class=($fid==$keys)?"class='ck'":"";
$listSorts.="		<div><a href=\"$urls\" $ck_class>{$rs}</a></div>\r\n";
}
$listSorts.="	</dd>\r\n";
}
$listSorts.="</dl>\r\n";
}
print <<<EOT
-->
$listSorts
</div>
<div class="navbox" id="navbox_zone">
<!--
EOT;
$listZones="";
if($city_id){
$url=get_info_url('',$fid,$city_id,'','',$TempSearch_array);
$ck_class=($zone_id)?"":"class='ck'";
$listZones.="<dl $ck_class>\r\n";
$listZones.="	<dt><a href=\"$url\">{$city_DB[name][$city_id]}</a></dt>\r\n";
$listZones.="</dl>\r\n";
foreach($zone_DB[name] AS $key=>$value){
$url=get_info_url('',$fid,$city_id,$key,'',$TempSearch_array);
$ck_class=($zone_id==$key)?"class='ck'":"";
$listZones.="<dl $ck_class>\r\n";
$listZones.="	<dt><a href=\"$url\">{$value}</a></dt>\r\n";
if($street_DB[$key]){
$listZones.="	<dd>\r\n";
foreach($street_DB[$key] AS $keys=>$values){
$ck_class=($street_id==$keys)?"class='ck'":"";
$urls=get_info_url('',$fid,$city_id,$key,$keys,$TempSearch_array);
$listZones.="		<div><a href=\"$urls\" $ck_class>{$values}</a></div>\r\n";
}
$listZones.="	</dd>\r\n";
}
$listZones.="</dl>\r\n";
}}
print <<<EOT
-->
$listZones
</div>
<div class="fullbg" id="fullbg1"></div>
<div class="fullbg" id="fullbg2"></div>
<script type="text/javascript" src="./images/wap/list.js"></script>
<!--
EOT;
?>
-->
