<!--
<?php
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/member/images/wap/post.css">
<script>
$('head title').html('$webdb[Info_webname]');
$('header .web').html('$webdb[Info_webname]');
</script>
<div class="FormContainer">
<form name="FORM" id="FORM" method="post" action="?action=$atc"  enctype="multipart/form-data">
	<h3>基本资料</h3>
	<dl>
		<dt><span>*</span>信息标题：</dt>
		<dd><input type="text" name="postdb[title]" class="text" placeholder="输入信息标题，仅限40字" value="$rsdb[title]" /></dd>
	</dl>
<!--
EOT;
if($job!="edit"&&$webdb[Info_GroupPostYzImg]&&!$web_admin&&in_array($groupdb['gid'],explode(",",$webdb[Info_GroupPostYzImg]))){
print <<<EOT
-->
	<dl>
		<dt><span>*</span>验证码：</dt>
		<dd class="Yzcode">
			<input id="yzImgNum" type="text" name="yzimg" class="text" placeholder="输入验证码" />
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<span class="yzimg"><img name="imageField" onclick="this.src=this.src+Math.random();" src="$webdb[www_url]/do/yzimg.php?'+Math.random()+'"/></span>');
//-->
</SCRIPT>
		</dd>
	</dl>
<!--
EOT;
}
print <<<EOT
-->

	<dl>
		<dt>项目类型:<font color=red>*</font><span></span></dt>
		<dd> <input type='radio' name='postdb[sortid]' value='1' {$rsdb[sortid]['1']}>普通住宅  <input type='radio' name='postdb[sortid]' value='2' {$rsdb[sortid]['2']}>别墅  <input type='radio' name='postdb[sortid]' value='3' {$rsdb[sortid]['3']}>办公楼  <input type='radio' name='postdb[sortid]' value='4' {$rsdb[sortid]['4']}>商铺  </dd>
	</dl>

	<dl>
		<dt>预算价钱:<span></span></dt>
		<dd><select name='postdb[price]' id='atc_price'><option value='1' {$rsdb[price]['1']}>5000元以内</option><option value='2' {$rsdb[price]['2']}>1万元以内</option><option value='3' {$rsdb[price]['3']}>2万元以内</option><option value='4' {$rsdb[price]['4']}>3万元以内</option><option value='5' {$rsdb[price]['5']}>4万元以内</option><option value='3' {$rsdb[price]['3']}>5万元以内</option><option value='7' {$rsdb[price]['7']}>面议</option></select></dd>
	</dl>

	<dl>
		<dt>装修方式:<span></span></dt>
		<dd> <input type='radio' name='postdb[supply_type]' value='1' {$rsdb[supply_type]['1']}>全包  <input type='radio' name='postdb[supply_type]' value='2' {$rsdb[supply_type]['2']}>半包  </dd>
	</dl>

	<dl>
		<dt>装修面积:<span></span></dt>
		<dd> <input   type='text' name='postdb[acreage]' id='atc_acreage' style='width:100px;' value='$rsdb[acreage]'> 平方米</dd>
	</dl>

	<dl>
		<dt>所在位置:<span></span></dt>
		<dd> <input   type='text' name='postdb[station]' id='atc_station' style='width:300px;' value='$rsdb[station]'> </dd>
	</dl>

	<dl>
		<dt>其它要求:<span></span></dt>
		<dd><script type='text/javascript'>loadBaiduEditorJs();</script>
			<textarea name='postdb[content]' id='atc_content'>$rsdb[content]</textarea> 
			<script type='text/javascript'>				
			var editor_content = new baidu.editor.ui.Editor({toolbars:[['fullscreen','source','undo','redo','bold', 'italic', 'underline']] ,minFrameHeight:200});
				editor_content.render( 'atc_content' );
			</script></dd>
	</dl>
<!---->
	<dl>
		<dt>所在城市：</dt>
		<dd><div id="select_city" class="select"></div></dd>
	</dl>
	<dl>
		<dt>辖区：</dt>
		<dd><div id="select_zone" class="select"></div></dd>
	</dl>
	<dl>
		<dt>街道：</dt>
		<dd><div id="select_street" class="select"></div></dd>
	</dl>
	<dl>
		<dt>联系人：</dt>
		<dd><input type="text" name="postdb[linkman]" class="text" placeholder="输入姓名" value="$rsdb[linkman]" /></dd>
	</dl>
	<dl>
		<dt>电话：</dt>
		<dd><input type="text" name="postdb[telephone]" class="text" placeholder="输入电话" value="$rsdb[telephone]" /></dd>
	</dl>
	<dl>
		<dt>手机：</dt>
		<dd><input type="text" name="postdb[mobphone]" class="text" placeholder="输入手机" value="$rsdb[mobphone]" /></dd>
	</dl>
	<dl>
		<dt>邮箱：</dt>
		<dd><input type="text" name="postdb[email]" class="text" placeholder="输入邮箱" value="$rsdb[email]" /></dd>
	</dl>
	<dl>
		<dt>QQ：</dt>
		<dd><input type="text" name="postdb[oicq]" class="text" placeholder="输入QQ" value="$rsdb[oicq]" /></dd>
	</dl>
	<dl>
		<dt>MSN：</dt>
		<dd><input type="text" name="postdb[msn]" class="text" placeholder="输入MSN" value="$rsdb[msn]" /></dd>
	</dl>
	<dl>
		<dt>是否置顶:</dt>
		<dd>
                    <input type="radio" name="iftop" value="0" $ifTop[0]>
                    不置顶 
                    <input type="radio" name="iftop" value="1" $ifTop[1]>
                    置顶(注:栏目内置顶需要消费积分:<b><font color="#FF0000">{$webdb[Info_TopMoney]}</font></b>个,<a href="$webdb[www_url]/do/jf.php" target="_blank"><font color="#0000FF">点击查上看如何获取积分?</font></a>) 
         </dd>
	</dl>
	<dl>
		<dt>标签:</dt>
		<dd>
			<input type="text" name="postdb[keywords]" id="atc_title" size="50" value="$rsdb[keywords]">
			(多个用空格隔开)</dd>
	</dl>
    <div class="butter">
		<span class="submits"><input type="submit" name="Submit" value="提 交"></span>
		<input type="hidden" name="fid" value="$fid">
		<input type="hidden" name="id" value="$id">
		<input type="hidden" name="$webdb[rand_num_inputname]" value="$webdb[rand_num]">
	</div>
</form>
</div>
<SCRIPT LANGUAGE="JavaScript">
<!--
function select_where(selects,fup,name,fid){
	$.get("$webdb[www_url]/f/select_where.php?selects="+selects+"&fups="+fup+"&name="+name+"&fids="+fid+"&"+Math.random(),function(d){
		$("#select_"+selects).html(d);
	});
}
select_where('city','','postdb[city_id]',$city_id);
select_where('zone',$city_id,'postdb[zone_id]',$zone_id);
select_where('street',$zone_id,'postdb[street_id]',$street_id);
function upfile(url,name,size,ty){
	document.getElementById(ty).value=url;
}
$('.PicList').hover(
	function(){
		$(this).css('border-bottom', 'dotted #DDD 1px');
	},function(){
		$(this).css('border-bottom', '0');
	}
);
$('.PicList span').click(function(){
	//$(this).parent().html('');
	//$(this).parent().remove();
	$(this).parent().children().eq(0).val('');
});
//-->
</SCRIPT>
<!--
EOT;
?>
-->