<!--
<?php
if($gudie){
print<<<EOT
--> 

<div class="MainContainers">
  <div class="Conter">
    <table class="ListTable">
      <tr> 
        <td class='Left'> 
          $gudie
        </td>
      </tr >
    </table>
    </div>
  </div>
<!--
EOT;
}
print<<<EOT
--> 

<form name="form1" method="post" action="$admin_path&action=$job">
<div class="MainContainers">
  <div class="Header"><span class="tag">修改分类</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
  <table class="FormTable">
    <tr> 
      <td class='tdL'>分类名称:</td>
      <td class='tdR'> 
        <input type="text" name="postdb[name]" value="$rsdb[name]">
      </td>
    </tr>
    </table>
    <div class='submits'>
        <input type="submit" name="Submit" value="提交">
        <input type="hidden" name="postdb[fid]" value="$fid">      
    </div>
  </div>
</div>
</form>
<!--
EOT;
?>
-->
