.MainSlide{
	width:100%;
	margin:auto;
	position:relative;
	overflow:hidden;
}
.MainSlide .slideimgs{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;	
}
.MainSlide .slideimgs li{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
	background:#FFF;
}
.MainSlide .slideimgs li a{
	display:block;
	width:100%;
	height:100%;
}
.MainSlide .slideimgs li a span{
	display:none;
}
.MainSlide .listnum{
	width:100%;
	height:20px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:10px;
	text-align:center;
	z-index:100;
}
.MainSlide .listnum li{
	display:inline-block;
	width:8px;
	height:8px;
	overflow:hidden;
	background:#FFF;
	margin:0 5px;
	line-height:40px;
	border-radius:4px;
}
.MainSlide .listnum li.ck{
	background:#2CB9FF;
}
.MainSlide .prev,.MainSlide .next{
	width:30px;
	height:30px;	
	position:absolute;
	z-index:1000;
	top:48%;
	border-radius:15px;
	overflow:hidden;
	background:#000;
	filter:alpha(opacity=60); 
	-moz-opacity:0.6; 
	opacity:0.6;
	display:none;	
}
.MainSlide .next{
	right:10%;
}
.MainSlide .prev{
	left:10%;
}
.MainSlide .prev:before,.MainSlide .next:before{
	content:'';
	display:block;
	width:0;
	height:0;
	border:8px solid transparent;
	border-left: 8px solid #FFF;
	border-right:0;
	margin:5px auto 0 auto;	
}
.MainSlide .prev:before{
	border-right: 8px solid #FFF;
	border-left:0;
}
.MainSlide:hover .prev,.MainSlide:hover .next{
	display:block;
}
.companyNews{
	width:100%;
	height:40px;
	background:#F5F5F5;
	overflow:hidden;
	clear:both;
}
.companyNews ul{
	display:table;
	width:1200px;
	margin:auto;
}
.companyNews ul li{
	display:table-cell;
	height:40px;
	vertical-align:middle;
	font-size:14px;
}
.companyNews ul li.tag{
	width:160px;
	text-indent:20px;
	background:url(notice.png) left center no-repeat;
}
.companyNews ul div.List{
	width:100%;
	height:30px;
	overflow:hidden;
}
.companyNews ul div.List div{
	width:33%;
	height:30px;
	line-height:30px;
	overflow:hidden;
	float:left;
	text-indent:20px;
	background:url(list.png) left 10px no-repeat;	
}
.companyNews ul div.List div a{
	color:#666;
}
.companyNews ul li.more{
	width:50px;
	text-align:right;
}
.ShowContent{
	width:1200px;
	overflow:hidden;
	margin:auto;
}
.ShowContent .head{
	height:80px;
	line-height:80px;
	text-align:center;
	font-size:26px;
}
.ShowContent .head em{
	color:#999;
}
.ListMyshop{
	width:1220px;
	margin-left:-10px;
}
.ListMyshop:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	clear:both;
}
.ListMyshop dl{
	width:244px;
	height:300px;
	overflow:hidden;
	float:left;
}
.ListMyshop dl dt{
	width:220px;
	border:#DDD solid 1px;
	overflow:hidden;
	margin:auto;
	border-radius:5px 5px 0 0;
	background:#EFEFEF;
}
.ListMyshop dl dt a{
	display:table;
	width:100%;
}
.ListMyshop dl dt a span{
	display:table-cell;
	height:200px;
	text-align:center;
	vertical-align:middle;
}
.ListMyshop dl dt a span img{
	max-width:218px;
	max-height:198px;
}
.ListMyshop dl dd{
	width:220px;
	border:#DDD solid 1px;
	border-top:0;
	overflow:hidden;
	margin:auto;
	padding-bottom:10px;
	border-radius:0 0 5px 5px ;
	background:#EFEFEF;
}
.ListMyshop dl dd ul ol{
	height:30px;
	line-height:30px;
	padding:5px 5px 0 10px;
	overflow:hidden;
}
.ListMyshop dl dd ul li{
	height:30px;
	line-height:30px;
	padding:0 10px;
	overflow:hidden;
}
.ListMyshop dl dd ul li .price{
	float:left;
	color:#F60;
}
.ListMyshop dl dd ul li .price0{
	float:right;
	color:#999;
}
.ListMyshop dl:hover dt,.ListMyshop dl:hover dd{
	background:#FFF;
}