<!--
<?php
print <<<EOT
-->  
<script type="text/javascript" src="$webdb[www_url]/ewebeditor/ckeditor/ckeditor.js"></script>
<script src="$webdb[www_url]/images/default/setday.js"></script>
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/member/images/wap/post.css">
<div class="FormContainer">
  <form name="FORM" method="post" action="?action=$atc" enctype="multipart/form-data">
    <h3><a href='bencandy.php?fid=$fid&id=$cid'>$infodb[title]</a></h3>
	<dl>
		<dt>真实姓名:<span></span></dt>
		<dd> <input   type='text' name='postdb[realname]' id='atc_realname' style='width:100px;' value='$rsdb[realname]'> </dd>
	</dl><dl>
		<dt>联系电话:<span></span></dt>
		<dd> <input   type='text' name='postdb[telphone]' id='atc_telphone' style='width:100px;' value='$rsdb[telphone]'> </dd>
	</dl><dl>
		<dt>参加人数:<span></span></dt>
		<dd> <input   type='text' name='postdb[join_num]' id='atc_join_num' style='width:100px;' value='$rsdb[join_num]'> 人</dd>
	</dl><dl>
		<dt>附注留言:<span></span></dt>
		<dd><textarea  name='postdb[content]' id='atc_content' style='width:500px;height:100px;'>$rsdb[content]</textarea></dd>
	</dl><!---->
	<div class="Sub">
	  <div class="butter">
         <span class="submits"><input type="submit" name="Submit" value="提 交"/></span>
      </div>
	  <input type="hidden" name="fid" value="$fid">
      <input type="hidden" name="id" value="$id">
      <input type="hidden" name="cid" value="$cid">
      <input type="hidden" name="postdb[title]" id="atc_title" size="50" value="$infodb[title]">
	</div>
  </form>
</div>
<!--
EOT;
?>
-->
