<!--
<?php
print <<<EOT
--> 
<form name="form_work" method="post" action="index.php?lfj=$lfj&action=delete_adminlogin">
<div class="MainContainers">
  <div class="Conter">
  <table class="ListTable">
    <tr> 
      <th width="5%">序号</th>
      <th width="28%">用户名</th>
      <th width="32%">密码</th>
      <th width="16%">IP</th>
      <th width="12%">时间</th>
      <th width="7%">删除</th>
    </tr>
    <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
    <tr> 
      <td>$rs[id]</td>
      <td> 
        <input type="checkbox" name="iddb[{$rs[id]}]" value="1">
        $rs[username] </td>
      <td>$rs[password]</td>
      <td>$rs[ip]</td>
      <td>$rs[posttime]</td>
      <td><a href="index.php?lfj=$lfj&action=delete_adminlogin&iddb[{$rs[id]}]=1" title='点击删除' class='del'></a></td>
    </tr>
    <!--
EOT;
}
print <<<EOT
-->
   </table>
  <div class="m-showpage">$showpage</div>
   <div class='submits'>
          <input type="button" onclick="CheckAll('all')" name="Submit2" value="全选" />
          <input type="button" onClick='CheckAll()' name="Submit2" value="反选" /> 
         <input type="submit" name="Submit" value="删 除">
   </div>
  </div>
</div>
</form><SCRIPT LANGUAGE="JavaScript">
<!--
function postdo(va){
	document.form_work.jobs.value=va
	document.form_work.submit();
}
function CheckAll(va){
	form=document.form_work
	for (var i=0;i<form.elements.length;i++){
		var e = form.elements[i];
		if(va=='all'){
			e.checked = true;
		}else{
			e.checked == true ? e.checked = false : e.checked = true;
		}
	}
}
//-->
</SCRIPT>
<!--
EOT;
?>
-->