<!--
<?php
print <<<EOT
-->
 <form name="form1" method="post" action="index.php?lfj=$lfj&action=config">
<div class="MainContainers">
  <div class="Header"><span class="tag">用户身份验证设置</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
    <table class="FormTable">
        <td class="tdL">邮箱验证后,是否允许修改:<span help=1>建议不允许再修改,因为修改后,会处于未审核状态</span></td>
        <td class="tdR"> 
          <input type="radio" name="webdbs[EditYzEmail]" value="1" $EditYzEmail[1]>
          允许 
          <input type="radio" name="webdbs[EditYzEmail]" value="0" $EditYzEmail[0]>
          不允许</td>
      </tr>
      <tr> 
        <td class="tdL">手机号码验证后,是否允许修改:<span help=1>建议不允许再修改,因为修改后,会处于未审核状态</span></td>
        <td class="tdR"> 
          <input type="radio" name="webdbs[EditYzMob]" value="1" $EditYzMob[1]>
          允许 
          <input type="radio" name="webdbs[EditYzMob]" value="0" $EditYzMob[0]>
          不允许</td>
      </tr>
      <tr> 
        <td class="tdL">身份证资料验证后,是否允许修改:<span help=1>建议不允许再修改,因为修改后,会处于未审核状态</span></td>
        <td class="tdR"> 
          <input type="radio" name="webdbs[EditYzIdcard]" value="1" $EditYzIdcard[1]>
          允许 
          <input type="radio" name="webdbs[EditYzIdcard]" value="0" $EditYzIdcard[0]>
          不允许</td>
      </tr>
      <tr>
        <td class="tdL">成功验证邮箱奖励{$webdb[MoneyName]}:</td>
        <td class="tdR">
          <input type="text" name="webdbs[YZ_EmailMoney]" value="$webdb[YZ_EmailMoney]" size="5">
          个 </td>
      </tr>
      <tr>
        <td class="tdL">成功验证手机号码奖励{$webdb[MoneyName]}:</td>
        <td class="tdR"> 
          <input type="text" name="webdbs[YZ_MobMoney]" value="$webdb[YZ_MobMoney]" size="5">
          个 </td>
      </tr>
      <tr>
        <td class="tdL">成功验证身份证奖励{$webdb[MoneyName]}:</td>
        <td class="tdR"> 
          <input type="text" name="webdbs[YZ_IdcardMoney]" value="$webdb[YZ_IdcardMoney]" size="5">
          个 </td>
      </tr>
  	<tr>
        <td class="tdL">关注微信绑定帐号奖励{$webdb[MoneyName]}:</td>
        <td class="tdR"> 
          <input type="text" name="webdbs[YZ_WeixinMoney]" value="$webdb[YZ_WeixinMoney]" size="5">
          个 </td>
      </tr>
  </table>
    <div class='submits'> <input  class=mmcinb  type='submit' name='w' value='保存设置'></div>
  </div>
</div>
</form>

<!--
EOT;
?>
-->