
.supply_list{width: 1200px; margin: 20px 0 69px 0; overflow:hidden;}
.supply_list .listL{float:left; width:72%;}
.supply_list .listR{float:right; width:25%;}
.listL .listL1{border:1px solid #DFDEDE;}
.listL .listL1 .bigword{height:50px; line-height:50px; background:#ECECEC; padding-left:15px; font-weight:bold; font-size:16px;}
.listL .listL1 .sonname{padding-left: 26px;line-height: 60px;min-height: 66px;color: #888888;}
.listL .listL1 .sonname a{margin-right:15px;}
.listL .listL2 {border:1px solid #DFDEDE;margin-top: 36px;}
.listL .listL2 .TAG{color: #078DCB; font-size: 16px; font-weight: bold; height: 50px; line-height:50px; padding-left:15px; background: #ECECEC;}
.listL .listL2 ul{overflow:hidden; border-bottom: 1px dotted #7ECAF2; padding:10px 0 10px 160px;}
.listL .listL2 ul li{float:left; height:36px; line-height:36px; font-size:15px;}
.listL .listL2 ul .li1{width:480px;}
.listL .listL2 ul .li2{width:100px; text-align:center;}
.listL .listL2 .list_pro{border-bottom:1px dotted #eee; padding-bottom:8px; margin-top:8px;}
.list_pro .title a{font-size: 15px;color: #2AACF1;}
.list_pro .title a:hover{color:#FF6600;}
.list_pro .title {margin-bottom:8px;}
.list_pro .company_name {margin-top:8px;}
.list_pro .company_name a{color:#00349A;}
.list_pro .price {color:red; font-weight:bold; margin-top:8px; margin-bottom:8px;}
.list_pro .pic a{display:block; width:120px; height:90px; border:1px solid #ddd ;}
.list_pro .buypro a{display:block; width:90px; height:70px; border:1px solid #ddd ;}
.list_pro .pic img{border:1px solid #DFDFDF;}
.list_pro td{padding-bottom: 22px; line-height: 30px;}

.listR .side{border: 1px solid #DFDEDE;}
.listR .side .TAG{color: #078DCB; font-size: 16px; font-weight: bold; height: 50px; line-height:50px; padding-left:15px; background: #ECECEC;}
.listR .side .CC div{line-height: 22px; height:44px; overflow:hidden; padding: 8px 8px 10px 20px; position:relative;}
.listR .side .CC div:before{content:''; display:block; width:5px; height:5px; position:absolute; background:#3366FF; top:18px; left:7px;}
.listR .side .CC #top_list{margin-top:15px; height:36px;}
.listR .side .CC #line{border-bottom:1px dotted #7ECAF2; margin-top:8px; margin-bottom:8px;}

.supply_list #page td{padding:10px;}
.supply_list #page a{font-size:14px;}