<!--
<?php
$Info_showsorttype[intval($webdb[Info_showsorttype])]=' checked ';
print <<<EOT
-->
<form name="form1" method="post" action="$admin_path&action=config">
<div class="MainContainers">
  <div class="Header"><span class="tag">页面显示设置</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
    <table class="FormTable">
    <tr> 
      <td class='tdL'>首页焦点信息/最新信息显示设置</td>
      <td class='tdR'> 
        <input type="text" name="webdbs[AdInfoIndexRow]" size="7" value="$webdb[AdInfoIndexRow]">
        行,每行 
        <input type="text" name="webdbs[AdInfoIndexLeng]" size="7" value="$webdb[AdInfoIndexLeng]">
        字节,一个汉字等于两个字节</td>
    </tr>
    <tr> 
      <td class='tdL'>首页推荐栏目显示设置</td>
      <td class='tdR'> 
        <input type="text" name="webdbs[InfoIndexCSRow]" size="7" value="$webdb[InfoIndexCSRow]">
        行,每行 
        <input type="text" name="webdbs[InfoIndexCSLeng]" size="7" value="$webdb[InfoIndexCSLeng]">
        字节,一个汉字等于两个字节</td>
    </tr>
    <tr> 
      <td class='tdL'>首页每个分类下最多显示多少个栏目</td>
      <td class='tdR'> 
        <input type="text" name="webdbs[Info_showsortnum]" size="7" value="$webdb[Info_showsortnum]">
        个(留空或为0则全部显示) </td>
    </tr><tr> 
      <td class='tdL'>栏目列表每页显示多少条信息</td>
      <td class='tdR'> 
        <input type="text" name="webdbs[Info_ListNum]" size="7" value="$webdb[Info_ListNum]">
        个(留空或为0则为30) </td>
    </tr>
    <tr> 
      <td class='tdL'>列表(内容)页显示焦点信息</td>
      <td class='tdR'> 
        <input type="text" name="webdbs[AdInfoListRow]" size="7" value="$webdb[AdInfoListRow]">
        行,每行 
        <input type="text" name="webdbs[InfoListLeng]" size="7" value="$webdb[InfoListLeng]">
        字节,一个汉字等于两个字节</td>
    </tr>
  </table>
    <div class='submits'><input  class=mmcinb  type='submit' name='w' value='保存设置'></div>
  </div>
</div>
</form>


<div class="MainContainers">
  <div class="Header"><span class="tag">说明</span></div>
  <div class="Conter">
    <ul class="notes">
      <li>某些风格不受以上控制</li>
    </ul>
  </div>
</div>

<!--
EOT;
?>
-->