<!--
<?php
print <<<EOT
--> 
<div class='ListLinkCont'>
    <a href="index.php?lfj=$lfj&job=editsort&id=$id">字段列表</a>
    <a href="?lfj=$lfj&job=addfield&id=$id">添加字段</a>
  </div>

<form name="form1" method="post" action="?lfj=$lfj&action=editorder&id=$id">
<div class="MainContainers">
  <div class="Header"><span class="tag">字段列表</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
      <table class="ListTable">
          <tr> 
            <th width="40%">字段名称</th>
            <th width="29%">字段ID</th>
            <th width="17%">排序</th>
            <th width="7%">修改</th>
            <th width="7%">删除</th>
          </tr>
          <!--
EOT;
      foreach($listdb AS $key=>$rs){
      print <<<EOT
      -->
          <tr> 
            <td class='Lfet'>$rs[title]</td>
            <td>$rs[field_name]</td>
            <td> 
              <input type="text" name="postdb[{$rs[field_name]}]" size="6" value="$rs[orderlist]">
            </td>
            <td> 
              <p><a href='?lfj=$lfj&job=editfield&id=$id&field_name=$rs[field_name]'>管理</a></p>
            </td>
            <td><a href="?lfj=$lfj&action=delfield&id=$id&field_name=$rs[field_name]">删除</a></td>
          </tr>
          <!--
EOT;
      }print <<<EOT
      -->
        </table>
          <div class='submits'><input type="submit" name="Submit" value="修改排序"></div>
        </div>
      </div>
</form>
<div class="MainContainers">
  <div class="Header"><span class="tag">说明</span></div>
  <div class="Conter">
    <ul class="notes">
      <li>1.数值大的排在前面</li>
      <li>2.如果你觉得系统默认的会员资料字段不能满足你的需求的话,你可以自由添加更多的用户资料字段.</li>
    </ul>
  </div>
</div>

<SCRIPT LANGUAGE="JavaScript">
<!--
function show_more(va){
	var s=document.getElementsByTagName("tr");
	for(var i=0;i<s.length;i++){
		if( document.form1.showmore.checked==true ||va==1 ){
			if(s[i].className=='hidetr'){
				s[i].style.display="";
			}	
		}else{
			if(s[i].className=='hidetr'){
				s[i].style.display="none";
			}	
		}
	}
}
//show_more(1);
//-->
</SCRIPT>
<!--
EOT;
?>
-->