<!--
<?php
print <<<EOT
--> 
 <form name="myform" method="post" action="index.php?lfj=$lfj&action=$job">
<div class="MainContainers">
  <div class="Header"><span class="tag">增加模板</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
  <table class="FormTable">
    <tr> 
      <td class='tdL'> 新模板文件</td>
      <td class='tdR'> 
        <input type="text" name="filepath" size="50" value="$filepath">
        .htm结尾的文件 </td>
    </tr>
    <tr> 
      <td class='tdL'>模板代码:</td>
      <td class='tdR'>  
        <textarea name="code" id="code" cols="140" rows="20">$code</textarea>
        <br>
        <input type="button" value="切换可视化编辑器" onclick="initEditor('code','770px','300px');$(this).hide();" />
      </td>
    </tr>
  </table>
  <div class='submits'> <input type="submit" name="Submit" value="提交"></div>
  </div>
  </div>
</form>
<!--
EOT;
?>
-->

<div class="MainContainers">
  <div class="Header"><span class="tag">帮助说明:</span></div>
  <div class="Conter">
    <ul class="notes">
      <li>1.增加前,请先参考一下原有的模板代码.</li>
    </ul>
  </div>
</div>