.s-skin{margin-bottom:15px; background:#fff;}

.m-nav{padding:10px 0 5px 0;}
.m-nav ul{overflow:hidden;}
.m-nav ul li{float:left; width:25%; text-align:center; padding-bottom:15px;}
.m-nav ul li span{display:block;}
.m-nav ul li span:first-child{width:60px; height:60px; line-height:60px; overflow:hidden; border-radius:50%; margin:0 auto; background:#ddd;}
.m-nav ul li span:last-child{padding-top:5px; height:25px; line-height:25px; color:#666; font-size:14px; overflow:hidden;}
.m-nav ul li span img{vertical-align:initial; width:60px; height:60px;}
#show_sort{cursor:pointer;}
/* m-modleCont */
.m-modleCont{}
.modleCont h2{height:25px; line-height:25px; padding:15px 10px 15px 50px; background:url('ticon1.png') 10px center no-repeat; border-bottom:1px solid #e5e5e5; box-shadow:0px 1px 0px #F5F5F5;}
.modleCont h2 a{float:left; width:100%; height:100%; font-size:16px; color:#666;}
.modleCont .allCont{padding:15px 15px 5px 15px;}
.allCont ul{overflow:hidden;}
.allCont ul li{float:left; width:calc(50% - 5px); margin-bottom:10px;}
.allCont ul li:nth-child(2n-1){margin-right:10px;}
.List .ListPic{overflow:hidden;text-align:center; height:140px; line-height:140px;}
.List .ListPic img{max-width:100%; max-height:100%;}
.List h3{height:25px; line-height:25px; padding:0 5px; margin:5px 0; font-size:.9rem; font-weight:400; overflow:hidden; text-align:center; color:#666;}
.List .ListPrice{height:20px; line-height:20px; font-size:.8rem; padding:0 6px; overflow:hidden; text-align:center;}
.List .ListPrice a{color:#666;}
/* 2shou m-News */
.m-News{overflow:hidden; padding-bottom:15px;}
.NewsCont h2{height:25px; line-height:25px; padding:15px 10px 15px 50px; background:url('ticon2.png') 10px center no-repeat; border-bottom:1px solid #e5e5e5; box-shadow:0px 1px 0px #F5F5F5;}
.NewsCont h2 a{float:left; width:100%; height:100%; font-size:16px; color:#666;}
.NewsCont dl{position:relative; overflow:hidden; padding:15px 0 10px 0; margin:0 10px; border-bottom:1px solid #e5e5e5;}
.NewsCont dl dt{position:absolute; right:0; top:20px; width:50px; height:25px; line-height:25px; padding:5px 0; text-align:center; border-radius:5px; background:#c4c4c4;}
.NewsCont dl dt a{font-size:14px; color:#fff;}
.NewsCont dl dt:hover{background:#ff7547;}
.NewsCont dl dd{width:100%;}
.NewsCont dl dd h3{width:calc(100% - 50px); max-height:40px;  overflow:hidden;}
.NewsCont dl dd h3 a{float:left; width:calc(100% - 100px); height:40px; line-height:20px; font-size:.9rem; color:#666; font-weight:400;}
.NewsCont dl dd h3 span{float:left; height:20px; line-height:20px;}
.NewsCont dl dd h3 span em{display:inline-block; height:20px; line-height:20px; font-size:.8rem; overflow:hidden; font-weight:normal;}
.NewsCont dl dd h3 span em:first-child{color:#3366ff;}
.NewsCont dl dd h3 span em:last-child{color:#ff0000;}
.NewsCont dl dd p{overflow:hidden; padding-top:10px;}
.NewsCont dl dd p a{color:#666;}
.NewsCont dl dd p span{width:33.3%; height:20px; line-height:20px; font-size:.8rem; color:#999; text-align:center; overflow:hidden;}
.NewsCont dl dd p span:first-child{text-align:left;}
.NewsCont dl dd p span:last-child{text-align:right;}
.NewsCont dl dd p span.R em{color:#ff6600;}
.ShowMoreShop{text-align:center; margin:10px auto; width:80%; border:#d5d5d5 solid 1px; background:#fff; border-radius:5px; cursor: pointer;}
.ShowMoreShop span{display:inline-block; color:#666;padding:8px 15px;}
/* listsort hide */
.fullbg { background-color:#000;  opacity:0;  top:0;  left:0;  width:100%;  height:100%;  z-index:1001;  position:absolute; display:none;}
.navbox {position:absolute; top:0; right:-1px; z-index:1002; width:1px; overflow:hidden; background-color:#eee; font-family:Arial, Helvetica, sans-serif;}
.navbox:after{content: '';  display: block; width: 100%;	 height: 80px; clear:both;}
.navbox a{font-family:Arial, Helvetica, sans-serif; color:#333;}
.navbox dl{border-bottom:1px solid #d6d6d6;}
.navbox dl dt{height:35px; line-height:35px; padding-left:10px; border-bottom:1px solid #FFF; border-top:1px solid #FFF; overflow:hidden; position:relative;}
.navbox dl dt:after{content: ''; width: 14px; height: 14px; display: block; position: absolute; top: 12px; right: 10px; width:0; height:0; border:8px solid transparent; border-left: 8px solid rgba(0,0,0,0.8); border-right:0; cursor:pointer;}
.navbox dl.ck dt:after{border:8px solid transparent; border-top: 8px solid rgba(0,0,0,0.8); border-bottom:0;}
.navbox dl.ck dt a{color:red;}
.navbox dl dd{padding:10px; background:#FFF; border-top:1px solid #d6d6d6; display:none;}
.navbox dl.ck dd{display:block;}
.navbox dl dd div a{display:block; height:30px; line-height:30px; overflow:hidden;}
.navbox dl dd div a.ck{color:red;}

@media(min-width:640px){
	.m-nav ul li span:first-child{width:80px; height:80px; line-height:80px;}
	.m-nav ul li span img{width:80px; height:80px;}
	.List .ListPic{height:300px; line-height:300px;}
	.NewsCont dl dd h3{max-height:50px;}
	.NewsCont dl dd h3 a{width:calc(100% - 150px); height:50px; line-height:25px; font-size:1rem;}
	.List .ListPrice a,.List h3,.NewsCont dl dd h3 span em,.NewsCont dl dd p span{font-size:1rem;}
}