.BencandyCont{
	width:1200px;
	margin:20px auto 0 auto;
}
.BencandyCont:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	clear:both;
}
.BencandyCont .Main{
	width:830px;
	float:left;
	overflow:hidden;
}
.BencandyCont .Side{
	width:350px;
	float:right;
	overflow:hidden;
	background:#EDEDED;
	padding-bottom:15px;
}
.nav_guide{
	border-bottom:#1CB29D solid 2px;
	line-height:50px;
	font-size:16px;
	color:#666;
}
.Infotitle{
	text-align:center;
	padding:20px 0 10px 0;
	line-height:30px;
	font-size:20px;
	font-weight:bold;
}
.Infobase{
	position:relative;
}
.Infobase .infos{
	line-height:30px;
	font-size:16px;
	color:#666;
	border-bottom:#DDD dotted 1px;
}
.Infobase .baidu_share{
	width:200px;
	position:absolute;
	right:0px;
	top:0px;
}
.InfoContent{
	padding:10px 0 10px 0;
	line-height:20px;
	font-size:14px;
	color:#666;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-word;/*支持IE，chrome，FF*/
	width:830px;
	overflow:hidden;
}
.InfoContent img{
	max-width:820px;
}
.ShowPage{
	text-align:center;
	clear:both;
	padding:10px;
	line-height:30px;
}
.ShowPage a{
	display:inline-block;
	padding:0 8px 0 8px;
	font-size:14px;
	background:#EFEFEF;
	color:#666;
}
.ShowPage a.ck{
	background:#0067B4;
}
.ShowPage a.ck font{
	color:#FFF;
}
.MoreShow{
	display:table;
	width:100%;
}
.MoreShow dt,.MoreShow dd{
	display:table-cell;
	padding:5px 0 5px 0;
	line-height:30px;
	font-size:14px;
	color:#666;
	width:50%;
}
.MoreShow dd{
	text-align:right;
}
.PostComment,.ShowComment{
	border:#DDD solid 1px;
	margin-top:15px;
	border-top:#1CB29D solid 2px;
}
.PostComment .head,.ShowComment .head{
	line-height:50px;
	height:50px;
	padding-left:15px;
	font-size:18px;
	font-weight:bold;
	border-bottom:#DDD solid 1px;
	margin-bottom:10px;
}
.PostComment dl{
	display:table;
	width:100%;
}
.PostComment dl dt,.PostComment dl dd{
	display:table-cell;
	padding:5px;
	vertical-align:middle;
}
.PostComment dl dt{
	width:80px;
	text-align:right;
	line-height:25px;
	font-size:14px;
	color:#666;
}
.PostComment dl dd input{
	height:20px;
	border:#DDD solid 1px;
	color:#666;
	text-indent:5px;
}
.PostComment dl dd textarea{
	width:400px;
	height:150px;
	border:#DDD solid 1px;
	color:#666;
	padding:5px;
}
.PostComment .sub{
	padding:10px 0 20px 95px;
}
.PostComment .sub input{
	width:100px;
	height:30px;
	border:#DDD solid 1px;
	background:#EFEFEF;
	font-weight:bold;
	font-size:14px;
	color:#666;
	cursor:pointer;
}
.PostComment .sub input:hover{
	border:#F30 solid 1px;
	background:#F60;
	color:#FFF;
}
.ListComment{
	padding:0 15px;
	position:relative;
	margin-bottom:15px;
}
.ListComment dl{
	display:table;
	width:100%;
}
.ListComment dl dt,.ListComment dl dd{
	display:table-cell;
	border:#EEE solid 1px;
	vertical-align:top;
}
.ListComment dl dt{
	border-right:0px;
	padding:10px;
	width:80px;
}
.ListComment dl dt a{
	display:block;
	width:80px;
	height:80px;
	overflow:hidden;
	border-radius:40px;
}
.ListComment dl dt a img{
	width:80px;
	height:80px;
}
.ListComment dl dd{
	padding:10px 10px 40px 10px;
	color:#666;
	line-height:20px;
}
.ListComment .moreinfo{
	with:500px;
	height:30px;
	position:absolute;
	line-height:30px;
	bottom:5px;
	right:25px;
	text-align:right;
	color:#888;
}
.ListComment .moreinfo span{
	color:blue;
}
.ListComment .moreinfo em{
	color:red;
}
.ListComment dl:hover{
	background:#EFEFEF;
}
.no_Comment{
	text-align:center;
	padding:50px 10px;
	line-height:30px;
	font-size:20px;
	color:#F60;
}
.sidecont .head{
	height:50px;
	line-height:50px;
	position:relative;
	border-bottom:#DDD solid 1px;
	padding-left:40px;
	font-size:18px;
	font-weight:bold;
	color:#666;
}
.sidecont .head:before{
	content:'';
	display:block;
	width:3px;
	height:18px;
	position:absolute;
	background:#1CB29D;
	left:32px;
	top:16px;
}
.sidecont .ListSort{
	padding:10px;
}
.sidecont .ListSort:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	clear:both;
}
.sidecont .ListSort li{
	width:50%;
	height:35px;
	overflow:hidden;
	float:left;
	padding-top:12px;
}
.sidecont .ListSort li a{
	display:block;
	width:90%;
	height:35px;
	text-align:center;
	line-height:35px;
	background:#1CB29D;
	margin:auto;
	font-size:14px;
	color:#FFF;
}
.sidecont .ListSort li a:hover{
	background:#F60;
}
.ListHot li{
	width:320px;
	margin:15px auto 0 auto;
	overflow:hidden;
}
.ListHot li dl dt{
	display:table;
	width:100%;
}
.ListHot li dl dt a{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	background:#FFF;
	height:150px;
}
.ListHot li dl dt a img{
	max-width:350px;
	max-height:300px;
}
.ListHot li dl dd a{
	display:block;
	padding:3px 5px 0 10px;
	line-height:30px;
	height:30px;
	overflow:hidden;
	background:#D6D6D6;
	font-size:14px;
}
.NewestCont{
	margin-top:10px;
}
.NewestCont:after{
	content:'';
	display:block;
	width:100%;
	height:100px;
	clear:both;
}
.NewestCont .head{
	height:35px;
	line-height:35px;
	border-bottom:#1CB29D solid 2px;
	margin-bottom:15px;
}
.NewestCont .head span{
	float:left;
	font-size:20px;
	font-weight:bold;
}
.NewestCont .head a{
	float:right;
	font-size:14px;
}
.NewestCont .list1{
	border-bottom:#DDD solid 1px;
	margin-bottom:15px;
	padding-bottom:15px;
	position:relative;
}
.NewestCont .list1 dl{
	display:table;
	width:100%;
}
.NewestCont .list1 dl dt,.NewestCont .list1 dl dd{
	display:table-cell;
	vertical-align:top;
}
.NewestCont .list1 dl dt{
	width:250px;
	height:200px;
	text-align:center;
	vertical-align:middle;
}
.NewestCont .list1 dl dt img{
	max-width:250px;
	max-height:200px;
}
.NewestCont .list1 dl dd{
	padding:0 0 30px 10px;
}
.NewestCont .list1 dl dd h3 a{
	display:block;
	line-height:25px;
	margin-bottom:5px;
	font-size:16px;
	padding-left:5px;
}
.NewestCont .list1 dl dd h3 a:hover{
	background:#EFEFEF;
}
.NewestCont .list1 dl dd p{
	padding-left:5px;
	font-size:14px;
	line-height:25px;
	color:#666;
}
.NewestCont .list1 div{
	width:100%;
	height:30px;
	line-height:30px;
	position:absolute;
	left:0;
	bottom:15px;
	color:#888;
}
.NewestCont .list1 div span{
	float:left;
	padding-left:265px;
}
.NewestCont .list1 div em{
	float:right;
	padding-left:20px;
	background:url(time.png) left 5px no-repeat;
}
.NewestCont .list2{
	width:50%;
	height:35px;
	line-height:35px;
	overflow:hidden;
	float:left;	
}
.NewestCont .list2 a{
	font-size:14px;
	display:block;
	height:35px;
	overflow:hidden;
	padding-right:5px;
}
.NewestCont .lista a{
	margin-right:50px;
}
.NewestCont .listb a{
	margin-left:50px;
}
.NewestCont .list2 span{
	color:#999;
}
.NewestCont .list2 a:hover{
	background:#369;
	color:#FFF;
	border-radius:5px;
}