
.mainbox {background:#f5f5f5;}
.main {width:1200px; margin:0 auto; clear:both; overflow:hidden;}

.main .guide {height:55px; width:100%; line-height:55px; background:url(guide.png) no-repeat left center;}
.main .guide span {padding-left:15px;}

.main .banner {width:1200px; height:320px; margin-bottom:25px; overflow:hidden;}

.main .content {overflow:hidden; padding:0 5px;}
.main .content .side {width:230px; float:left;}
.main .content .cont {width:940px; float:right;}

.main .content .side .join {width:230px; height:48px; background:#ff8400; text-align:center; line-height:52px;}
.main .content .side .join a {font-size:18px; font-weight:bold; color:#FFFFFF; padding-left:20px; background:url(join.png) no-repeat left center;}
.main .content .side .join:hover {background:#cc6600;}

.main .content .side .cont {margin-top:25px; width:230px; box-shadow: 0 0 6px #cccccc; background:#FFFFFF;}
.main .content .side .cont .shead {width:100%; height:48px; font-size:18px; font-weight:bold; color:#FFFFFF; text-align:center; line-height:48px; background:#22bdf0;}
.main .content .side .cont .navlist {width:100%; padding-top:15px; position:relative;}
.m-list {height:50px; line-height:50px; font-size:15px; padding:0 15px; background:url(side_xuxian.png) no-repeat bottom center;}
.m-list  a {float:left;color:#000;}
.m-list  span {float:right;}
.m-list:hover {background:#f5f5f5; color:#f90;}
.m-list dl{display:none; position:absolute; left:230px; z-index:9999; background:rgba(245,245,245,.9); top:0; padding:10px; width:400px; height:493px; border:1px solid #f5f5f5; box-shadow:3px 1px 8px #dfdfdf;}
.m-list dl dt{float:left; width:100%;}
.m-list dl dt a{color:#f90;}
.m-list dl dt a:hover{color:#f80;}
.m-list dl dd{float:left; padding:5px 8px;}
.m-list dl dd a{display:block;}
.m-list dl dd a:hover{color:#f90;}
.m-list:hover dl{display:block;}

.main .content .cont .add {padding:15px; background:#FFFFFF; overflow:hidden;}
.main .content .cont .add span {background:url(add.png) no-repeat left top; padding-left:25px; width:45px; height:70px; display:block; float:left; margin-top:13px;}
.main .content .cont .add a {width:55px; height:30px; text-align:center; line-height:30px; display:block; float:left; margin:5px;}
.main .content .cont .add a.ck1,.main .content .cont .add a.ck,.main .content .cont .add a:hover {background:#22bdf0; color:#FFFFFF;}
.m-street{float:left; background:#f5f5f5;}
.main .content .cont .text {overflow:hidden; background:#FFFFFF; margin-top:25px;}
.text .textlist {width:100%; border:0; cellspacing:0; cellpadding:0;}
.text .textlist tr { background:url(cont_xuxian.png) no-repeat bottom center;}
.text .textlist tr:hover {background:#f5f5f5;}

.text .textlist tr td {padding:15px;}
.text .textlist .showpic {overflow:hidden;}
.text .textlist .showpic .img{display:table; float:left;width:185px; height:140px;}
.text .textlist .showpic .img a{display:table-cell; width:100%; height:100%; background:#f5f5f5; text-align:center; vertical-align:middle;}
.text .textlist .showpic .img img{max-width:185px; max-height:140px;}
.text .textlist .showpic .word {float:left; width:260px; line-height:30px; color:#666666; padding-left:25px;}
.text .textlist .showpic .word .t {font-size:18px; font-weight:bold; height:60px; width:260px;}
.text .textlist .showpic .word .t .blue {display:block; color:#00b4ef; font-size:15px; font-weight:normal;}
.text .textlist .showpic .word .p{display:table;}
.text .textlist .showpic .word .p span{display:table-cell; height:30px; line-height:30px; vertical-align:middle;}
.text .textlist .showpic .word .r span{display:inline-block; margin:0 5px}

.text .textlist .phone {font-size:18px; font-weight:bold; color:#22c770; background:url(phone.png) no-repeat left center; height:35px; display:block; line-height:35px; padding-left:35px;}

.text .textlist .ewm {border:1px solid #e4e4e4; width:120px; height:120px;}

.text .textlist .last {background:none;}

.content .cont .jump {padding:40px 0 60px 0; text-align:center;}
.content .cont .jump a {padding:15px; background:#FFFFFF; margin:0 5px; font-size:14px;}
.content .cont .jump a:hover{background:#22c770; color:#FFFFFF;}

.footer {background:url(footer.png) no-repeat center center; overflow:hidden; height:339px;}