<!--
<?php
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/wap/coupon.css">
<div class="GuideCont">当前位置：<a href="./">促销首页</a> $GuideFid[$fid]</div>
<div class="SelectList">
	<ul class="ChangeSele">
		<li><a href="javascript:;" id="show_sort">查看类别<em></em></a></li>
	</ul>	
</div>
<div class="ListCoupon">
<!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
	<dl>
		<dt><a href="wapbencandy.php?city_id=$rs[city_id]&fid=$rs[fid]&id=$rs[id]"><img src="$rs[picurl]" onError="this.src='$webdb[www_url]/images/default/nopic.jpg'"/></a></dt>
		<dd>
			<h3><a href="wapbencandy.php?city_id=$rs[city_id]&fid=$rs[fid]&id=$rs[id]">$rs[title]</a></h3>
			<div>市场价格：<strike>￥{$rs[mart_price]}</strike> 促销价格：<span>￥{$rs[price]}</span></div>
			<div>

市场价：<em>{$rs[mart_price]} 元</em> 

促销价：<em>{$rs[price]} 元</em> 
<!---->
				截止日期：<em>{$rs[end_time]}</em> 浏览:<em>{$rs[hits]}次</em> 发布者:<em>{$rs[username]}</em>
			</div>
		</dd>
	</dl>
<!--
EOT;
}
print <<<EOT
-->
	<div class="page">$showpage</div>
</div>
<div class="navbox" id="navbox_sort">
<!--
EOT;
$listSorts="";
foreach($Fid_db[0] AS $key=>$value){
$url=get_info_url('',$key,$city_id);
$ck_class=($key==$fidDB[fup]||$key==$fid)?"class='ck'":"";
$listSorts.="<dl $ck_class>\r\n";
$listSorts.="	<dt><a href=\"$url\">{$value}</a></dt>\r\n";
$listSorts.="	<dd>\r\n";
foreach($Fid_db[$key] AS $keys=>$rs){
$urls=get_info_url('',$keys,$city_id);
$ck_class=($fid==$keys)?"class='ck'":"";
$listSorts.="		<div><a href=\"$urls\" $ck_class>{$rs}</a></div>\r\n";
}
$listSorts.="	</dd>\r\n";
$listSorts.="</dl>\r\n";
}
print <<<EOT
-->
$listSorts
</div>
<div class="fullbg" id="fullbg1"></div>
<script type="text/javascript" src="./images/wap/coupon.js"></script>
<!--
EOT;
?>
-->
