.content_box {
	width:auto;height:1630px;padding-top:30px;
}
.content {
	width:1200px; height:1610px;margin:0 auto;
}
.banner_box {
	width:1200px; height:415px; float:left;
}
.banner_hot {
	width:278px; height:413px;float:left;
	border:1px #CCCCCC solid;
}
.banner_hot dl {
	width:258px; height:393px; float:left;padding:10px; background:#f8f8f8; list-style-type:none;
}
.banner_hot dl dt {
	width:100%; line-height:40px; float:left; border-bottom:2px solid #379be9;
}
.banner_text_hot {
	 line-height:40px; font-size:24px; font-weight:bold; float:left; color:#333333; font-family:"Microsoft YaHei"
}
.banner_text_more {
	float:right; font-size:14px;
}
.banner_hot dl dd li {
	width:100%; height:80px;
	border-top:1px solid #FFFFFF; border-bottom:1px solid #dcdcdc; float:left;
}
.text_list1 {
	 background:url(index_1.jpg) no-repeat left center;
}
.text_list2 {
	 background:url(index_2.jpg) no-repeat left center;
}
.text_list3 {
	 background:url(index_3.jpg) no-repeat left center;
}
.text_list4 {
	 background:url(index_4.jpg) no-repeat left center;
}
.banner_hot dl dd li a {
	font-size:16px; line-height:30px;  font-weight:bold; float:left; margin:15px 0 0 50px;
}
.banner_hot dl dd li p {
	float:left; margin-left:50px; letter-spacing:2px;
}
.original_price {
	font-size:12px;
}
.orange {
	font-size:18px; font-weight:bold;
}


.banner_pictrue {
	width:900px; height:415px; margin-left:20px; float:left;
}

.content_text {
	width:1200px; height:1160px; padding-top:30px; float:left;
}
.content_text_left {
	width:278px; height:976px;float:left;
	border-top:2px solid #379be9;border-bottom:2px solid #999999; border-left:1px #CCCCCC solid; border-right:1px #CCCCCC solid;
}
.content_text_left_top {
	width:278px; height:560px; float:left;
}
.showlist_theme {
	width:278px; height:56px; float:left; text-align:center; line-height:58px; font-size:24px; font-weight:bold;
	background:#f0f0f0; border-top:1px solid #FFFFFF; border-bottom:1px solid #999999;
}
.Menu {
	width:278px; height:auto; float:left; font-size:16px;
}
.Menu dl dt {
	width:278px; line-height:48px; float:left; border-top:1px solid #FFFFFF; border-bottom:1px solid #CCCCCC; background:#f3f3f3;
}
.level_1 {
	background:url(reduce.jpg) no-repeat right center;width:250px; float:left; margin-left:10px; 
}
.level_2 {
	background:url(plus.jpg) no-repeat right center;width:250px; float:left; margin-left:10px; 
}
.Menu dl dd {
	height:300px; border-bottom:1px solid #CCCCCC; float:left;
}
.Menu dl dd a{
	width:268px; line-height:30px; float:left; padding-left:10px;
}
.Menu dl dd a:hover {
	background:#CCCCCC;
}
.content_text_left_footer {
	width:278px; height:428px;
}
.newslist {
	text-align:left;font-size:16px; 
}
.newslist li {
	width:250px; margin:8px 0 0 15px; float:left; line-height:30px; border-bottom:1px dotted #CCCCCC;
}
.newslist li h2 {
	font-weight:normal;
}

.content_text_right {
	width:895px; height:1140px;margin-left:20px; float:left;
}
.text_title {
	width:895px; height:45px; font-size:16px; 
	border-top:2px solid #379be9; border-bottom:1px solid #CCCCCC; float:left; line-height:45px; font-weight:bold;
}
.text_title span {
	width:631px; height:45px; float:left;
}
.title_nav {
	width:264px; height:45px; float:left;
}
.title_nav a {
	width:88px; height:30px; color:#999999;text-align:center; line-height:30px; float:left; margin:7px 0;
}
.title_nav a:hover {
	background:#379be9; color:#FFFFFF;
}

.Showlist_box {
	width:895px; height:950px; float:left; padding-top:30px;
}
.Showlist {
	width:278px; height:278px; float:left; background:#f8f8f8; border:1px solid #CCCCCC; margin:0 0 30px 15px;
}

.Showlist dt{
	width:270px; height:200px; margin:4px; float:left;
}
.store_name {
	font-size:18px; line-height:28px; float:left; margin:0 4px;
}
.Showlist_Price {
	width:270px; height:40px; line-height:40px; float:left; margin:0 4px; text-align:center;
}
.Showlist_Price p {
	width:190px; float:left; background:#ff6600; color:#FFFFFF;
}
.Showlist_Price a {
	width:80px; float:left; background:#ff3300;	color:#CCCCCC;
}
.Showlist_Price a:hover {
	 background:#d72b00; color:#FFFFFF;
}

.Jump_box {
	width:895px; height:40px; float:left;
}
.Jump_nav {
	width:630px; float:left;padding-left:145px; padding-right:120px;
}
.Jump_nav a{
	width:auto; height:14px; float:left; text-align:center; padding:13px; background:#efefef; margin:0 2px; font-size:16px;
}
.Jump_nav a:hover {
	background:#0067b4; color:#FFFFFF;
}
.bottom_box {
	width:auto; height:300px; background:url(fbg.jpg) repeat-x;
}
.bottom {
	width:1200px; height:280px; margin:0 auto; padding-top:20px;
}
.callme {
	width:170px; height:222px; float:left;
}
.callme li{
	line-height:40px; font-size:16px; font-weight:bold; color:#FFFFFF;
}
.the_phone {
	background:url(../images/phone.jpg) no-repeat left center; padding-left:40px;
}
.callme li .orange {
	font-style:oblique;
}
.partner {
	width:600px; height:222px; float:left; margin:0 15px;
}
.partner li {
	width:85px; height:222px; float:left; text-align:center; font-size:16px; color:#FFFFFF; padding-left:65px; font-weight:bold;
}
.partner_theme {
	float:left; line-height:60px; width:100%;
}
.partner li a {
	float:left; width:100%; line-height:30px; font-size:14px; color:#CCCCCC;
}
.partner li a:hover {
	color:#CC6633;
}
.ewm {
	width:400px; height:222px; float:left;
}
.ewm li {
	width:130px; height:222px; float:right; text-align:center; color:#CCCCCC; margin-left:40px;
}
.ewm li span {
	float:left; width:100%; line-height:40px;
}
.banquan {
	float:left; line-height:58px; width:1200px; text-align:center; color:#CCCCCC; font-size:16px;
}
.banquan a{
	color:#CCCCCC; font-size:16px;
}
.banquan a:hover{
	color:#FF6600; text-decoration:underline;
}