.TopContainer{
	width:100%;
	height:150px;
	position:relative;
	overflow:hidden;
}
.TopContainer:before{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	top:30px;
	background:#E5E7E9;
}
.TopContainer .Infos{
	width:1200px;
	height:30px;
	overflow:hidden;
	margin:auto;
	position:relative;
	line-height:30px;
	font-size:14px;
	color:#888;
}
.TopContainer .Infos .Citys{
	float:left;
}
.TopContainer .Infos .Citys span{
	color:#FF6458;
}
.TopContainer .Infos .Citys a{
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	border:8px solid transparent;
	border-top: 8px solid #787878;
	border-bottom:0;
	margin-left:5px;
}
.TopContainer .Infos .times{
	float:right;	
}
.TopContainer .Infos .times a{
	display:inline-block;
	padding:0 10px 0 2px;
	color:#369;
}
.TopContainer .Infos .times em{
	color:green;
}
.TopContainer .LogoMenu{
	width:900px;
	height:110px;
	padding-left:300px;
	overflow:hidden;
	margin:auto;
	position:relative;
}
.TopContainer .LogoMenu:before,.TopContainer .LogoMenu:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
}
.TopContainer .LogoMenu:before{
	bottom:1px;
	background:#09F;
}
.TopContainer .LogoMenu:after{
	bottom:0px;
	background:#0064CA;
}
.TopContainer .LogoMenu .logo{
	width:300px;
	height:100px;
	overflow:hidden;
	position:absolute;
	left:0;
	top:5px;
	line-height:100px;
}
.TopContainer .LogoMenu .logo img{
	max-width:300px;
	max-height:100px;
}
.TopContainer .LogoMenu .logo a{
	display:table;
}
.TopContainer .LogoMenu .logo a span{
	display:table-cell;
	height:100px;
	vertical-align:middle;
}
.TopContainer .LogoMenu .MainMenus{
	width:900px;
	height:110px;
	overflow:hidden;
	position:relative;
}
.ListMenuBox{
	width:770px;
	height:85px;
	overflow:hidden;
	margin:12px auto;
	position:relative;
}
.MenuContent{
	width:1000000px;
	height:85px;
	position:absolute;
	left:0;
	top:0;
	overflow:hidden;
}
.MenuContent dl{
	width:110px;
	height:85px;
	overflow:hidden;
	float:left;
}
.MenuContent dl dt span{
	display:block;
	width:85px;
	height:35px;
	line-height:35px;
	padding-top:50px;
	overflow:hidden;
	margin:auto;
	text-align:center;
	font-size:14px;
	background:url(mbase.png) center 12px no-repeat;
	cursor:pointer;
}
.changemenu dt,.changemenu dd{
	width:35px;
	height:35px;
	position:absolute;
	top:40px;
	cursor:pointer;
}
.changemenu dt{
	left:10px;
	background:url(prev0.png) center top no-repeat;
}
.changemenu dt.ck{
	background:url(prev1.png) center top no-repeat;
}
.changemenu dd{
	right:10px;
	background:url(next0.png) center top no-repeat;
}
.changemenu dd.ck{
	background:url(next1.png) center top no-repeat;
}
.MenuContent dl dt.ck{
	background:url(menubg.png) center top no-repeat;
	color:#FFE0D6;
}
.MenuContent dl dt.ck span{
	background:url(mbase1.png) center 12px no-repeat;
}
.MenuContent dl.m_base dt span{
	background:url(m_base.png) center 12px no-repeat;
}
.MenuContent dl.m_base dt.ck span{
	background:url(m_base1.png) center 12px no-repeat;
}
.MenuContent dl.m_a_d dt span{
	background:url(m_a_d.png) center 18px no-repeat;
}
.MenuContent dl.m_a_d dt.ck span{
	background:url(m_a_d1.png) center 18px no-repeat;
}
.MenuContent dl.m_other dt span{
	background:url(m_other.png) center 12px no-repeat;
}
.MenuContent dl.m_other dt.ck span{
	background:url(m_other1.png) center 12px no-repeat;
}
.MenuContent dl.m_hotel dt span{
	background:url(m_hotel.png) center 12px no-repeat;
}
.MenuContent dl.m_hotel dt.ck span{
	background:url(m_hotel1.png) center 12px no-repeat;
}
.MenuContent dl.m_news dt span{
	background:url(m_news.png) center 12px no-repeat;
}
.MenuContent dl.m_news dt.ck span{
	background:url(m_news1.png) center 12px no-repeat;
}
.MenuContent dl.m_wei dt span{
	background:url(m_wei.png) center 12px no-repeat;
}
.MenuContent dl.m_wei dt.ck span{
	background:url(m_wei1.png) center 12px no-repeat;
}
.MenuContent dl.m_hy dt span{
	background:url(m_hy.png) center 12px no-repeat;
}
.MenuContent dl.m_hy dt.ck span{
	background:url(m_hy1.png) center 12px no-repeat;
}
.MenuContent dl.m_hack dt span{
	background:url(m_hack.png) center 12px no-repeat;
}
.MenuContent dl.m_hack dt.ck span{
	background:url(m_hack1.png) center 12px no-repeat;
}
.MenuContent dl.m_f dt span{
	background:url(m_f.png) center 12px no-repeat;
}
.MenuContent dl.m_f dt.ck span{
	background:url(m_f1.png) center 12px no-repeat;
}
.MenuContent dl.m_shop dt span{
	background:url(m_shop.png) center 12px no-repeat;
}
.MenuContent dl.m_shop dt.ck span{
	background:url(m_shop1.png) center 12px no-repeat;
}
.MenuContent dl.m_tg dt span{
	background:url(m_tg.png) center 12px no-repeat;
}
.MenuContent dl.m_tg dt.ck span{
	background:url(m_tg1.png) center 12px no-repeat;
}
.MenuContent dl.m_dianping dt span{
	background:url(m_dianping.png) center 12px no-repeat;
}
.MenuContent dl.m_dianping dt.ck span{
	background:url(m_dianping1.png) center 12px no-repeat;
}
.MenuContent dl.m_2shou dt span{
	background:url(m_2shou.png) center 18px no-repeat;
}
.MenuContent dl.m_2shou dt.ck span{
	background:url(m_2shou1.png) center 18px no-repeat;
}
.MenuContent dl.m_house dt span{
	background:url(m_house.png) center 12px no-repeat;
}
.MenuContent dl.m_house dt.ck span{
	background:url(m_house1.png) center 12px no-repeat;
}
.MenuContent dl.m_a_d dt span{
	background:url(m_a_d.png) center 12px no-repeat;
}
.MenuContent dl.m_a_d dt.ck span{
	background:url(m_a_d1.png) center 12px no-repeat;
}
.MenuContent dl.m_guestbook dt span{
	background:url(m_guestbook.png) center 12px no-repeat;
}
.MenuContent dl.m_guestbook dt.ck span{
	background:url(m_guestbook1.png) center 12px no-repeat;
}
.MenuContent dl.m_bbs dt span{
	background:url(m_bbs.png) center 22px no-repeat;
}
.MenuContent dl.m_bbs dt.ck span{
	background:url(m_bbs1.png) center 22px no-repeat;
}
.MenuContent dl.m_gift dt span{
	background:url(m_gift.png) center 12px no-repeat;
}
.MenuContent dl.m_gift dt.ck span{
	background:url(m_gift1.png) center 12px no-repeat;
}
.MenuContent dl.m_hr dt span{
	background:url(m_hr.png) center 12px no-repeat;
}
.MenuContent dl.m_hr dt.ck span{
	background:url(m_hr1.png) center 12px no-repeat;
}
.MenuContent dl.m_shoptg dt span{
	background:url(m_shoptg.png) center 12px no-repeat;
}
.MenuContent dl.m_shoptg dt.ck span{
	background:url(m_shoptg1.png) center 12px no-repeat;
}
.MenuContent dl.m_fuwu dt span{
	background:url(m_fuwu.png) center 12px no-repeat;
}
.MenuContent dl.m_fuwu dt.ck span{
	background:url(m_fuwu1.png) center 12px no-repeat;
}

.MenuContent dl.m_vote dt span{
	background:url(m_vote.png) center 18px no-repeat;
}
.MenuContent dl.m_vote dt.ck span{
	background:url(m_vote1.png) center 18px no-repeat;
}

.MenuContent dl.m_waimai dt span{
	background:url(m_waimai.png) center 20px no-repeat;
}
.MenuContent dl.m_waimai dt.ck span{
	background:url(m_waimai1.png) center 20px no-repeat;
}

.MenuContent dl.m_form dt span{
	background:url(m_form.png) center 12px no-repeat;
}
.MenuContent dl.m_form dt.ck span{
	background:url(m_form1.png) center 12px no-repeat;
}

.MenuContent dl.m_coupon dt span{
	background:url(m_coupon.png) center 12px no-repeat;
}
.MenuContent dl.m_coupon dt.ck span{
	background:url(m_coupon1.png) center 12px no-repeat;
}

.MenuContent dl.m_zhuangxiu dt span{
	background:url(m_zhuangxiu.png) center 12px no-repeat;
}
.MenuContent dl.m_zhuangxiu dt.ck span{
	background:url(m_zhuangxiu1.png) center 12px no-repeat;
}
/****/
.MainContainer{
	width:1200px;
	margin:auto;
	position:relative;
}
.MainContainer:after{
	content:'';
	display:block;
	height:1px;
	width:100%;
	clear:both;
}
.MainContainer .LeftCont{
	width:250px;
	float:left;
	overflow-Y:auto;
	overflow-X:hidden;
}
.MainContainer .RightCont{
	width:940px;
	float:right;	
}
.MainContainer .RightCont iframe{
	width:100%;
	height:100%;
}
.members{
	width:99%;
	height:210px;
	background:url(memberbg.png) no-repeat;
	background-size:100% 230px;
	padding-top:20px;
	color:#FFF;
	position:relative;
}
.members .icon{
	width:90px;
	height:90px;
	overflow:hidden;
	margin:auto;
	background:#c4dde9;
	border-radius:45px;
}
.members .icon img{
	max-width:90px;
	max-height:90px;
	vertical-align:middle;
}
.members .icon a{
	display:tablel;
	width:100%;
}
.members .icon a span{
	display:table-cell;
	width:90px;
	height:90px;
	text-align:center;
	vertical-align:middle;
}
.members .username a{
	display:block;
	text-align:center;
	color:#FFF;
	font-size:16px;
	padding:5px 10px 0 10px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	margin-bottom:5px;
}
.members .companyer{
	width:100px;
	height:25px;
	line-height:25px;
	text-align:center;	
	color:#FFF;
	margin:auto;	
	border-radius:5px;
	position:relative;
	overflow:hidden;
}
.members .companyer:before{
	content:'';
	display:block;
	width:100%;
	height:100%;
	background:#165DCA;
	filter:alpha(opacity=50);
	opacity:0.5;
	position:absolute;
	left:0;
	top:0;
}
.members .companyer span{
	display:block;
	position:relative;
}
.members .moneys{
	width:100%;
	height:45px;
	overflow:hidden;
	position:absolute;
	left:0;
	bottom:0;
}
.members .moneys:before{
	content:'';
	display:block;
	width:100%;
	height:100%;
	background:#5F639B;
	filter:alpha(opacity=50);
	opacity:0.5;
	position:absolute;
	left:0;
	top:0;
}
.members .moneys div{
	position:relative;
	text-align:center;
	line-height:45px;
	position:0 5px;
	color:#FFF;
	word-spacing:5px;
}
.LoginAct{
	width:99%;
	height:40px;
	overflow:hidden;
	margin-top:15px;
}
.LoginAct dt,.LoginAct dd{
	width:48%;
	text-align:center;
	line-height:40px;
	background:#B8B5B4;
	float:left;
	border-radius:5px;
}
.LoginAct dd{
	float:right;
	background:#FC8353;
}
.LoginAct a{
	display:inline-block;
	color:#EEE;
	font-size:14px;
	padding-left:25px;
}
.LoginAct dt a{
	background:url(quit.png) left 10px no-repeat;
}
.LoginAct dd a{
	background:url(member.png) left 10px no-repeat;
}
.LeftMenus{
	width:99%;
	padding-top:1px;
}
.LeftMenus ul{
	border:#D5DFFF solid 1px;
	margin-top:15px;
	position:relative;
	padding-top:50px;
	padding-bottom:2px;
}
.LeftMenus ul ol{
	border-top:#FFF solid 1px;
	height:50px;
	width:100%;
	background:#F1F1F1;
	position:absolute;
	line-height:50px;
	text-indent:60px;
	font-size:18px;
	color:#666;
	left:0;
	top:0;
	z-index:10;
}
.LeftMenus ul ol:before,.LeftMenus ul ol:after{
	content:'';
	display:block;
	position:absolute;
}
.LeftMenus ul ol:before{
	width:5px;
	height:20px;
	background:#CCC;
	border-radius:2px;
	left:40px;
	top:15px;
}
.LeftMenus ul ol:after{
	width:0;
	height:0;
	border:8px solid transparent;
	border-top: 8px solid #CCC;
	border-bottom:0;
	right:15px;
	top:20px;
}
.LeftMenus ul li{
	height:50px;
	line-height:50px;
	margin:0 10px;
	overflow:hidden;
	border-top:#DEDEDE dotted 1px;
	position:relative;
}
.LeftMenus ul li a{
	display:block;
	text-indent:60px;
	font-size:14px;
	color:#888;
	position:relative;
	margin-top:1px;
}
.LeftMenus ul li a:before{
	content:'';
	display:block;
	width:8px;
	height:8px;
	background:#CCC;
	border-radius:2px;
	position:absolute;
	left:40px;
	top:22px;
}
.LeftMenus ul li:hover a{
	background:#F9F9F9;
	color:#F30;
}
.LeftMenus ul li:hover a:before{
	background:#F30;
}
.LeftMenus ul li.ck a{
	color:#F63;
}
.LeftMenus ul li.ck a:before{
	background:#F90;
}