<!--
<?php
print <<<EOT
-->  
<form name="form1" method="post" action="index.php?lfj=limitword&action=$job">
<div class="MainContainers">
  <div class="Conter">
    <table class="FormTable">

    <tr> 
      <td class='tdL'>原字符</td>
      <td class='tdR'> 
        <input type="text" name="oldword" size="40" value="$rsdb[oldword]">
      </td>
    </tr>
    <tr>
      <td class='tdL'>欲替换成新字符</td>
      <td class='tdR'> 
        <input type="text" name="newword" size="40" value="$rsdb[newword]">
      </td>
  </tr>
  </table>
  <div class='submits'>
     <input type="hidden" name="id" value="$id">
      <input type="submit" name="Submit2" value="提 交">
  </div>
</div>
</div>
</form>
  <!--
EOT;
?>
-->