<!--
<?php
print<<<EOT
-->
<div class="MainContainers">
	<div class="Header"><span class="tag">创建省</span><span class="more">&gt;&gt;</span></div>
	<div class="Conter">	
<form action="$admin_path&action=addsort" method=POST>
        <table class="FormTable">
          <tr>
            <td class="tdL">名称</td>
            <td class="tdR">
              <input type=text name="name" size=30>
            </td>
          </tr>
          <tr style="display:none;">
            <td class="tdL">所属<span class=bold>区域</span></td>
            <td class="tdR">{$sort_fup}(不选择将成为一级分类)</td>
          </tr>
        </table>
		<div class="submits"><input type=submit value="创 建" name="submit"></div>
</form>
	</div>
</div>
 
<form name="formlist" method="post" action="$admin_path&action=editlist">
<div class="MainContainers">
	<div class="Header"><span class="tag">地域/省份管理</span><span class="more">&gt;&gt;</span></div>
	<div class="Conter">
	<div class="WarrIngs">注意:排序的规则是,数值大的排在前面,只能是同一级的进行排序</div>
    <table class="ListTable">
	<tr> 
        <th width="6%">FID</th>
        <th width="38%">名称</th>
        <th width="6%">排序值</th>
        <th width="12%">城市数目</th>
        <th width="24%">城市管理</th>
        <th width="7%">设置</th>
        <th width="7%">删除</th>
    </tr>
<!--
EOT;
foreach($sortdb AS $key=>$rs){
print <<<EOT
-->
    <tr> 
      <td class="b red">$rs[fid]</td>
      <td class="Left">$rs[icon]【{$rs[name]}】</td>
      <td><input type='text' name='order[{$rs[fid]}]' value='$rs[list]' size='5'></td>
      <td>$rs[num]</td>
      <td><a href="$admin_path&job=city&fup=$rs[fid]">创建及管理城市</a></td>
      <td><a href='$admin_path&job=editsort&fid=$rs[fid]' class="edit">修改</a></td>
      <td><a href="$admin_path&action=delete&fid=$rs[fid]" onclick="return confirm('你确实要删除吗?不可恢复');" class="del">删除</a></td>
    </tr>
<!--
EOT;
}
print <<<EOT
-->
</table>
<div class="submits"><input type="submit" name="Submit2" value="修改排序" onclick="postlist('list')"></div>
</div>
</div>
</form>
<!--
EOT;
?>
-->
