<!--
<?php
print <<<EOT
--> 
<script type="text/javascript" src="$webdb[www_url]/ewebeditor/ckeditor/ckeditor.js"></script>
<script src="$webdb[www_url]/images/default/setday.js"></script>
<script>
function upfile(url,name,size,ty){
	document.getElementById("atc_pic").value=url;
}
</script>
<div class="MainCont">
	<div class="head"><div class="tag">$fidDB[name]</div></div>
    <div class="cont">
    	<form name="FORM" id="FORM" method="post" action="post.php?action=$atc"  enctype="multipart/form-data">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0" class="FormTable">
          <tr>
            <th colspan="2">基本资料</th>
          </tr>
          <tr>
            <td class="tdL"><font color="red">*</font> 服务名称:</td>
            <td class="tdR"><input type="text" name="postdb[title]" id="atc_title" size="40" value="$rsdb[title]"></td>
          </tr>
<!--
EOT;
if($job!="edit"&&!$web_admin){
print <<<EOT
-->
          <tr>
            <td class="tdL"><font color="red">*</font> 验证码:</td>
            <td class="tdR">
            	<input id="yzImgNum" type="text" name="yzimg" size="8">
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<img border="0" name="imageField" onclick="this.src=this.src+Math.random();" src="$webdb[www_url]/do/yzimg.php?'+Math.random()+'">');
//-->
</SCRIPT>
            </td>
          </tr>
<!--
EOT;
}if(count($city_DB[name])>1){
print <<<EOT
-->
          <tr>
            <td class="tdL">所在城市:</td>
            <td class="tdR">
            	<select name="postdb[city_id]"><option value='0'>全国</option>
<!--
EOT;
foreach($city_DB[name] AS $key=>$value){
if($job=='edit'){
	$city_id=$rsdb[city_id];
}
$ckk=$city_id==$key?'selected':'';
print <<<EOT
-->
                      <option value="$key" $ckk>$value</option>
<!--
EOT;
}
print <<<EOT
-->
                 </select>
            </td>
          </tr>
<!--
EOT;
}
print <<<EOT
-->
          <tr>
            <td class="tdL">介绍图:</td>
            <td class="tdR">
            	<div style="float:left;"><input type="text" name="postdb[picurl]" id="atc_pic" size="40" value="$rsdb[picurl]"></div>
                <div style="float:left;padding-left:5px;"><iframe frameborder=0 height=23 scrolling=no src='$webdb[www_url]/do/upfile.php?fn=upfile&dir=$_pre/$fid' width="310"></iframe></div>
            </td>
          </tr>

          <tr> 
            <td class="tdL">联系人:<span></span></td>
            <td class="tdR"> <input   type='text' name='postdb[linkman]' id='atc_linkman' style='width:100px;' value='$rsdb[linkman]'> </td>
          </tr>

          <tr> 
            <td class="tdL">联系电话:<span></span></td>
            <td class="tdR"> <input   type='text' name='postdb[telphone]' id='atc_telphone' style='width:100px;' value='$rsdb[telphone]'> </td>
          </tr>
          <tr> 
            <td class="tdL">联系QQ:<span></span></td>
            <td class="tdR"> <input   type='text' name='postdb[qq]' id='atc_qq' style='width:100px;' value='$rsdb[qq]'> </td>
          </tr>
          <tr> 
            <td class="tdL">收费标准:<span></span></td>
            <td class="tdR"> <input   type='text' name='postdb[moneytype]' id='atc_moneytype' style='width:100px;' value='$rsdb[moneytype]'> </td>
          </tr>

          <tr> 
            <td class="tdL">服务时间:<span></span></td>
            <td class="tdR"> <input   type='text' name='postdb[servetime]' id='atc_servetime' style='width:100px;' value='$rsdb[servetime]'> </td>
          </tr>

          <tr> 
            <td class="tdL">商家介绍:<span></span></td>
            <td class="tdR"><script type='text/javascript'>loadBaiduEditorJs();</script>
			<textarea name='postdb[content]' id='atc_content' style='width:700px;'>$rsdb[content]</textarea> 
			<script type='text/javascript'>				
			var editor_content = new baidu.editor.ui.Editor({minFrameHeight:250});
				editor_content.render( 'atc_content' );
			</script></td>
          </tr>
<!---->
          <tr>
            <td class="tdL">地图位置:</td>
            <td class="tdR">
            	<input type="text" name="postdb[gg_maps]" id="mapid" size="40" value="$rsdb[gg_maps]" readonly  onclick="window.open('$webdb[www_url]/hy/job.php?job=ggmap_position&position=$rsdb[gg_maps]&mapid=mapid&cityid='+document.getElementById('mapid_v').value);">
(<img src="$webdb[www_url]/images/default/icon_qi.gif"><a onclick="window.open('$webdb[www_url]/hy/job.php?job=ggmap_position&position=$rsdb[gg_maps]&mapid=mapid&cityid='+document.getElementById('mapid_v').value);" href="#" >点击标注地图位置</a> 
<font color="#999999">标注后，店铺将定位到电子地图上</font>) (<A onclick="document.getElementById('mapid').value='';" HREF="#">清除</A>) 
<input type="hidden" name="hiddenField" id="mapid_v" value="$city_id">
            </td>
          </tr>
          <tr>
            <td class="tdL"><br/></td>
            <td class="tdR">
            	<input type="submit" name="Submit" value="提 交">
                <input type="hidden" name="fid" value="$fid">
                <input type="hidden" name="id" value="$id">
            </td>
          </tr>
        </table>
        </form>
    </div>
</div> 
<!--
EOT;
?>
-->
