.cross {
	text-decoration:line-through; color:#666666;
} 
.Kern5 {
	letter-spacing:5px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.red {
	color:#ff3300;
}

.danqian_weizhi{margin-left:auto;margin-right:auto;width:1200px;line-height:46px;margin-top:26px;background-color:rgba(236,236,236,0.6); border-bottom:solid #CCC 1px;}
.danqian_weizhi span{margin-left:10px;}
.main{width:1200px;margin-left:auto;margin-right:auto;margin-top:26px; overflow:hidden;}

.main_left{float:left;width:860px;}
.Product_infor{float:left;width:100%;border:solid #CCC 1px}
.Product_infor .product_title{line-height:46px;background-color:rgba(236,236,236,0.6); border-bottom:solid #CCC 1px; font-size:18px;}
.product_title span{padding-left:30px;padding-right:30px;background-color:#FFFFFF;padding-top:10px;padding-bottom:12px;border-right:solid #CCC 1px;}
.product_title a{float:right;background:url(list_fabu.png) no-repeat center left;color:#FC9602; padding-left:20px;margin-right:10px;}
.Product_infor .product_smal_title{float:left;line-height:26px;width:100%;margin-top:12px;}
.product_smal_title span{ color:rgba(153,153,153,1);float:left;margin-left:12px;}
.product_smal_title a{float:right;margin-right:18px;}
.Product_infor .product_photo{float:left;margin-top:32px;width:100%;}
.product_right {float:right;margin-left:20px;line-height:32px;width:388px;}
.product_right .ctrl{float:left;margin-top:24px;}
.ctrl a{border-radius:4px;margin-right:10px;font-size:16px; color:#FFFFFF;line-height:46px; float:left; padding-left:16px;padding-right:16px;}
.product_right .ctrl_01{background-color:#cccccc;}
.product_right .ctrl_02{background-color:#4fa3f6;margin-left:30px;}
.product_right .ctrl_03{background-color:#4fa3f6;}
.product_jieshao{float:left;}
.product_right .product_jieshao dt a{ font-size:18px;}

.introduction{width:100%;float:left;border:solid #CCC 1px;margin-top:26px;}
.introduction .introduction_title{line-height:46px;background-color:rgba(236,236,236,0.6); border-bottom:solid #CCC 1px; font-size:18px;}
.introduction .introduction_title span{padding-left:30px;padding-right:30px;background-color:#FFFFFF;padding-top:10px;padding-bottom:12px;border-right:solid #CCC 1px;}
.introduction .introduction_jieshao{line-height:36px;margin:18px 10px;padding:10px 10px;}
.introduction .introduction_img{float:left;margin:20px 20px;}

.contact_box{width:100%;float:left;border:solid #CCC 1px;margin-top:12px;margin-bottom:26px;}
.contact_box .contact_title{width:100%;line-height:46px;background-color:rgba(236,236,236,0.6); border-bottom:solid #CCC 1px; font-size:18px;}
.contact_box .contact_title span{margin-left:10px;}
.contact_box .contact_left{line-height:32px;float:left;}
.contact_box .contact_list01{line-height:46px;float:left;}
.contact_box .contact_list span{padding-left:10px; display:inline-block;}
.contact_box .contact_list01 a{float:left;padding-left:22px;border:#CCC 1px solid;background:url(wangwang.png) no-repeat 25% 50%;margin-left:22px; border-radius:4px;padding-right:22px;line-height:26px; text-indent:26px;margin-top:10px;}
.contact_box .contact_list02{float:left;margin-left:12px;}
.contact_box .contact_left .contact_list02 span{float:left;}
.contact_box .contact_left .contact_list02 a{float:left;color:#03F;margin-left:32px;}
.contact_box .contact_left .contact_list03{float:left;margin-left:12px;}
.contact_box .contact_left .contact_list03 span{float:left;}
.contact_box .contact_left .contact_list03 a{color:#03F;float:left;}
.contact_box .contact_list{}
.contact_box .contact_midell{width:92%; border-bottom:#CCC solid 1px;float:left;margin-left:10px;margin-top:22px;margin-bottom:22px;}
.contact_box .contact_right{float:left;line-height:36px;}
.contact_box .contact_right h1{float:left;padding-left:26px;background:url(ti_shi.png) no-repeat center left;margin-left:10px;font-size:18px;}
.contact_box .contact_right p{ float:left;text-indent:32px; color:#ff6633;margin:6px 6px;}


.main_right{float:left;width:290px;margin-left:28px;}
.main_right .ctrl2{width:100%;float:left;padding:10px 10px;background:rgba(245,245,245,0.8);}
.main_right .ctrl2 .ctrl2_01{width:47%;line-height:46px;background:#4ec7cf; border-radius:6px;float:left;}
.main_right .ctrl2 .ctrl2_01 span{line-height:46px; padding-left:18px; background:url(fabu.png) no-repeat center left;color:#FFF;margin-left:8%;}
.main_right .ctrl2 .ctrl2_02{width:47%;line-height:46px;background:#ff999a; border-radius:6px;float:right;margin-left:10px;}
.main_right .ctrl2 .ctrl2_02 span{line-height:46px; padding:4px 22px; color:#FFF;margin-left:15%; background:url(guanli.png) no-repeat center left;}
.main_right .ctrl2 .ctrl2_03{width:47%;line-height:46px;background:#a8be3f; border-radius:6px;float:left;margin-top:10px}
.main_right .ctrl2 .ctrl2_03 span{line-height:46px; padding-left:16px; color:#FFF;margin-left:10%;background:url(xiugai.png) no-repeat center left;}
.main_right .ctrl2 .ctrl2_04{width:47%;line-height:46px;background:#e3954a; border-radius:6px;float:right;margin-left:10px;margin-top:10px}
.main_right .ctrl2 .ctrl2_04 span{line-height:46px; padding-left:20px; color:#FFF;margin-left:15%; background:url(renzhen.png) no-repeat center left;}
.main_right .fabu_ren{line-height:46px;float:left;width:90%;margin:10px 10px;border-bottom:1px solid rgba(215,214,214,0.5);border-top:1px solid #5A98ED;}
.main_right .fabu_ren span{float:left;line-height:46px;border-bottom:2px solid #F9A913;}

.main_right .ctrl2 .line_box{width:100%; height:1px;background:#CCC;float:left;margin:10px auto;}
.main_right .ctrl2 .xinxi{float:left;}
.main_right .xinxi a img{float:left; margin-bottom:28px;margin-right:12px;margin-top:12px;}
.main_right .xinxi .xinxi_neiron{width:180px;float:right;}
.main_right .all_xinxi{line-height:42px;border-bottom:1px solid rgba(193,191,191,0.5);margin-bottom:20px;float:left;width:100%; text-align:center;}
.main_right .all_xinxi a{color:#244EED;}
.main_right .fufei_tuiguang{width:100%;float:left;margin-top:20px;}
.main_right .fufei_tuiguang .fufei_tuiguang_box{float:left;width:100%;font-size:18px;border-bottom:1px solid rgba(193,191,191,0.5);margin-bottom:14px;}
.main_right .fufei_tuiguang .fufei_tuiguang_box span{float:left;padding-right:22px;border-bottom:#f9a913 solid 2px;line-height:36px;}
.main_right .fufei_tuiguang .fufei_tuiguang_list{line-height:32px;}
.main_right .fufei_tuiguang .fufei_tuiguang_list em{float:left;padding-left:6px;padding-right:6px;background:url(fanxin--lvse.png) no-repeat center left;color:#FFFFFF}
.main_right .map{float:left; overflow:hidden; border:1px solid #dfdfdf;}
.main_right .map .head{height:40px; line-height:40px; background:#ececec; border-bottom:1px solid #dfdfdf;}
.main_right .map .head span{display:block; padding-left:15px;}
.main_right .map .cont{padding:10px;}
.banner_samll{overflow:hidden; width:100%;}

.column{width:1200px;margin-left:auto;margin-right:auto;margin-top:26px; overflow:hidden;}
.column_left{float:left;width:578px; border:solid #CCC 1px;}
.column_left .column_left_title{line-height:46px;background-color:rgba(236,236,236,0.6); border-bottom:solid #CCC 1px; font-size:18px;}
.column_left .column_left_title span{padding-left:30px;padding-right:30px;background-color:#FFFFFF;padding-top:10px;padding-bottom:12px;border-right:solid #CCC 1px;}
.column_left .column_list{width:94%; border-bottom:rgba(255,0,0,0.4) dashed 1px;margin-left:12px;float:left;margin-top:18px;}
.column_left .column_list img{float:left;margin:10px 10px;}
.column_left .column_list .column_list_neiron{float:left;margin-bottom:22px;}
.column_left .column_list .column_list_neiron span{line-height:32px;}
.column_left .column_list .column_list_neiron p{line-height:32px;}
.column_left .column_list .column_list_neiron a{float:left;margin-right:38px;}
.column_left .column_list .column_list_neiron em{color:red;}
.column_left .more{float:left;width:100%;line-height:46px;}
.column_left .more a{float:left;padding-left:30px;padding-right:30px;background-color:rgba(0,102,255,0.8);color:#FFF;margin-left:200px;margin-top:22px;margin-bottom:22px;}
#comment .no_comment{padding:10px; text-align:center; line-height:50px; color:#f90; font-size:20px; font-weight:600;}


.column_right{width:590px;float:right;border:solid #CCC 1px;}
.column_right .column_right_title{line-height:46px;background-color:rgba(236,236,236,0.6); border-bottom:solid #CCC 1px; font-size:18px;}
.column_right .column_right_title span{padding-left:30px;padding-right:30px;background-color:#FFFFFF;padding-top:10px;padding-bottom:12px;border-right:solid #CCC 1px;}
.column_right .input_div{float:left;margin-top:26px;margin-left:12px;}
.column_right .input_div div{float:left;line-height:26px;}
.column_right .input-box{float:left;width:460px;height:300px;border:#CCC solid 1px;}
.column_right .submit_box{float:left;margin-left:190px;margin-top:22px;margin-bottom:22px;}
#comment_submit{background:#F93;color:#FFF; cursor:pointer; border:0; height:40px; line-height:40px; width:80px; text-align:center;}

/* m-pic */
.product_left{width:426px; margin-left:20px; float:left;}
.product_left .pic{width:420px; height:310px; border:1px solid #dfdfdf; padding:2px; text-align:center; display:block;}
.product_left .pic{width:420px; top:2px; left:2px; text-align:center;}
.product_left .pic img{height:310px; max-width:420px;}
.list_photo{width:420px; overflow:hidden; position:relative; padding:2px; border:1px solid #dfdfdf; margin:10px 0;}
.list_photo .smallPicul{width:9999px; position:absolute;}
.list_photo .smallPicul li{float:left; width:97px; height:95px; margin-right:10px;}
.list_photo .smallPicul li.choose{height:93px; border: 1px solid #ff9900;}
.list_photo .smallPicul li.choose img{height:93px;}
.list_photo .smallPicul li img{width:97px; height:95px;}
.list_photo .prev,.list_photo .next{float:left; width:20px; font-size:20px; line-height:97px; background:#1aa4ed; text-align:center; color:#fff; cursor:pointer;}
.list_photo .next{float:right;}
.list_photo .piclists{position:absolute; left:25px; top:2px; width:370px; height:95px; overflow:hidden;}
/* 点评模型样式*/
.dp_box {border:1px solid #dfdede; float:left; width:1198px; font-size:16px; margin-bottom:50px;}
.look {padding:15px; float:left;}
.dp_box .head {height:50px; width:100%; background:#ececec; border-bottom:1px solid #dfdede; font-size:16px; font-weight:bold; color:#333333;;}
.dp_box .head .tag {float:left; height:50px;}
.dp_box .head .tag span {padding-left:30px; float:left; line-height:50px;}
#comment .commentCont{overflow:hidden;}
#comment .img {width:115px; padding:0 15px 15px 0; float:left;}
.img .t{display:block; width:114px; height:119px;}
.img .t img{width:100%; height:100%;}
.name {width:100%; text-align:center; line-height:40px; color:#666666;}
.gmf {width:125px; height:35px; float:left; background:#21aaf3; text-align:center; line-height:35px; color:#FFFFFF;}
.img a:hover {color:#FFF; background:#0f89ca; text-decoration:none;}
.dp {float:left; color:#666; overflow:hidden;}
.dp img {padding-bottom:5px;}
.look_text {width:1020px; height:atuo; border-top:1px dotted #CCCCCC; border-bottom:1px dotted #CCCCCC; margin-top:15px; line-height:30px; text-indent:2em; float:left;}
.t2 {float:left; padding:25px 0;}
.t3 {with:50%; float:right; font-size:15px; color:#666666;}
.write {width:100%; background:#f9f9f9; float:left; border-top:1px solid #CCCCCC; line-height:50px;}
.tdl {text-align:right; width:10%;}
.tdr {width:70%;}
#comment_submit {width:120px; height:40px; text-align:center; line-height:40px; margin:0 auto;background:#21aaf3; color:#FFF; border:none; font-size:16px; font-weight:bold; display:block;}
#comment_submit:hover {background:#1b8cc8; color:#FFF;}
/* addcomment */
.mt20{margin-top:20px;}
.m-commentGo{vertical-align:top;}
.addComments,.m-newsInfo{float:right; border:#dfdfdf solid 1px; width:590px; }
.comment_form .head{height:40px; line-height:40px; background:#ececec;}
.comment_form .head .L{float:left; padding:0 20px; background:#fff; font-size:15px;}
.comment_form .head .R{float:right; padding-right:20px;}
.comment_form .left{width:15%; text-align:right; padding:10px;}
.comment_form .right{float:left; padding:10px 0;}
.comment_form  .right textarea{width:350px;}
#comment_submit{margin-bottom:10px; width:100px; height:30px; line-height:30px; background:#f9861f; color:#fff; font-size:15px; text-align:center; border-radius:5px; border:0;}
.comment_form  .cont{padding:5px;}
.comment_form  .cont .list{padding-top:5px; height:20px; line-height:20px;}
.comment_form  .cont .list span{display:block; width:50px; float:left; text-align:right; border-right:#CCC solid 1px; padding-right:10px; color:red;}
.comment_form  .cont .list a{float:left; padding-left:8px; color:#226395;}
