.TopBanner{
	width:1200px;
	margin:auto;
	position:relative;
}
.TopBanner .OpenAd{
	width:25px;
	height:18px;
	position:absolute;
	right:0;
	top:2px;
	cursor:pointer;
}
#ShowMainAd{
	text-align:center;
}
#ShowMainAd img{
	width:1200px;
}
.TopBanner .ColseAd{
	width:50px;
	height:22px;
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	display:none;
}