<!--
<?php
print <<<EOT
--> 
<form name="form1" method="post" action="$admin_path&action=$job">
<div class="MainContainers">
  <div class="Header"><span class="tag">栏目修改</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
    <ul class='notes'><li><font color="#0000FF">打开详细选项设置&gt;&gt;&gt;</font><font color="#FF0000"> 
        <input type="checkbox" name="showmore" value="checkbox" id="showmore" onClick="show_more(0);" checked></font></li></ul>
      <table class="FormTable">

    <tr> 
      <td colspan="2">
        <div class='ListLinkCont'>
          <a href="$Murl/list.php?fid=$fid" target="_blank">浏览前台</a>
          <a href="$admin_path&file=list&job=list&fid=$fid">管理内容</a>
        </div>
        </td>
    </tr>

    <tr> 
      <td class='tdL'>栏目名称:</td>
      <td class='tdR'> 
        <input type="text" name="postdb[name]" value="$rsdb[name]">
      </td>
    </tr>
    <tr> 
      <td class='tdL'> 父栏目FID: (不选择,将作为顶级栏目) </td>
      <td class='tdR'> 
        <select name="postdb[fup]">
          <option value="0">请选择</option>{$fup_select}
        </select>
      </td>
    </tr>
    <tr  class="hidetr" style="display:$smallsort"> 
      <td class='tdL'> 列表页每页显示多少条内容: </td>
      <td class='tdR'> 
        <input type="text" name="postdb[maxperpage]" size="5" value="$rsdb[maxperpage]">
        行 (留空或为0则以默认为标准)</td>
    </tr>
    <tr  class="hidetr"> 
      <td class='tdL'> 跳转到外部地址: (输入其它地址后,将不会显示本栏目)<br>
      </td>
      <td class='tdR'> 
        <input type="text" name="postdb[jumpurl]" value="$rsdb[jumpurl]" size="60">
      </td>
    </tr>
<tr> 
      <td class="tdL">栏目图标:</td>
      <td class="tdR m-R"> 
        <span><em><input type="text" name="postdb[logo]" value="$rsdb[logo]"  id='atc_logo' size="40"/></em><em class="m-upPic">
		<iframe frameborder=0 height=30  scrolling=no src='$webdb[www_url]/do/upfile.php?fn=upfile&dir={$_pre}sort&label=atc_logo' width=380></iframe></em></span></td>
    </tr>
	 <tr  class="hidetr">
      <td class='tdL'>SEO优化:</td>
      <td class='tdR'> 标题(title): &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" name="postdb[metatitle]" size="35" value="$rsdb[metatitle]">
        <br><br>关键字(metakeywords):
        <input type="text" name="postdb[metakeywords]" size="35" value="$rsdb[metakeywords]">
        <br><br>
        描述(metadescription): 
        <input type="text" name="postdb[metadescription]" size="35" value="$rsdb[metadescription]">
        <br>
        <br>
        部分变量如下:<br>
        {city_name} 代表当前城市名称<br>
        {sort_name} 代表栏目名称</td>
    </tr>
    $TempLate 

  </table>
    <div class='submits'>
        <input type="submit" name="Submit" value="提交">
        <input type="hidden" name="postdb[fid]" value="$fid">
    </div>
    </div>
    </div>
</form>

<SCRIPT LANGUAGE="JavaScript">
<!--
function show_more(va){
  var s=document.getElementsByTagName("tr");
  for(var i=0;i<s.length;i++){
    if( document.form1.showmore.checked==true ||va==1 ){
      if(s[i].className=='hidetr'){
        s[i].style.display="";
      } 
    }else{
      if(s[i].className=='hidetr'){
        s[i].style.display="none";
      } 
    }
  }
}
//show_more(1);
//-->
</SCRIPT>
<script type="text/javascript">
<!--
function upfile(url,name,size,ty){
	document.getElementById(ty).value=url;
}
//-->
</script>

<!--
EOT;
?>
-->
