<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">
            <h3 class="L"></h3>
            <span class="TAG">订单消费</span>
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle">
          <form name="form_order" method="post" action="" enctype="multipart/form-data">
          <div style="padding:30px;text-align:center;">
          消费密码：
          <input type="text" name="password" size="15" value="$password"/>
          <input type="submit" name="Submit" value="提交"/>
          <input name="action" type="hidden" value="ckeck" />
          </div>
         </form>
         <div style="padding:0 0 30px 0;text-align:center;">$echo_word</div>
          </td>
        </tr>
        <tr>
          <td class="foot">
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
