<!--
<?php
print <<<EOT
--> 
<form name="form_work" method="post" action="index.php?lfj=$lfj&action=make">
<div class="MainContainers">
  <div class="Header"><span class="tag">百度Sitemap管理</span><span class="more">&gt;&gt;</span></div>
  <div class="Conter">
    <table class="ListTable">
    <tr> 
      <td class='Left'> 
        <div class='submits'><input type="submit" name="Submit" value="一键生成百度Sitemap"></div>
      </td>
    </tr>
  </table>
</div>
</div>
</form>
 
<div class="MainContainers">
  <div class="Header"><span class="tag">帮助说明:</span></div>
  <div class="Conter">
    <ul class="notes">
      <li>1.Sitemap 可方便管理员通知搜索引擎你的网站上有哪些可供抓取的网页，主动告诉搜索引擎要收录哪些内容。</li>
      <li>  2.请点击<a href="http://zhanzhang.baidu.com/sitemap/index" target="_blank">百度Sitemap提交入口</a>，把以下网址提交进去：$webdb[www_url]/baidu_sitemap.xml</li>
    </ul>
  </div>
</div>
<!--
EOT;
?>
-->
