/*
*css reset
*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:16px/26px 'Microsoft Yahei','Simsun';color:#333;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#2d374b;}
a:hover {color:#d00;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
img {vertical-align:middle;}
/*
*
*/
body{
	background:#EFEFEF;
}
.MainContainer{
	max-width:640px;
	margin:auto;
}
.topCont{
	width:100%;
	height:40px;
	background:#999;
	overflow:hidden;
	position:relative;
	color:#FFF;
	line-height:40px;
}
.topCont .home,.topCont .member{
	width:40px;
	height:40px;
	overflow:hidden;
	position:absolute;
	top:0;	
}
.topCont .home{
	left:0;
	background:url(home.png) center 4px no-repeat;
	background-size:30px 30px;
}
.topCont .member{
	right:0;
	background:url(user.png) center 4px no-repeat;
	background-size:30px 30px;
}
.topCont .home a,.topCont .member a{
	display:block;
	text-indent:40px;
}
.topCont .actname{
	text-align:center;
	padding:0 45px 0 45px;
}
.PostForme{
	padding:10px;
}
.PostForme ul.listone{
	clear:both;
	height:35px;
	overflow:hidden;
	background:#FFF;
	border:#DDD solid 1px;
	margin-bottom:10px;
	border-radius:5px;
	line-height:35px;
}
.PostForme ul.listone ol{
	float:left;
	padding:0 5px 0 10px;
	color:#666;
}
.PostForme ul.listone li{
	float:left;
	color:#666;
}
.PostForme ul.listone ol span{
	color:red;
}
.PostForme dl{
	width:100%;
	position:relative;
	clear:both;
	padding-top:29px;
	margin-bottom:10px;
}
.PostForme dl dt{
	width:100%;
	height:30px;
	overflow:hidden;
	z-index:100;
	position:absolute;
	left:0;
	top:0;
}
.PostForme dl dt div{
	float:left;
	border:#DDD solid 1px;
	background:#FFF;
	line-height:30px;
	padding:0 10px 0 10px;
	color:#666;
	border-radius:5px 5px 0 0;
}
.PostForme dl dt div span{
	color:red;
}
.PostForme dl dd{
	border:#DDD solid 1px;
	padding:5px;
	background:#FFF;
	border-radius:0 5px 5px 5px;
	color:#666;
}
.PostForme input[type='text']{
	width:100%;
	border:#DEDEDE solid 1px;
	height:25px;
	line-height:25px;
	border-radius:3px;
	color:#888;
	text-indent:5px;
}
.PostForme dl dd select{
	border:#DEDEDE solid 1px;
	border-radius:3px;
	color:#888;
}
.PostForme dl dd textarea{
	width:100%;
	height:300px;
	border:#DEDEDE solid 1px;
	border-radius:3px;
	color:#666;
}
.PostForme .Submits{
	text-align:center;
	padding:10px;
}
.PostForme .Submits input{
	border:#F30 solid 1px;
	padding:5px 10px;
	border-radius:5px;
	-webkit-box-shadow:0 0 3px #F30;  
	-moz-box-shadow:0 0 3px #F30;  
	box-shadow:0 0 3px #F30;
	background: -moz-linear-gradient(top,#F60,#F90);
    background: -webkit-gradient(linear,top,from(#F60),to(#F90));
    background: -webkit-linear-gradient(top,#F60,#F90);
    background: -o-linear-gradient(top,#F60,#F90);
	color:#FFF;
	cursor:pointer;
}
.PostForme dl dd.YzCode{
	height:30px;
	overflow:hidden;
}
.PostForme dl dd.YzCode span{
	display:block;
	width:80px;
	height:30px;
	line-height:30px;
	overflow:hidden;
	float:left;
	padding-right:5px;
}
.PostForme dl dd.YzCode span img{
	vertical-align:middle;
}
.PostForme dl dd.ListDiv div{
	height:30px;
	line-height:30px;
	overflow:hidden;
	margin:0;
	padding-left:5px;
}
/*shop_type*/
.shop_type{
	border:#DDD solid 1px;
}
.shop_type div.list ul,.shop_type div.list ul li div{
	width:100%;
	display: table;
}
.shop_type div.list ul{
	border-top:#DDD solid 1px;
}
.shop_type div.list ul ol,.shop_type div.list ul li,.shop_type div.list ul li div span{
	display: table-cell;
	vertical-align:middle;
	text-align:center;
}
.shop_type div.list ul.h{
	background:#EFEFEF;
	border-top:0;
}
.shop_type div.list ul ol{
	width:40%;
}
.shop_type div.list ul li div{
	border-top:#DDD solid 1px;
}
.shop_type div.list ul li div:nth-child(1){
	border-top:0;
}
.shop_type div.list ul li div span{
	width:30%;
	border-left:#DDD solid 1px;
	padding:5px 0 5px 0;
}
.shop_type div.list ul li div span:nth-child(1){
	width:40%;
}
/*PicList*/
.PicList{
	height:30px;
	overflow:hidden;
	color:red;
}
.addMorePic{
	text-align:center;
	padding:5px;	
}
.addMorePic span{
	display:inline-block;
	border:#1C5F97 solid 1px;
	padding:5px 10px;
	border-radius:5px;
	-webkit-box-shadow:0 0 3px #1C5F97;  
	-moz-box-shadow:0 0 3px #1C5F97;  
	box-shadow:0 0 3px #1C5F97;
	background: -moz-linear-gradient(top,#1C5F97,#97B7D1);
    background: -webkit-gradient(linear,top,from(#1C5F97),to(#97B7D1));
    background: -webkit-linear-gradient(top,#1C5F97,#97B7D1);
    background: -o-linear-gradient(top,#1C5F97,#97B7D1);
	color:#FFF;
	cursor:pointer;
}
.Share_Message{ 
	position: fixed; 
	width:100%; 
	height: 100%; 
	background: rgba(0,0,0,0.8);
	z-index: 900000; 
	top:0; 
	left: 0; 
	display: none;/**/
}
.upflieBox{
	position: fixed; 
	border:#F90 solid 1px;
	width:300px;
	background:#FFF;
	margin:80px auto 0 auto;
	border-radius: 5px;
	text-align:center;
	top:80px; 
	left: 0;
	z-index: 900001;
	display: none;
}
.upflieBox p{
	padding:15px;
	text-align:center;
}
.upflieBox a,.up_sub{
	display:inline-block;
	padding:5px 10px;
	border:#F30 solid 1px;
	background:#F60;
	border-radius: 5px;
	color:#FFF;
	margin:5px auto 20px auto;
}
.up_sub{
	padding:0px 8px;
	margin:0 auto 0 5px;
}
#uploadImage{
	border:#DDD solid 1px;
	background:#EFEFEF;
}
.hide{
	display: none;
}
